<app-nav></app-nav>
<div class="container">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active"><a class="breadcrumb-link" href="javascript:void(0)">Liên hệ</a></li>
    
    </ol>
</div>

<div class="row row-small align-center mt-5" id="row-1503886085">
    <div  class="col mh-col-contact medium-4 small-6 large-4">
        <div class="col-inner">
            <div class="icon-box featured-box icon-box-center text-center">
                <div class="icon-box-img"><i class="fas fa-phone"></i></div>
                <div class="box-text">
                    <h4>Hotline</h4>
                    <p style="word-break: break-all;"><a href="#">077.361.4420<br> </a></p>
                </div>
            </div>
        </div>
    </div>
    <div  class="col mh-col-contact medium-4 small-6 large-4">
        <div class="col-inner">
            <div class="icon-box featured-box icon-box-center text-center">
                <div class="icon-box-img"><i class="fas fa-envelope-open"></i></div>
                <div class="box-text">
                    <h4>Email</h4>
                    <p style="word-break: break-all;"><a href="#">webmaster@circleshop.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mh-col-contact medium-4 small-12 large-4">
        <div class="col-inner">
            <div class="icon-box featured-box icon-box-center text-center">
                <div class="icon-box-img"><i class="fas fa-map-marker-alt"></i></div>
                <div class="box-text">
                    <h4>Địa chỉ</h4>
                    <p style="word-break: break-all;">23/25D đường số 1, phường Bình Thuận, Q.7, TP.HCM</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>