<a class="float-btn-cart" routerLink="/cart" (mouseover)="showInfo=true" (mouseleave)="showInfo=false">
  <i class="fas fa-shopping-cart float-btn-icon"></i>
</a>
<a class="float-btn-cart-number animate__animated animate__slideInRight animate__faster " *ngIf="showInfo">
  <p class="text-monospace">{{totalItem}}</p>
</a>
<a class="float-btn-cart-price animate__animated animate__slideInRight animate__faster" *ngIf="showInfo">
  <p class="text-monospace"><span>{{(totalPrice) | number:'1.0':'en-US' }}</span> VND</p>
</a>

<!-- <div class="float-btn-cart-container">


  <a class="float-btn-cart" routerLink="/cart">
    <i class="fas fa-shopping-cart float-btn-icon"></i>
  </a>
  <a class="float-btn-cart-number animate__animated animate__zoomIn animate__faster ">
    <p class="text-monospace">{{totalItem}}</p>
  </a>
  <a class="float-btn-cart-price animate__animated animate__zoomIn animate__faster">
    <p class="text-monospace"><span>{{(totalPrice) | number:'1.0':'en-US' }}</span> VND</p>
  </a>

</div> -->
<!-- <div id="fb-root"></div>

<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "109678164834732");
  chatbox.setAttribute("attribution", "biz_inbox");

  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v12.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script> -->