/* You can add global styles to this file, and also import other style files */
#navbarSupportedContent ul li a{
    color: white;
}
body{
    width: 100%;
    min-height: 100%;
}
.dd-menu a{
    color: black!important;
}
.HF-graphen-style{font-family:monospace;}
.HF-btn{display:inline-block;font-family:Lunchbox-Regular,sans-serif;font-size:25px;line-height:1;text-transform:uppercase;color:#fff;}

.HF-bg-offwhite{background-color:#f7f7f7;}
.HF-data-container-section{display:grid;padding:22px 48px;grid-row-gap:32px;}
.HF-data-container-section-item{display:block;-ms-flex-preferred-size:100%;flex-basis:100%;padding:0 16px 10px 16px;}
.HF-data-container-panel{display:grid;grid-column-gap:32px;grid-row-gap:32px;grid-template-columns:minmax(auto,1fr);-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.HF-section-heading{font-size:2.5em;line-height:1.25em;margin:-.25em 0;letter-spacing:.025em;font-family: monospace;}
.HF-featured-grid-header{grid-template-columns:minmax(auto,650px);}
.HF-featured-grid-header-container{text-align:center;}
.HF-featured-grid-body{grid-template-columns:minmax(auto,1200px);display:grid;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.HF-featured-grid-body-container{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;}
.HF-featured-grid-item{-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;float:left;}
.HF-featured-grid-item-text-container{text-align:center;margin-top:10px;}
.HF-grid-item-heading{font-size:2em;line-height:1.25em;letter-spacing:.025em;}
.HF-featured-grid-item-description{font-size:1.5em;line-height:1.5em;margin:-.25em 0;}
.HF-featured-grid-item-link{font-size:1.5em;letter-spacing:1px;display:inline-block;line-height:1;}
.HF-figure-overflow{overflow:hidden;}
.HF-hover-img{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out;}
.HF-hover-img:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
@media only screen and (max-width:1279px){
.HF-btn{font-size:.8em;}
.btn-secondary{width:100%;margin-bottom:0;padding:10px 8px;}
.HF-grid-item-heading{font-size:1.5em;line-height:1.25em;margin:-.25em 0;letter-spacing:.025em;}
.HF-featured-grid-item-description{font-size:1em;}
.HF-featured-grid-item-link{font-size:1.5em;letter-spacing:1px;display:inline-block;line-height:1;}
}
@media only screen and (min-width:769px) and (max-width:1150px){
.HF-btn{font-size:.8em;}
.btn-secondary{width:100%;margin-bottom:0;padding:10px;}
.HF-grid-item-heading{font-size:1.2em;line-height:1.25em;margin:-.25em 0;letter-spacing:.025em;}
.HF-featured-grid-item-description{font-size:1em;}
.HF-featured-grid-item-link{font-size:1.5em;letter-spacing:1px;display:inline-block;line-height:1;}
}
@media only screen and (max-width:768px){
.HF-btn{font-size:.7em;}
.btn-secondary{width:100%;margin-bottom:0;padding:10px;}
.HF-icon-right{float:right;}
.HF-data-container-section{padding:32px 16px;}
.HF-data-container-section-item{padding:0 12px 12px 12px;}
.HF-section-heading{font-size:2em;}
.HF-grid-item-heading{font-size:1.5em;line-height:1.25em;margin:-.25em 0;letter-spacing:.025em;}
.HF-featured-grid-item{min-height:370px;}
.HF-featured-grid-item-description{font-size:0.8em;}
.HF-featured-grid-item-link{font-size:1.5em;letter-spacing:1px;display:inline-block;line-height:1;}
}
@media only screen and (max-width:479px){
.HF-btn{font-size:.7em;display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-evenly;}
.btn-secondary{width:100%;margin-bottom:0;padding:10px;}
.HF-icon-right{float:right;}
.HF-data-container-section{padding:32px 16px;}
.HF-data-container-section-item{padding:0 12px 12px 12px;}
.HF-section-heading{font-size:2em;}
.HF-grid-item-heading{font-size:1.3em;line-height:1.25em;margin:-.25em 0;letter-spacing:.025em;}
.HF-featured-grid-item{min-height:350px;}
.HF-featured-grid-item-description{font-size:0.7em;}
.HF-featured-grid-item-link{font-size:1.5em;letter-spacing:1px;display:inline-block;line-height:1;}
}
img{max-width:100%;height:auto;}
img{-ms-interpolation-mode:bicubic;}
img{display:inline-block;vertical-align:middle;}
@media only screen{
.small-6{position:relative;width:50%;}
}
@media only screen and (min-width:768px){
.large-3{position:relative;width:25%;}
}
ol.breadcrumb{max-width:100%;overflow:hidden;}
ol.breadcrumb > li{white-space:nowrap;}
.breadcrumb{margin-bottom:10px;list-style:none;background-color:#111;margin-top: -2px;}
.breadcrumb > li{display:inline-block;text-transform:uppercase;}
.breadcrumb > li + li:before{padding:0 5px;color:#cccccc;content:"/\00a0";}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 80%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  .card-info {
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
@keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  


/*! CSS Used from: http://html.berserk.nikadevs.com/css/skins/brk-base-color.css */
.brk-base-font-color{color:var(--brand-primary);}
.brk-dark-font-color{color:#585858;}

.font__family-open-sans{font-family:'Open Sans',sans-serif;}
.font__family-montserrat{font-family:'Montserrat',sans-serif;}
.font__weight-semibold{font-weight:600;}
.font__weight-bold{font-weight:700;}
.font__size-13{font-size:.8125rem;}
.font__size-14{font-size:.875rem;}
.font__size-15{font-size:.9375rem;}
.font__size-16{font-size:1rem;}
@media (min-width:576px){
.font__size-sm-14{font-size:.875rem;}
}
.line__height-20{line-height:1.25rem;}
.line__height-22{line-height:1.375rem;}
.line-height-1-25{line-height:1.25;}
.line-height-1-375{line-height:1.375;}
.line-height-1-5{line-height:1.5;}


.brk-form-round [type=text]{width:100%;height:54px;border-radius:27px;font-size:.875rem;padding:0 20px 0 30px;box-shadow:none;background-color:var(--white);border:2px solid rgba(205,205,205,.2);color:var(--brk-dark-base);}
.brk-form-round [type=text]::-webkit-input-placeholder{color:rgba(var(--brk-dark-base-rgb),.4);opacity:1;}
.brk-form-round [type=text]::-moz-placeholder{color:rgba(var(--brk-dark-base-rgb),.4);opacity:1;}
.brk-form-round [type=text]:-ms-input-placeholder,.brk-form-round [type=text]::-ms-input-placeholder{color:rgba(var(--brk-dark-base-rgb),.4);opacity:1;}
.brk-form-round [type=text]::placeholder{color:rgba(var(--brk-dark-base-rgb),.4);opacity:1;}
.brk-form-round [type=text]:active,.brk-form-round [type=text]:focus{box-shadow:0 5px 16px rgba(165,165,165,.5);border-color:var(--brk-base-2);}
.brk-form-round-btn-inside-full{position:relative;}
.brk-form-round-btn-inside-full button{position:absolute;right:0;top:0;z-index:1;}
/*! CSS Used from: http://html.berserk.nikadevs.com/css/components/steps.css */
.steps__wrapper{display:flex;justify-content:space-between;align-items:center;text-align:center;}
.steps__wrapper-checkers li.complete .active .steps__dot>.before{width:4px;}
.steps__wrapper-checkers{position:relative;z-index:1;margin:0 7px;}
@media (min-width:992px){
.steps__wrapper-checkers{margin:0 0 30px;}
}
.steps__wrapper-checkers:before{content:'';position:absolute;left:50%;bottom:50%;transform:translate(-50%,50%);width:calc(100% - 2px);height:8px;background:#e8f0fe;box-shadow:inset 0 1px 15px -8px #000;z-index:-1;}
.steps__wrapper-checkers li{cursor:pointer;position:relative;}
.steps__wrapper-checkers li.complete .steps__dot{background:var(--brand-primary);color:transparent;}
.steps__wrapper-checkers li.complete .steps__dot:before{color:#fff;}
.steps__wrapper-checkers li:not(.complete) .steps__dot{background:#e8f0fe!important;}
.steps__wrapper-checkers li:last-child{margin-right:-1px;}
.steps__wrapper-checkers .steps__title{color:#333;position:absolute;top:45px;left:50%;transform:translate(-50%,0%);min-width:80px;}
.steps__wrapper-checkers .steps__progress{height:2px;background:var(--brand-primary);position:absolute;top:50%;transform:translateY(-50%);transition:all .4s ease;left:0;}
.steps__wrapper-checkers .steps__dot{margin:0 auto;color:#333;width:30px;height:30px;transition:all .4s ease;border-radius:50%;position:relative;z-index:1;display:flex;justify-content:center;align-items:center;border:0;}
.steps__wrapper-checkers .steps__dot:before{content:'\f00c';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);transition:all .4s ease;font-family:"Font Awesome 5 Free";font-weight:600;font-size:14px;color:transparent;z-index:20;}
.steps__wrapper-checkers .steps__dot>.after,.steps__wrapper-checkers .steps__dot>.before{position:absolute;left:0;background:var(--brand-primary);opacity:0;transition:all .4s ease;}
.steps__wrapper-checkers .steps__dot>.before{display:block;transform:translateY(-50%);height:2px;width:10px;top:50%;}
.steps__wrapper-checkers .steps__dot>.after{top:0;right:0;bottom:0;z-index:2;border-radius:50%;}
.steps__wrapper-checkers .steps__dot:after{content:'';position:absolute;top:-4px;left:-4px;right:-4px;bottom:-4px;border:5px solid #e7effd;border-radius:50%;z-index:-1;}
.steps__wrapper-checkers li.complete .steps__dot>.after{opacity:1;}
.steps__wrapper-checkers li.complete .steps__dot>.before{left:-4px;width:45px;opacity:1;transition-delay:.25s;}
.steps__wrapper-checkers li:first-child .steps__dot>.before{left:0;width:45px;opacity:1;}
/*! CSS Used from: http://html.berserk.nikadevs.com/css/components/cart.css */
.brk-cart{box-shadow:0 6px 30px 0 rgba(0,0,0,.1);position:relative;}
.brk-cart:after{content:'';position:absolute;left:0;bottom:0;right:0;height:2px;background-image:linear-gradient(to right,var(--brk-base-3),var(--brk-secondary-3));}
/* .brk-cart table{width:100%;border-collapse:collapse;margin:0;border:0;box-shadow:none;} */

.brk-cart__remove{border:0;position:relative;width:32px;height:32px;border-radius:50%;background-color:#eee;transition:background-color .3s;}
@media (min-width:992px){
.brk-cart__remove{margin:0 40px;}
}
.brk-cart__remove:after,.brk-cart__remove:before{content:'';position:absolute;top:50%;left:50%;background-color:#2a2b2f;width:2px;height:12px;transition:background-color .3s;}
.brk-cart__remove:before{transform:translate(-50%,-50%) rotate(45deg);}
.brk-cart__remove:after{transform:translate(-50%,-50%) rotate(-45deg);}
.brk-cart__remove:hover{background-color:red;}
.brk-cart__remove:hover:after,.brk-cart__remove:hover:before{background-color:#fff;}
.brk-cart__img{width:68px;height:68px;}
.brk-cart__count{display:flex;align-items:center;}
.brk-cart__count input{width:74px;border:0;text-align:center;font-size:1rem;line-height:24px;height:24px;font-family:"Montserrat",sans-serif;font-weight:700;-moz-appearance:textfield;}
.brk-cart__count button{width:16px;height:24px;position:relative;}
.brk-cart__count button i{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.brk-cart__footer{display:flex;flex-wrap:wrap;border-bottom:1px solid #e9e9e9;}
.brk-cart__footer-coupon{flex:0 0 525px;max-width:525px;padding:65px 55px 65px 40px;}
@media (max-width:1229px){
.brk-cart__footer-coupon{flex:0 0 450px;max-width:450px;padding:65px 35px;}
}
@media (max-width:991px){
.brk-cart__footer-coupon{flex:0 0 100%;max-width:100%;padding:20px 35px;}
}
@media (max-width:575px){
.brk-cart__footer-coupon{padding:20px 15px;}
}
.brk-cart__footer-coupon .btn-lg{padding:15px 45px;}
.brk-cart__footer-total{flex-basis:0;flex-grow:1;max-width:100%;background-color:#f8f9fb;border-left:1px solid #e9e9e9;padding:28px 15px 28px 73px;}
@media (max-width:1229px){
.brk-cart__footer-total{padding:28px 15px 28px 35px;}
}
@media (max-width:991px){
.brk-cart__footer-total{flex:0 0 100%;max-width:100%;border-left:none;border-top:1px solid #e9e9e9;}
}
@media (max-width:575px){
.brk-cart__footer-total{padding:20px 15px;}
}
.brk-cart__footer-total-item{display:flex;align-items:center;padding:11px 0;}
@media (max-width:575px){
.brk-cart__footer-total-item{padding:8px 0;}
}
.brk-cart__footer-total-item div:first-child{flex:0 0 292px;max-width:292px;}
@media (max-width:1229px){
.brk-cart__footer-total-item div:first-child{flex:0 0 220px;max-width:220px;}
}
@media (max-width:575px){
.brk-cart__footer-total-item div:first-child{flex:0 0 180px;max-width:180px;}
}
.brk-cart .btn{margin:0 5px;}
.brk-cart .btn-inside-out-invert{font-size:.8125rem;}
.brk-cart .btn-inside-out-invert>.after,.brk-cart .btn-inside-out-invert>.before{background:#fff;color:#272727;padding-left:30px;}
.brk-cart .btn-inside-out-invert.btn-icon [class*=fa-]::before{color:#242424;}
.brk-cart .btn-inside-out-invert:hover.btn-icon [class*=fa-]::before{color:#fff;}
.brk-cart .btn-inside-out.btn-icon-right .icon-inside~.text{padding-right:0;}
.brk-cart .btn-icon-right i{right:59px;}



.brk-form-wrap{margin-top:30px;}
.brk-form-strict [type=text]:not([disabled]),.brk-form-strict textarea:not([disabled]){width:100%;font-size:.875rem;background-color:transparent;}
.brk-form-strict [type=text]{width:100%;height:54px;border:0;border-radius:0;box-shadow:none;padding:0 15px 0 21px;transition:all .4s ease-in-out;border-bottom:1px solid var(--form-color-1);color:var(--brk-dark-base);}
.brk-form-strict [type=text]+.input-label,.brk-form-strict textarea+.input-label{position:absolute;top:22px;left:21px;display:block;font-size:.875rem;line-height:14px;transition:all .4s ease-in-out;color:#a2a5ad;white-space:nowrap;}
.brk-form-strict [type=text][required]+.input-label:after{content:"*";position:absolute;color:var(--brand-primary);padding-left:5px;}
.brk-form-strict textarea{min-height:170px;padding:10px 15px;line-height:18px;transition:all .4s ease-in-out;border:1px solid var(--form-color-1);}
.brk-form-strict textarea+.input-label{top:21px;}
.brk-form-wrap{position:relative;}
.brk-form-wrap .input-label{cursor:text;}
/*! CSS Used from: http://html.berserk.nikadevs.com/css/components/steps.css */
.steps__wrapper{display:flex;justify-content:space-between;align-items:center;text-align:center;}
.steps__wrapper-checkers li.complete .active .steps__dot>.before{width:4px;}
.steps__wrapper-checkers{position:relative;z-index:1;margin:0 7px;}
@media (min-width:992px){
.steps__wrapper-checkers{margin:0 0 30px;}
}
.steps__wrapper-checkers:before{content:'';position:absolute;left:50%;bottom:50%;transform:translate(-50%,50%);width:calc(100% - 2px);height:8px;background:#e8f0fe;box-shadow:inset 0 1px 15px -8px #000;z-index:-1;}
.steps__wrapper-checkers li{cursor:pointer;position:relative;}
.steps__wrapper-checkers li.complete .steps__dot{background:var(--brand-primary);color:transparent;}
.steps__wrapper-checkers li.complete .steps__dot:before{color:#fff;}
.steps__wrapper-checkers li:not(.complete) .steps__dot{background:#e8f0fe!important;}
.steps__wrapper-checkers li:last-child{margin-right:-1px;}
.steps__wrapper-checkers .steps__title{color:#333;position:absolute;top:45px;left:50%;transform:translate(-50%,0%);min-width:80px;}
.steps__wrapper-checkers .steps__progress{height:2px;background:var(--brand-primary);position:absolute;top:50%;transform:translateY(-50%);transition:all .4s ease;left:0;}
.steps__wrapper-checkers .steps__dot{margin:0 auto;color:#333;width:30px;height:30px;transition:all .4s ease;border-radius:50%;position:relative;z-index:1;display:flex;justify-content:center;align-items:center;border:0;}
.steps__wrapper-checkers .steps__dot:before{content:'\f00c';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);transition:all .4s ease;font-family:"Font Awesome 5 Free";font-weight:600;font-size:14px;color:transparent;z-index:20;}
.steps__wrapper-checkers .steps__dot>.after,.steps__wrapper-checkers .steps__dot>.before{position:absolute;left:0;background:var(--brand-primary);opacity:0;transition:all .4s ease;}
.steps__wrapper-checkers .steps__dot>.before{display:block;transform:translateY(-50%);height:2px;width:10px;top:50%;}
.steps__wrapper-checkers .steps__dot>.after{top:0;right:0;bottom:0;z-index:2;border-radius:50%;}
.steps__wrapper-checkers .steps__dot:after{content:'';position:absolute;top:-4px;left:-4px;right:-4px;bottom:-4px;border:5px solid #e7effd;border-radius:50%;z-index:-1;}
.steps__wrapper-checkers li.complete .steps__dot>.after{opacity:1;}
.steps__wrapper-checkers li.complete .steps__dot>.before{left:-4px;width:45px;opacity:1;transition-delay:.25s;}
.steps__wrapper-checkers li:first-child .steps__dot>.before{left:0;width:45px;opacity:1;}
/*! CSS Used from: http://html.berserk.nikadevs.com/css/components/alerts.css */
.alert{box-shadow:0 5px 14px 0 rgba(0,0,0,.1);border-radius:0;border:0;background:#fff;padding:26px 31px;border-left:3px solid;margin:0 auto 20px;position:relative;}
.alert .close{opacity:.5;line-height:26px;vertical-align:middle;box-shadow:none;text-shadow:none;}
.alert .close:focus,.alert .close:hover{color:inherit;opacity:1;}
.alert.fade{will-change:opacity;transition:opacity .3s ease-in-out;}
.alert.show{transition:opacity .15s linear;}
.alert-simple{color:#fff;}
.alert-simple.alert-primary{border-color:#00c5ff;color:#00c5ff;}
/*! CSS Used from: http://html.berserk.nikadevs.com/css/components/checkout.css */
.brk-checkout-order-item{display:flex;align-items:center;border:1px solid #e9e9e9;margin-bottom:12px;min-width:930px;}
.brk-checkout-order-item:last-child{margin-bottom:0;}
.brk-checkout-order-item__img{width:62px;height:62px;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;flex-shrink:0;margin-right:27px;}
.brk-checkout-order-item__title{flex-grow:1;}
.brk-checkout-order-item__price{width:240px;}
.brk-checkout-order-item__count{width:155px;}
.brk-checkout-order-item__price-total{width:160px;}
.brk-checkout-order-item__count,.brk-checkout-order-item__price,.brk-checkout-order-item__price-total{flex-shrink:0;padding-left:30px;}
.brk-checkout-order{position:relative;box-shadow:0 3px 20px rgba(0,0,0,.1);}
.brk-checkout-order__after{position:absolute;left:0;bottom:0;width:100%;height:3px;background-image:linear-gradient(to right,var(--brand-primary) 0%,var(--secondary) 100%);}
.brk-checkout-order__header{padding:25px 40px 26px;}
.brk-checkout-order__list{margin-left:40px;margin-right:40px;padding-bottom:50px;}
.brk-checkout-order__footer{border-top:1px solid #e9e9e9;display:flex;}
@media screen and (max-width:992px){
.brk-checkout-order__footer{flex-wrap:wrap;}
}
.brk-checkout-order__footer-section{width:100%;display:flex;height:130px;align-items:center;justify-content:center;border-right:1px solid #e9e9e9;}
@media screen and (max-width:992px){
.brk-checkout-order__footer-section{border-right:0;border-bottom:1px solid #e9e9e9;}
.brk-checkout-order__footer-section:last-child{border-bottom:0;}
}
.brk-checkout-order__footer-section:last-child{border-right:0;}
.brk-checkout-order__footer-section h3{display:flex;align-items:baseline;}
@media screen and (max-width:992px){
.brk-checkout-order .brk-checkout-order__header{padding:20px 15px;}
.brk-checkout-order .brk-checkout-order__list{margin-left:15px;margin-right:15px;padding-bottom:30px;}}
/*! CSS Used from: https://cuahangtienloi24h.com/wp-content/cache/breeze-minification/css/breeze_835308cf8086c1a4bd844a14c0d85ddd.css ; media=all */
@media all{
section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline-width:0;}
img{border-style:none;}
*,*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
img{max-width:100%;height:auto;display:inline-block;vertical-align:middle;}
a{-ms-touch-action:manipulation;touch-action:manipulation;}
.container{width:100%;margin-left:auto;margin-right:auto;}
.container{padding-left:15px;padding-right:15px;}
.container{max-width:1080px;}
.section{padding:30px 0;position:relative;min-height:auto;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row;flex-flow:row;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.section-bg{overflow:hidden;}
.section-bg,.section-content{width:100%;}
.section-content{z-index:1;}
.banner{position:relative;background-color:#446084;width:100%;min-height:30px;height: 50vh;}
.banner-bg{overflow:hidden;}
.banner-layers{max-height:100%;height:100%;position:relative;}
@media (max-width:549px){
.banner-layers{overflow:auto;-webkit-overflow-scrolling:touch;}
}
.banner-layers>*{position:absolute!important;}
.button{position:relative;display:inline-block;background-color:transparent;text-transform:uppercase;font-size:.97em;letter-spacing:.03em;cursor:pointer;font-weight:bolder;text-align:center;color:currentColor;text-decoration:none;border:1px solid transparent;vertical-align:middle;border-radius:0;margin-top:0;margin-right:1em;text-shadow:none;line-height:2.4em;min-height:2.5em;padding:0 1.2em;max-width:100%;-webkit-transition:border .3s,background .3s,opacity .3s,color .3s,-webkit-transform .3s,-webkit-box-shadow .3s;transition:border .3s,background .3s,opacity .3s,color .3s,-webkit-transform .3s,-webkit-box-shadow .3s;-o-transition:transform .3s,border .3s,background .3s,box-shadow .3s,opacity .3s,color .3s;transition:transform .3s,border .3s,background .3s,box-shadow .3s,opacity .3s,color .3s;transition:transform .3s,border .3s,background .3s,box-shadow .3s,opacity .3s,color .3s,-webkit-transform .3s,-webkit-box-shadow .3s;text-rendering:optimizeLegibility;-webkit-box-sizing:border-box;box-sizing:border-box;}
.button span{display:inline-block;line-height:1.6;}
.button{color:#fff;background-color:#446084;background-color:var(--primary-color);border-color:rgba(0,0,0,.05);}
.button:hover{outline:0;opacity:1;color:#fff;-webkit-box-shadow:inset 0 0 0 100px rgba(0,0,0,.2);box-shadow:inset 0 0 0 100px rgba(0,0,0,.2);}
.dark .button{color:#fff;}
.primary{background-color:#446084;}
.text-center .button:first-of-type{margin-left:0!important;}
.text-center .button:last-of-type{margin-right:0!important;}
i[class^=icon-]{font-family:"fl-icons"!important;font-display:block;speak:none!important;margin:0;padding:0;display:inline-block;font-style:normal!important;font-weight:normal!important;font-variant:normal!important;text-transform:none!important;position:relative;line-height:1.2;}
.button i{vertical-align:middle;top:-1.5px;}
.button:not(.icon)>i{margin-left:-.15em;margin-right:.4em;}
.button:not(.icon)>span+i{margin-right:-.15em;margin-left:.4em;}
img{-webkit-transition:opacity 1s;-o-transition:opacity 1s;transition:opacity 1s;opacity:1;}
.overlay{position:absolute;top:0;bottom:0;height:100%;left:-1px;right:-1px;background-color:rgba(0,0,0,.15);-webkit-transition:opacity .6s,-webkit-transform .3s;transition:opacity .6s,-webkit-transform .3s;-o-transition:transform .3s,opacity .6s;transition:transform .3s,opacity .6s;transition:transform .3s,opacity .6s,-webkit-transform .3s;pointer-events:none;}
.lazy-load{background-color:rgba(0,0,0,.03);}
.text-box{max-height:100%;}
.text-box .text-box-content{position:relative;z-index:10;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
a{color:#334862;text-decoration:none;}
a:focus,.button:focus{outline:0;}
a:hover{color:#000;}
.dark a{color:currentColor;}
.dark a:hover{color:#fff;}
.button{margin-bottom:1em;}
h4,h5{color:#555;width:100%;margin-top:0;margin-bottom:.5em;text-rendering:optimizeSpeed;}
h4{font-size:1.125em;}
h5{font-size:1em;}
.is-small,.is-small.button{font-size:.8em;}
.banner .button{margin-top:.5em;margin-bottom:.5em;}
.banner h4{padding:0;font-size:1.5em;margin-top:.6em;margin-bottom:.6em;}
.banner h5{padding:0;margin-top:1em;margin-bottom:1em;}
.container:after{content:"";display:table;clear:both;}
@media (max-width:549px){
.hide-for-small{display:none!important;}
}
@media (min-width:550px){
.show-for-small{display:none!important;}
}
.text-center{text-align:center;}
.text-center>div,.text-center>div>div{margin-left:auto;margin-right:auto;}
.relative{position:relative!important;}
.fill{position:absolute;top:0;left:0;height:100%;right:0;bottom:0;padding:0!important;margin:0!important;}
.bg-fill{background-size:cover!important;background-repeat:no-repeat!important;background-position:50% 50%;}
.is-invisible{visibility:hidden;opacity:0;}
@media screen and (max-width:549px){
.y15{top:15%;}
.x50{left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
}
@media screen and (min-width:550px)and (max-width:849px){
.md-y15{top:15%;}
.md-x50{left:50%;-webkit-transform:translateX(-50%)!important;-ms-transform:translateX(-50%)!important;transform:translateX(-50%)!important;}
}
@media screen and (min-width:850px){
.lg-y15{top:15%;}
.lg-x50{left:50%;-webkit-transform:translateX(-50%)!important;-ms-transform:translateX(-50%)!important;transform:translateX(-50%)!important;}
}
.res-text{font-size:11px;}
@media screen and (min-width:550px){
.res-text{font-size:1.8vw;}
}
@media screen and (min-width:850px){
.res-text{font-size:16px;}
}
.has-hover .bg{-webkit-transition:opacity .6s,-webkit-filter .6s,-webkit-transform .6s,-webkit-box-shadow .3s;transition:opacity .6s,-webkit-filter .6s,-webkit-transform .6s,-webkit-box-shadow .3s;-o-transition:filter .6s,opacity .6s,transform .6s,box-shadow .3s;transition:filter .6s,opacity .6s,transform .6s,box-shadow .3s;transition:filter .6s,opacity .6s,transform .6s,box-shadow .3s,-webkit-filter .6s,-webkit-transform .6s,-webkit-box-shadow .3s;}
.dark{color:#f1f1f1;}
.dark h4,.dark h5{color:#fff;}
.icon-angle-right:before{content:"";}
h4,h5,.text-center,.text-center h4,.text-center h5,.button{font-family:'Open Sans',sans-serif!important;}
.xemngaycss{padding-top:12px;letter-spacing:2px;font-size:30px;text-transform:uppercase;text-align:center;z-index:99999;width:40px;height:40px;line-height:40px;vertical-align:middle!important;cursor:pointer;-moz-animation:bounce 2s infinite;-webkit-animation:bounce 2s infinite;animation:bounce 2s infinite;color:rgba(255,255,255,.79);margin:0 auto;margin-top:100px;border:1px solid #fff;border-radius:30px;}
.xemngaycss:after{content:"\f107";font-family:"fl-icons";font-style:normal;font-weight:100!important;text-decoration:inherit;color:#fff;font-size:18px;position:absolute;top:0;left:13px;}
}
/*! CSS Used from: Embedded */
.bg{opacity:0;transition:opacity 1s;-webkit-transition:opacity 1s;}
.bg-loaded{opacity:1;}
/*! CSS Used from: Embedded */
.container{max-width:1170px;}
.button.primary:not(.is-outline),.banner{background-color:#51aa1b;}
h4,h5{font-family:"Open Sans", sans-serif;}
h4,h5{font-weight:600;}
h4,h5{color:#292929;}
a{color:#333333;}
a:hover{color:#51aa1b;}
::-webkit-scrollbar{width:8px;background-color:#f5f5f5;}
::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgb(0 0 0 / 30%);background:var(--primary-color);}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgb(0 0 0 / 30%);border-radius:10px;background-color:#f5f5f5;}
@media (max-width: 549px){
.xemngaycss{margin-top:50px;}
}
/*! CSS Used from: Embedded */
#text-1377379869{text-align:center;}
/*! CSS Used from: Embedded */
#text-box-1947309283{width:60%;margin-top: 7%;}
#text-box-1947309283 .text-box-content{font-size:100%;}
/*! CSS Used from: Embedded */
#banner-143461212 .bg.bg-loaded{background-image:url(https://cuahangtienloi24h.com/wp-content/uploads/2021/07/rev-slider_h4-2.jpg);}
#banner-143461212 .overlay{background-color:rgba(0, 0, 0, 0.186);}
/*! CSS Used from: Embedded */
#text-3731481661{text-align:center;}
/*! CSS Used from: Embedded */
#text-box-309416783{width:60%;}
#text-box-309416783 .text-box-content{font-size:100%;}
/*! CSS Used from: Embedded */
#banner-358118073 .overlay{background-color:rgba(0, 0, 0, 0.262);}
/*! CSS Used from: Embedded */
#section_893025223{padding-top:0px;padding-bottom:0px;}
/*! CSS Used keyframes */
@-moz-keyframes bounce{0%,20%,50%,80%,100%{-moz-transform:translateY(0);transform:translateY(0);}40%{-moz-transform:translateY(-30px);transform:translateY(-30px);}60%{-moz-transform:translateY(-15px);transform:translateY(-15px);}}
@-webkit-keyframes bounce{0%,20%,50%,80%,100%{-webkit-transform:translateY(0);transform:translateY(0);}40%{-webkit-transform:translateY(-30px);transform:translateY(-30px);}60%{-webkit-transform:translateY(-15px);transform:translateY(-15px);}}
@keyframes bounce{0%,20%,50%,80%,100%{-moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0);}40%{-moz-transform:translateY(-30px);-ms-transform:translateY(-30px);-webkit-transform:translateY(-30px);transform:translateY(-30px);}60%{-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-webkit-transform:translateY(-15px);transform:translateY(-15px);}}

.jTPYDY:hover{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
.product-img:hover{
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}


.shop-info{
    border: 2px solid;
    border-radius: 20px;
    padding: 30px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    width: 90%;
}
.rss-feed{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

}
.rss-feed a img{
    width: 80px!important;
    height: 80px!important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 14px;
}


.rss-feed a{
    display: inline;
    text-decoration: revert!important;
}
.rss-feed #text{
    display: inline;
}
.rss-feed-inner{
    /* border: 2px solid black; */
    padding: 10px;
    /* border-radius: 20px; */
    background-color: white;
    min-height: 275px;
    min-width: 100%;
}

.feed-title{
    height:47px;
    font-size: 17px;
}
.feed-time{
    height: 24px;
}
.feed-info{
    min-height: 110px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    font-weight: 450;
}
.feed-info div{
    display: none;
}
.feed-info p{
    max-width: 60%;
}


#chuyen-muc{
    border: solid 1px green;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}
.panel {
    border: none;
    box-shadow: none;
}

.panel-heading {
    border-color:#eff2f7 ;
    font-size: 16px;
    font-weight: 300;
}

.panel-title {
    color: #2A3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

/*product list*/

.prod-cat li a{
    border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
    color: #3b3b3b;
}

.prod-cat li ul {
    margin-left: 30px;
}

.prod-cat li ul li a{
    border-bottom:none;
}
.prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
    background: none;
    color: #ff7261;
}

.pro-lab{
    margin-right: 20px;
    font-weight: normal;
}

.pro-sort {
    padding-right: 20px;
    float: left;
}

.pro-page-list {
    margin: 5px 0 0 0;
}

.product-list img{
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
    position: relative;
}
.adtocart {
    background: #fc5959;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 3px solid #fff;
    left: 45%;
    bottom: -25px;
    position: absolute;
}

.adtocart i{
    color: #fff;
    font-size: 25px;
    line-height: 42px;
}

.pro-title {
    color: #5A5A5A;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}

.product-list .price {
    color:#fc5959 ;
    font-size: 15px;
}



.pro-d-title {
    font-size: 16px;
    margin-top: 0;
}

.product_meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
}

.product_meta span {
    display: block;
    margin-bottom: 10px;
}
.product_meta a, .pro-price{
    color:#fc5959 ;
}

.pro-price, .amount-old {
    font-size: 18px;
    padding: 0 10px;
}

.amount-old {
    text-decoration: line-through;
}

.quantity {
    width: 120px;
}

.pro-img-list {
    margin: 10px 0 0 -15px;
    width: 100%;
    display: inline-block;
}
.pro-img-details{
    border: solid;
    border-radius: 20px;
}
.pro-img-list a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pro-d-head {
    font-size: 18px;
    font-weight: 300;
}

.gradient-border {
--borderWidth: 3px;
background: white;
position: relative;
border-radius: var(--borderWidth);
width: 250px;
height: 200px;
}
.gradient-border:after {
content: '';
position: absolute;
top: calc(-1 * var(--borderWidth));
left: calc(-1 * var(--borderWidth));
height: calc(100% + var(--borderWidth) * 2);
width: calc(100% + var(--borderWidth) * 2);
background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
border-radius: calc(2 * var(--borderWidth));
z-index: -1;
animation: animatedgradient 3s ease alternate infinite;
background-size: 300% 300%;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.searchTerm {
width: 100%;
border: 3px solid #00B4CC;
border-right: none;
padding: 5px;
height: 36px;
border-radius: 5px 0 0 5px;
outline: none;
color: #9DBFAF;
}

.searchTerm:focus{
color: #00B4CC;
}

.searchButton {
width: 40px;
height: 36px;
border: 1px solid #00B4CC;
background: #00B4CC;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
width: 100%;
}
.pro-info{
    border: 3px solid #544bc8;
    border-radius: 2%;
    margin-bottom: 2%;background-color: transparent;
}

.ng-pagi{
    width: 100%;
    font-size: 10px;
    display: contents;
}

.div-center-content{
    margin:0 auto;
    width: 50%;display: block;margin-top: 3%;text-align: center;
}
.form-reg{
    border: solid;
    /* margin: 0%; */
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #007bff5c;
}
.float-btn{
    position:fixed;
    width:60px;
    height:60px;
    bottom:10px;
    right:10px;
    background-color:#d32323;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    z-index: 999;
}  
.float-btn-icon{
	margin-top:22px;
}  

.float-btn-nav{
    width:60px;
    height:60px;
    background-color:#d32323;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    z-index: 99;
    margin-bottom: 7%;
}

.float-btn-cart{
    position: fixed;
    width: 60px;
    height: 60px;
    /* bottom: 10px; */
    /* left: 10px; */
    background-color: #69c41a;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    z-index: 999;
    top: 68px;
    right: 10px;
}  
.float-btn-cart-container{
    position:fixed;
    width:60px;
    height:60px;
    bottom:10px;
    left:10px;
}
.cat-item {
   padding: 6px;
}
.cat-item a i{
    display: none;
 }
.cat-active a{
    color: #ff0800!important;
}
.cat-active a i{
    display: inline-block;
}
.float-btn-cart-container:hover .float-btn-cart-number  {
    display: block;
}
.float-btn-cart-container:hover .float-btn-cart-price {
    display: block;
}
.float-btn-cart-number{
    position: fixed;
    width: 35px;
    height: 30px;
    /* bottom: 60px; */
    /* left: 10px; */
    background-color: #d32323;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    z-index: 998;
    right: 60px;
    top: 72px;
}  
.float-btn-cart-price{
    position: fixed;
    width: 130px;
    height: 30px;
    /* bottom: 60px; */
    /* left: 43px; */
    background-color: #b3d323;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    z-index: 998;
    right: 60px;
    top: 100px;
}  

.float-btn-chat{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    /* right: 10px; */
    background-color: #2369d3;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    z-index: 999;
    left: 10px;
}  
.dflex-jus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
}
.breadcrumb-link{
    background-color: transparent;color: yellowgreen;
}
.brk-cart__footer-coupon button{
    width: 100%;
}

.p-quantity{
    margin-top: 16px;
}

.typeahead-tron-img{
    width: 80px;
    height: 80px;
}
.typeahead-tron{
    overflow-y: scroll; height:400px;
}
ngb-typeahead-window.dropdown-menu {
    max-height: 500px !important;
    overflow-y: auto;
}
.slide-tron{
    display: flex;
    justify-content: center;
}
.slide-tron-img{
    width: 100%; height: 70vh
}
.loading-full{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
}

.product-img{
    height: 400px;
    background-size: contain;
    width: 400px;
    
}
.dropdown-item.active, .dropdown-item:active {
    color: #000;
    /* text-decoration: none; */
    background-color: transparent;
    text-decoration: underline;
}
.product-similar{

    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.chat-box{
    position: fixed;
    width: 50%;
    height: 70%;
    bottom: 80px;
    padding: 2%;
    /* right: 30px; */
    background-color: white;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    z-index: 999;
    border: solid 2px black;
    color: #000;
    left: 20px;
}
.chat-scroll{
    padding: 4px;
    /* background-color: green; */
    width: 100%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    color: black;
}
.chat-line{
    color: black;
}
.chat-enter{
    height: 15%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
    align-content: center;
}
.chat-enter textarea{
    width: 75%;height: 75%;
    resize: none;
}
.chat-enter button{
    width: 15%;;height: 75%;
}
.chat-time{
    font-size: 11px;
    color: rgb(65, 54, 54);
}
.w-33{
    width: 33.33%;
}
.admin-button{
    width: 35px;
    height: 35px;
}
.thank-label{
    margin-top: 10%;
}
.top-nav-searchbar{
    width: 650px;
}
#new-button-switch{
    display: none;
}
.border-tron{
    border: solid 1px blue;
    border-radius: 20px;
}

.border-filter{
    border-right: solid 1px darkblue;
}

@media (max-width: 1399.98px) { 
    .float-btn-nav{
        display: none;
    }
    .top-nav-searchbar{
        width: 500px;
    }
    .product-img{
        height: 350px;
        width: 350px;        
    }
}
@media (max-width: 1199.98px) { 
    .review-box{
        width: 500px;
    }
    .chat-enter{
        height: 13%;
    }
    .chat-enter textarea{
        width: 70%;
    }
    .top-nav-searchbar{
        width:  295px;
    }
    .feed-title{
        height:24px;
    }
    .product-img{
        height: 300px;
        width: 300px;        
    }
}
@media (max-width: 991.98px) { 
    .chat-enter{
        height: 12%;
    }
}
@media (max-width: 767.98px) { 
    .feed-title{
        height:54px;
    }
    #slide-show{
        display: none;
    }
    #home-icons{
        display: none;  
    }
    /* #home-category{
        display: none!;  
    } */
    .order-tron{
        order:3!important
    }
    .loading-full{
        height: 200px;
    }
    .review-box{
        width: 300px;
    }
    .chat-box{
        width: 70%;
    }
    #side-info{
        display: none;
    }
    #secondary-feed{
        display: none;
    }
    #new-button-switch{
        display: flex;
        justify-content: space-evenly;
    }
}
@media (max-width: 575.98px) { 
    .HF-grid-item-heading{
        font-size: 15px;
    }
    .product-title{
        font-size: 15px;
    }
    .card{
        font-size: 10px;
    }
    .float-btn{
        width: 30px;
        height: 30px;
    }
    .float-btn-cart{
        width: 30px;
        height: 30px;
    }
    .float-btn-chat{
        width: 30px;
        height: 30px;
        bottom: 10px;
    }
    .float-btn-icon{
        margin-top: 8px;
    }
    .float-btn-cart-number{
        top: 75px;
        height: 20px;
        right: 40px;
    }
    .float-btn-cart-price{
        right: 0px;
        top: 95px;
    }
    .steps__title{
        font-size: 10px;
    } 
    .brk-cart__footer-coupon button{
        font-size: 10px;
    }
    .table-cart{
        font-size: 10px;
    }
    .table-cart tbody tr td a{
        font-size: 10px;
    }
    .table-cart tbody tr td span{
        font-size: 10px;
    }
    .table-cart tbody tr td button{
       display: none;
    }
    .text-tron{
        font-size: 14px!important;
    }
    .typeahead-tron-img{
        width: 40px;
        height: 40px;
    }
    #searchBarProduct{
        width: 100%;
    }
    .review-box{
        width: 160px;
    }
    .chat-box{
        width: 85%;
        bottom: 60px;
        right: 18px;
    }
    .chat-enter textarea{
        width: 65%;
    }
    .top-nav-searchbar{
        width:  250px;
    }
    .product-img{
        height: 250px;
        width: 250px;        
    }
    .sh-table{
        font-size: 10px;
    }
    .sh-table table thead tr td p{
        font-size: 10px;
    }
}

@media (max-width: 300px) { 
    .chat-box{
        width: 90%;
        right: 10px;
        bottom: 40px;
    }
    .chat-enter{
        height: 11%;
    }
    .chat-enter textarea{
        width: 60%;
    }
    .float-btn-cart{
        width: 30px;
        height: 30px;
        top:115px
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;padding-top: 65px; }
