
<div class="container-fluid   bg-warning" style="position: absolute;top: 0;">
    <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-start">
            <button class="btn btn-success "><i class="fas fa-sync-alt"></i> Tải lại dữ liệu</button>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <p class="lead mt-2"> Xem trước bản PDF</p>
        </div>
        <div class="col-4 d-flex justify-content-end">

            <button class="btn btn-primary " (click)="downloadAsPDF();"><i class="fas fa-download"></i> Tải
                xuống</button>
        </div>


    </div>

</div>
<div class="loading-full" *ngIf="isLoading">
    <div class="spinner-border text-info" role="status" style="width: 4rem;height: 4rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class="text monospace">Please wait a sec...</p>
</div>
<div class="container my-3" style="width: 210mm;border: solid 1px;" *ngIf="mode=='1'">
    <div id="pdfTable" #pdfTable *ngIf="!isLoading">

        <div class="">
            <div class="">

            </div>
            <div class="">
                <h4 class="" style="color: red;text-align: center;margin-top: 20px;margin-bottom: 10px;">Thống kê thông
                    tin sản phẩm</h4>
            </div>
            <div class="">

            </div>
        </div>
        <div class="">
            <div class="">
                <p class="">Ngày in : 27/12/2021 18:23:45</p>
                <p class="">Người in : Boss</p>
            </div>
        </div>

        <div _ngcontent-ddp-c96="" class="table-responsive">
            <table _ngcontent-ddp-c96="" class="table">
                <thead _ngcontent-ddp-c96="" class="thead-dark">
                    <tr _ngcontent-ddp-c96="">
                        <th>ID</th>
                        <th _ngcontent-ddp-c96="">Thông tin</th>
                        <th _ngcontent-ddp-c96="">Mô tả</th>
                        <th _ngcontent-ddp-c96="">Giá</th>
                        <th _ngcontent-ddp-c96="">Số lượng</th>
                        <th _ngcontent-ddp-c96="">Danh mục</th>
                        <th _ngcontent-ddp-c96="">Chỉnh sửa</th>
                        <th>SL Bán</th>
                    </tr>
                </thead>
                <tbody _ngcontent-ddp-c96="">
                    <tr *ngFor="let o of product">
                        <td>{{o.id}}</td>
                        <td>
                            <img src="{{o.imgUrl}}" style="width: 40px;height: 40px;">
                            <p class="text-tron text-monospace">{{o.name}}</p>
                        </td>
                        <td>{{o.description}}</td>
                        <td>{{o.price| currency:'VND':''}} <span style="text-decoration: underline;">đ</span></td>
                        <td>{{o.unitInStock}}</td>
                        <td>
                            <p class="text-tron text-success">{{getDisplayCategory(o.category)}}</p>
                        </td>
                        <td>{{o.lastUpdate}}</td>
                        <td>{{o.numSales}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<app-footer></app-footer>