<app-nav></app-nav>
<div class="container mt-3 ">
    <div class="main-body">

        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/home">Home</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a
                        class="breadcrumb-link">{{userInfo.displayName}}</a>
                </li>
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)">Đơn hàng</a></li>
            </ol>
        </nav>


        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{userInfo.imgUrl}}" alt="Admin" class="rounded-circle" width="150"
                                *ngIf="userInfo.imgUrl">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150" *ngIf="!userInfo.imgUrl">
                                <div class="container mt-3">
                                <h4>{{userInfo.displayName}}</h4>
                                <p class="text-secondary mb-1"><strong>Email : </strong>{{userInfo.email}}</p>
                                <p class="text-muted font-size-sm"><strong>ID : </strong>{{userInfo.id}}</p>
                                <p>Shop Xu : {{userInfo.coins}} <i class="fas fa-coins" style="color:#8c8c1b"></i></p>
                                <button class="btn btn-danger btn-block" (click)="signOut()"><i
                                        class="fas fa-sign-out-alt"></i>
                                    Logout</button>
                                <button class="btn btn-outline-info btn-block" routerLink="/password-recover"><i
                                        class="fas fa-key"></i>
                                    Password?</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group ">
                        <ul class="list-group ">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">

                                <button class="btn btn-outline-primary btn-block" routerLink="/profile/{{userInfo.id}}"><i
                                        class="fas fa-user"></i> Thông tin</button>
    
                                <button class="btn btn-primary btn-block"
                                    routerLink="/profile/{{userInfo.id}}/order"><i class="fas fa-shopping-cart"></i>
                                    Đơn hàng</button>
    
                                <button class="btn btn-outline-primary btn-block"
                                    routerLink="/profile/{{userInfo.id}}/favorite"><i class="far fa-heart"></i>
                                    Yêu thích</button>
                                <button class="btn btn-outline-primary btn-block" *ngIf="userInfo.roles[0]=='Administrator'"
                                    routerLink="/admin">
                                    <i class="fas fa-users-cog"></i> Quản trị viên
                                </button>
                                <button class="btn btn-outline-primary btn-block" *ngIf="userInfo.roles[0]=='Employee'"
                                    routerLink="/quanly">
                                    <i class="fas fa-users-cog"></i> Quản lý shop
                                </button>
                                <button class="btn btn-outline-primary btn-block" *ngIf="userInfo.roles[0]=='Shipper'"
                                    routerLink="/shipper">
                                    <i class="fas fa-truck-loading"></i> Trang giao hàng
                                </button>
                                <button class="btn btn-outline-primary btn-block"
                                routerLink="/profile/{{userInfo.id}}/xu" ><i class="fab fa-bitcoin"></i> Shop Xu
                                </button>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 animate__animated animate__fadeInRight">
                <div class="d-flex btn-group ">
                    <button type="button" class="btn btn-primary" (click)="currentTab='all';pageNumberOrder=1"><i class="fas fa-list"></i> Đơn hàng hiện tại</button>
                    <button type="button" class="btn btn-danger" (click)="currentTab='his';pageNumberOrder=1"><i class="fas fa-history"></i> Lịch sử giao hàng</button>
                </div>
                <div class="card">
                    <div class="card-header">
                     
                   
                        <h4 class="text-monospace" *ngIf="currentTab=='all'">Đơn hàng của bạn</h4>
                        <h4 class="text-monospace" *ngIf="currentTab=='his'">Lịch sử giao hàng</h4>
                    </div>
                    <table class="table ">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-monospace">#</th>
                                <th class="text-monospace">Ngày đặt</th>
                                <th class="text-monospace">Tổng sản phẩm</th>
                                <th class="text-monospace">Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="currentTab=='all'" class="animate__animated animate__fadeInRight">
                            <tr *ngFor="let o of pagedOrder">
                                <td class="text-monospace">{{o.id}}</td>
                                <td class="text-monospace">{{o.orderDate}}</td>
                                <td class="text-monospace">{{o.totalItem}}</td>
                                <td *ngIf="o.status==0">
                                    <span class="badge bg-info text-dark">Chưa duyệt</span>
                                </td>
                                <td *ngIf="o.status==1">
                                    <span class="badge bg-success">Đã duyệt</span>
                                </td>
                                <td *ngIf="o.status==2">
                                    <span class="badge bg-warning text-dark">Đang giao</span>
                                </td>
                                <td *ngIf="o.status==3">
                                    <span class="badge bg-danger">Hoàn thành</span>
                                </td>
                                <td *ngIf="o.status==4">
                                    <span class="badge bg-secondary">Hủy</span>
                                </td>
                                <td>
                                    <a class="btn btn-info" routerLink="/profile/{{userInfo.id}}/order/{{o.id}}">
                                        <i class="fas fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="currentTab=='his'" class="animate__animated animate__fadeInRight">
                            <tr *ngFor="let o of pagedOrderFinished">
                                <td class="text-monospace">{{o.id}}</td>
                                <td class="text-monospace">{{o.orderDate}}</td>
                                <td class="text-monospace">{{o.totalItem}}</td>
                                <td *ngIf="o.status==0">
                                    <span class="badge bg-info text-dark">Chưa duyệt</span>
                                </td>
                                <td *ngIf="o.status==1">
                                    <span class="badge bg-success">Đã duyệt</span>
                                </td>
                                <td *ngIf="o.status==2">
                                    <span class="badge bg-warning text-dark">Đang giao</span>
                                </td>
                                <td *ngIf="o.status==3">
                                    <span class="badge bg-danger">Hoàn thành</span>
                                </td>
                                <td *ngIf="o.status==4">
                                    <span class="badge bg-secondary">Hủy</span>
                                </td>
                                <td>
                                    <a class="btn btn-info" routerLink="/profile/{{userInfo.id}}/order/{{o.id}}">
                                        <i class="fas fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container d-flex justify-content-center " *ngIf="currentTab=='all'">
                    <div class="row">
                        <div class="col">
                            <div id="ng-pagi">
                                <ngb-pagination [(page)]="pageNumberOrder" [pageSize]="pageSizeOrder"
                                    [collectionSize]="allNoneFinishedOrder.length" [maxSize]="3" [boundaryLinks]=true
                                    (pageChange)="getPagedOrder()" size="sm">
                                </ngb-pagination>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container d-flex justify-content-center " *ngIf="currentTab=='his'">
                    <div class="row">
                        <div class="col">
                            <div id="ng-pagi">
                                <ngb-pagination [(page)]="pageNumberOrderFinished" [pageSize]="pageSizeOrder"
                                    [collectionSize]="allFinishedOrder.length" [maxSize]="3" [boundaryLinks]=true
                                    (pageChange)="getPagedOrder()" size="sm">
                                </ngb-pagination>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" p-3 connect_nofity " *ngIf="isDisconnect">
    <div id="liveToast" class="toast fade show p-3" role="alert" aria-live="assertive" aria-atomic="true">

        <div class="toast-header" style="background-color: #000000;
        color: beige;">
            <i class="fas fa-ban mr-2" style="color: red;"></i>
            <strong class="me-auto"> <b>Không thể kết nối với API!</b></strong>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
            ></button> -->
        </div>
        <div class="toast-body">
            Hãy kiểm tra kết nối mạng của bạn và thử tải lại trang.
        </div>

    </div>
</div>
<app-footer></app-footer>