<app-nav></app-nav>
<div class="loading-full" *ngIf="isLoading">
    <div class="spinner-border text-info" role="status" style="width: 4rem;height: 4rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class="text monospace">Please wait a sec...</p>
</div>
<div class="container" *ngIf="!isLoading">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)">Sản phẩm</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)">{{displayCategory}}</a></li>

        <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-link">{{product.name}}</a></li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="pro-img-details d-flex justify-content-center p-3" style="border: solid;"> <img
                    src="{{product.imgUrl}}" alt="" class="product-img animate__animated animate__zoomIn"></div>
        </div>
        <div class="col-md-6">
            <h4 class="pro-d-title mt-3"> <a href="#" class="mt-2 text-monospace text-lg lead"> {{product.name}} </a>
            </h4>
            <p class="lead">{{product.description}}</p>
            <div class="product_meta">
                <span class="posted_in">
                    <strong>Danh mục :</strong>
                    <a rel="tag"> {{ getDisplayCategory(product.category)}}</a>

                </span>
                <span class="posted_in">
                    <strong>Yêu thích :</strong>
                    <a rel="tag"> {{ product.favoritedUsers.length}} <i class="fas fa-users"></i></a>

                </span>
            </div>
            <div class="m-bot15">
                <strong>Giá :

                </strong>
                <div *ngIf="!promoInfo">
                    <span class="pro-price">
                        {{product.price|   currency:'VND':''}} <span class="currency-dis">đ</span> 
                    </span>
                </div>
                <div *ngIf="promoInfo">
                    <span class="pro-price" *ngIf="promoInfo.promotionPercent!='null'">
                        {{product.price-product.price*toNumber(promoInfo.promotionPercent)/100|   currency:'VND':''}} <span class="currency-dis">đ</span> 
                        <span class="badge bg-success" ngbTooltip="{{promoInfo.promotion.name}}&#013;
                                                Bắt đầu : {{promoInfo.promotion.startDate}}&#013;
                                                Kết thúc : {{promoInfo.promotion.endDate}}&#013;
                                                Giảm : {{promoInfo.promotionPercent}}%&#013;
                                                Giá gốc : {{product.price| currency:'VND':''}} đ" placement="auto"
                                    data-html="true">-{{promoInfo.promotionPercent}}%</span>
                    </span>

                    <span class="pro-price" *ngIf="promoInfo.promotionAmount!='null'">
                        {{product.price-toNumber(promoInfo.promotionAmount)|   currency:'VND':''}} <span class="currency-dis">đ</span> 
                        <span class="badge bg-danger" ngbTooltip="{{promoInfo.promotion.name}}&#013;
                                                Bắt đầu : {{promoInfo.promotion.startDate}}&#013;
                                                Kết thúc : {{promoInfo.promotion.endDate}}&#013;
                                                Giảm : {{promoInfo.promotionAmount}}VND&#013;
                                                Giá gốc : {{product.price| currency:'VND':''}} đ&#013;" placement="auto"
                                    data-html="true">-{{promoInfo.promotionAmount| currency:'VND':''}} <span
                                        class="currency-dis">đ</span></span>
                    </span>
                </div>
           
            </div>
            <p class="mt-3">
                <button class="btn btn-round btn-info" type="button" (click)="addToCart(product)"><i
                        class="fa fa-shopping-cart"></i> Thêm vào giỏ
                </button>
                <button class="btn btn-round btn-danger" type="button" (click)="addToFav(product)"><i
                        class="far fa-heart"></i> Yêu thích
                </button>

            </p>
        </div>
    </div>
    <blockquote class="blockquote mt-4 ml-5">
        <p class="text-monospace text-tron text-center" style="margin-right: 3rem;">Các sản phẩm tương tự</p>
    </blockquote>
    <div class="slick-list">
        <div class="slick-track product-similar">

            <ng-container *ngFor="let o of randomProducts">
                <div class="slick-slide slick-active animate__animated animate__slideInLeft" tabindex="-1" aria-hidden="false" style="outline: none; width: 207px;"
                 (click)="goToProductPage(o.id)" *ngIf="o.id!=product.id">
                <div >
                    <div rel="" class="Item__Wrapper-sc-m1oy8w-0 jayrsL" style="padding: 12px;"><a
                            style="width: 100%; height: 100%;">
                            <div class="Item__ProductImgWrapper-sc-m1oy8w-6 dgEsBx">
                                <div class="Item__ThumbnailWrapper-sc-m1oy8w-7 jTPYDY">
                                    <picture class="webpimg-container">

                                        <img alt="{{o.imgUrl}}" src="{{o.imgUrl}}"
                                            class="WebpImg__StyledImg-sc-h3ozu8-0 fWjUGo">
                                    </picture>
                                </div>
                            </div>
                            <div class="title" style="max-height: 40px; height: auto;">{{o.name}}</div>

                            <p class="price">{{o.price|   currency:'VND':''}} <span style="text-decoration: underline;">đ</span> </p>
                        </a></div>
                </div>
            </div>
            </ng-container>
     
        </div>
    </div>
    <div class="div-center-content mt-5">
        <h2 class="pdp-mod-section-title outer-title text-tron">Đánh giá &amp; Nhận xét của '{{product.name}}'</h2>
        <p class="text-monospace text-tron"><i class="far fa-star"></i><b>Đánh giá({{(avgRating).toFixed(2)}}) </b></p>
        <p class="text-monospace text-tron" *ngIf="product.reviews.length==0">
            Chưa có đánh giá cho sản phẩm này!
        </p>
        <p>
            5<i class="far fa-star"></i>({{fivestar}})
            <ngb-progressbar [showValue]="true" type="success" [value]="fivestar/product.reviews.length*100">
            </ngb-progressbar>
        </p>
        <p>
            4
            <i class="far fa-star"></i>({{fourstar}})
            <ngb-progressbar [showValue]="true" type="info" [value]="fourstar/product.reviews.length*100">
            </ngb-progressbar>
        </p>
        <p>
            3<i class="far fa-star"></i>({{threestar}})
            <ngb-progressbar [showValue]="true" type="warning" [value]="threestar/product.reviews.length*100">
            </ngb-progressbar>
        </p>
        <p>
            2
            <i class="far fa-star"></i>({{twostar}})
            <ngb-progressbar [showValue]="true" type="danger" [value]="twostar/product.reviews.length*100">
            </ngb-progressbar>
        </p>
        <p>
            1<i class="far fa-star"></i>({{onestar}})
            <ngb-progressbar [showValue]="true" type="primary" [value]="onestar/product.reviews.length*100">
            </ngb-progressbar>
        </p>
    </div>

    <!-- --------------------------------------------------------- -->

    <div class="d-flex justify-content-center mt-5">
        <header class="head-comment fmsidWidgetCommentListHead mr-3"><i class="far fa-comments"></i> <b>
                Nhận xét</b><span class="fmsidWidgetCommentListHeadText"></span> (<span
                class="fmsidWidgetCommentListCount">{{product.reviews.length}}</span>)
        </header>
        <div>Sắp xếp : <select class="select select-history select-lg" name="sort" (change)="sortChange()"
                [(ngModel)]="sort">
                <option value="d" selected="true">Mới nhất</option>
                <option value="a">Cũ nhất</option>
            </select>
        </div>
        <!-- <div>Rating : <select class="select select-history select-lg" name="rating">
                <option value="all" selected="true">All</option>
                <option value="5">5 Star</option>
                <option value="4">4 Star</option>
                <option value="3">3 Star</option>
                <option value="2">2 Star</option>
                <option value="1">1 Star</option>
            </select>
        </div> -->
    </div>
    <div class="d-flex justify-content-center mt-5 flex-column align-item-center" *ngIf="product.reviews.length!=0">
        <div *ngFor="let r of pagedReview " class="shopee-product-rating">
            <div>


                <a class="shopee-product-rating__avatar">
                    <div class="shopee-avatar">
                        <img src="{{r.user.imgUrl}}" style="width: 40px;height: 40px;border-radius: 50%;">
                    </div>
                </a>

                <div class="shopee-product-rating__main"><a
                        class="shopee-product-rating__author-name">{{r.user.displayName}}</a>
                    <div class="shopee-product-rating__rating">
                        <svg *ngFor="let i of [].constructor(r.star)" enable-background="new 0 0 15 15"
                            viewBox="0 0 15 15" x="0" y="0"
                            class="shopee-svg-icon icon-rating-solid--active icon-rating-solid">
                            <polygon
                                points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon>
                        </svg>
                        <!-- <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"
                    class="shopee-svg-icon icon-rating-solid--active icon-rating-solid">
                    <polygon
                        points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                        stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon>
                </svg> -->
                    </div>
                    <div class="shopee-product-rating__content">{{r.content}}</div>
                    <div class="shopee-product-rating__time">{{r.date}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center ">
        <div class="row">
            <div class="col">
                <div id="ng-pagi">
                    <ngb-pagination [(page)]="pageReview" [pageSize]="pageSizeReview"
                        [collectionSize]="product.reviews.length" [maxSize]="3" [boundaryLinks]=true
                        (pageChange)="getPagedReviews()" size="sm">
                    </ngb-pagination>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="product.reviews.length==0" class="mt-5">
        <p>Chưa có nhận xét nào cho sản phẩm này!</p>
    </div>
    <div class="mt-5">
        <p><b>Viết nhận xét của bạn</b></p>

        <div class="form-group" *ngIf="isLogin&&!alreadyReview||reWriteReview">
            <ngb-rating [(ngModel)]="rating" [max]=5 name="rating"></ngb-rating>
            <div class="form-text small">
                <div *ngIf="rating" class="text-success">Cảm ơn!</div>
                <div *ngIf="!rating" class="text-danger">Hãy đánh giá sản phẩm này!</div>
            </div>
        </div>

        <hr>
        <div class="form commentBoxContainer" *ngIf="isLogin&&!alreadyReview||reWriteReview">
            <div class="input review-box"><textarea class="text-cmt fmsidWidgetCommentMessage"
                    placeholder="Your review..." name="review" [(ngModel)]="review"></textarea></div>
            <p class="sent-cmt clearfix"><a id="btnSubmit" class="btnSubmit disabled fmsidWidgetCommentBtnSend"
                    (click)="addReview()">Gửi</a>
            </p>

        </div>
        <div *ngIf="!isLogin">
            <p>
                Đăng nhập để viết nhận xét về sản phẩm này!
            </p>
        </div>
        <div *ngIf="isLogin&&alreadyReview">
            <p>
                Bạn đã viết nhận xét về sản phẩm này.
            </p>
            <button class="btn btn-outline-success text-tron" (click)="reWriteReview=true" *ngIf="!reWriteReview">Chỉnh
                sửa nhận xét </button>
            <button class="btn btn-outline-danger text-tron" (click)="reWriteReview=false"
                *ngIf="reWriteReview">Hủy</button>
        </div>
        <div class="d-flex justify-content-center mt-5 flex-column align-item-center" *ngIf="isLogin&&alreadyReview">
            <div class="shopee-product-rating">
                <div>

                    <a class="shopee-product-rating__avatar">
                        <div class="shopee-avatar">
                            <img src="{{reviewedContent.imgUrl}}" style="width: 40px;height: 40px;border-radius: 50%;">
                        </div>
                    </a>

                    <div class="shopee-product-rating__main"><a
                            class="shopee-product-rating__author-name">{{reviewedContent.username}}</a>
                        <div class="shopee-product-rating__rating">
                            <svg *ngFor="let i of [].constructor(reviewedContent.star)"
                                enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"
                                class="shopee-svg-icon icon-rating-solid--active icon-rating-solid">
                                <polygon
                                    points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon>
                            </svg>
                        </div>
                        <div class="shopee-product-rating__content">{{reviewedContent.content}}</div>
                        <div class="shopee-product-rating__time">{{reviewedContent.date}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>