<app-nav></app-nav>
<div class="loading-full" *ngIf="isLoading">
    <div class="spinner-border text-info" role="status" style="width: 4rem;height: 4rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class="text monospace">Please wait a sec...</p>
</div>
<div class="container" *ngIf="!isLoading">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)">User</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-link">{{id}}</a></li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="pro-img-details d-flex justify-content-center" style="border: solid;"> <img
                    src="{{product.imgUrl}}" alt="" class="product-img"></div>
        </div>
        <div class="col-md-6">
            <h4 class="pro-d-title mt-3"> <a href="#" class="mt-2 text-monospace text-lg lead"> {{product.name}} </a>
            </h4>
            <p class="lead">{{product.description}}</p>
            <div class="product_meta">
                <span class="posted_in">
                    <strong>Categories :</strong>
                    <a rel="tag"> {{ product.category}}</a>

                </span>
            </div>
            <div class="m-bot15">
                <strong>Price :

                </strong>
                <span class="pro-price">
                    ${{product.price}}
                </span>
            </div>
            <p>
                <button class="btn btn-round btn-info" type="button" (click)="addToCart(product)"><i
                        class="fa fa-shopping-cart"></i> Add to
                    Cart
                </button>
                <button class="btn btn-round btn-danger" type="button" (click)="addToFav(product)"><i
                        class="fa fa-shopping-cart"></i> Add to
                    Favorite
                </button>

            </p>
        </div>
    </div>
    <blockquote class="blockquote mt-3 ml-5">
        <p>Recommended Products</p>
    </blockquote>
    <div class="slick-list">
        <div class="slick-track product-similar">

            <div  class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                style="outline: none; width: 207px;" *ngFor="let o of randomProducts" (click)="goToProductPage(o.id)">
                <div>
                    <div rel="" class="Item__Wrapper-sc-m1oy8w-0 jayrsL"
                        style="padding: 12px;"><a style="width: 100%; height: 100%;">
                            <div class="Item__ProductImgWrapper-sc-m1oy8w-6 dgEsBx">
                                <div class="Item__ThumbnailWrapper-sc-m1oy8w-7 jTPYDY">
                                    <picture class="webpimg-container">
                                        <!-- <source type="image/webp"
                                            srcset="https://salt.tikicdn.com/cache/200x200/ts/product/d6/bd/97/20d1ef37a3355741639f448f02a9f1ea.jpg.webp"> -->
                                        <img alt="{{o.imgUrl}}"
                                            src="{{o.imgUrl}}"
                                            class="WebpImg__StyledImg-sc-h3ozu8-0 fWjUGo">
                                    </picture>
                                </div>
                            </div>
                            <div class="title" style="max-height: 40px; height: auto;">{{o.name}}</div>

                            <p class="price">{{o.price}}$</p>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>