/*! CSS Used from: Embedded */

.hdozRK{display:block;position:absolute;z-index:2;}
.fWjUGo{object-fit:contain;}
.iTEXsX .slick-list{margin-left:0px;margin-right:0px;}
.iTEXsX .slick-track{display:flex;}
.iTEXsX .slick-slide{height:auto;}
.iTEXsX .slick-slide > div{height:100%;}
.jayrsL{position:relative;display:flex;flex-direction:column;-webkit-box-align:center;align-items:center;width:100%;height:100%;padding:12px 16px;background-color:rgb(255, 255, 255);}
.jayrsL:hover{box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 20px;z-index:1;}
.jayrsL .title{position:relative;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;max-height:40px;margin:0px;width:100%;color:rgb(36, 36, 36);font-size:13px;font-weight:400;font-style:normal;font-stretch:normal;line-height:1.54;letter-spacing:0.1px;text-align:left;text-overflow:ellipsis;overflow:hidden;word-break:break-word;}
.jayrsL .price{margin:0px;padding-top:3px;align-self:stretch;color:rgb(36, 36, 36);font-size:15px;font-weight:500;line-height:1.6;}
.jayrsL .price .percent{margin-left:8px;color:rgb(120, 120, 120);font-size:13px;font-weight:400;line-height:1.6;}
.jayrsL .price .original{display:block;margin-left:0px;color:rgb(120, 120, 120);font-size:13px;font-weight:300;text-decoration:line-through;}
.jayrsL .bottom{flex:1 1 0%;display:flex;flex-direction:column;justify-content:normal;align-self:stretch;}
.jYQzjY{display:flex;-webkit-box-align:center;align-items:center;align-self:stretch;margin-top:3px;}
.dgEsBx{position:relative;width:100%;margin-bottom:12px;}
.jTPYDY{position:relative;width:100%;padding-bottom:100%;}
.jTPYDY img{position:absolute;top:0px;left:0px;width:100%;height:100%;}


.errors{border:2px solid #c41937;border:2px solid var(--color-warning);padding:10px 20px;text-align:left;background:#595dae;margin-top:20px;color:#c41937;color:var(--color-warning);}
/*! CSS Used from: https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/bundle.07a7956c7cbd4021fe38.css */
.shopee-avatar{display:inline-block;width:1.875rem;height:1.875rem;position:relative;border-radius:50%;border:.0625rem solid rgba(0,0,0,.09);-moz-box-sizing:border-box;box-sizing:border-box;}
.shopee-avatar__placeholder{width:100%;position:relative;padding-top:100%;background-color:#f5f5f5;border-radius:50%;overflow:hidden;}
.shopee-avatar__placeholder .icon-headshot{stroke:#c6c6c6;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);font-size:1.5rem;font-weight:400;line-height:2rem;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
video{display:inline-block;vertical-align:baseline;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
img{border:0;}
svg:not(:root){overflow:hidden;}
.shopee-svg-icon{display:inline-block;width:1em;height:1em;fill:currentColor;position:relative;}
a{text-decoration:none;}
/*! CSS Used from: https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/899.90cd516d2027e089f1c9.css */
.stardust-dropdown{position:relative;}
.stardust-dropdown__item-body{-webkit-transition:height .4s cubic-bezier(.4,0,.2,1),opacity .4s cubic-bezier(.4,0,.2,1);transition:height .4s cubic-bezier(.4,0,.2,1),opacity .4s cubic-bezier(.4,0,.2,1);height:0;opacity:0;overflow:hidden;}
._1W_9q_{margin-top:.75rem;background-color:#f5f5f5;padding:.875rem .75rem;position:relative;}
._1W_9q_:after{border:.28125rem solid transparent;border-bottom-color:#f5f5f5;content:"";display:inline-block;position:absolute;top:0;left:2rem;-webkit-transform:translateX(-50%) translateY(-100%);transform:translateX(-50%) translateY(-100%);}
._3QwYnT{color:#8b572a;font-size:.875rem;text-transform:capitalize;}
._31jpC3{color:rgba(0,0,0,.87);white-space:pre-wrap;margin-top:.625rem;word-break:break-word;}
.shopee-rating-media-list-image__content,.shopee-rating-media-list-image__wrapper{width:100%;height:100%;}
.shopee-rating-media-list-image__wrapper{position:relative;}
.shopee-rating-media-list-image__content{background-position:50%;background-size:cover;background-repeat:no-repeat;position:absolute;top:0;left:0;}
.shopee-rating-media-list-image__content--blur{width:100%;height:100%;}
.shopee-rating-media-list-image__place-holder{width:100%;height:100%;position:relative;background-color:#fafafa;}
.shopee-rating-media-list-image__place-holder .icon-loading-image{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);font-size:1.5rem;font-weight:400;line-height:2rem;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;stroke:#c6c6c6;}
.rating-media-list-carousel-arrow{box-shadow:0 1px 12px 0 rgba(0,0,0,.12);cursor:pointer;position:absolute;top:50%;width:50px;height:50px;line-height:50px;font-size:20px;border-radius:50%;background-color:#fff;margin-top:-25px;-webkit-transition:all .1s cubic-bezier(.4,0,.6,1);transition:all .1s cubic-bezier(.4,0,.6,1);opacity:0;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;outline:0;}
.rating-media-list-carousel-arrow>.shopee-svg-icon{-webkit-transition:width .1s cubic-bezier(.4,0,.6,1);transition:width .1s cubic-bezier(.4,0,.6,1);color:rgba(0,0,0,.54);fill:rgba(0,0,0,.54);}
.rating-media-list-carousel-arrow--prev{left:0;}
.rating-media-list-carousel-arrow--next{right:0;}
.rating-media-list-carousel-arrow--hint{width:25px;height:25px;line-height:25px;margin-top:-12.5px;background-color:#fff;}
.rating-media-list-carousel-arrow--hint>.shopee-svg-icon{height:.625rem;width:.625rem;color:rgba(0,0,0,.54);fill:currentColor;}
.rating-media-list-image-carousel{width:100%;height:100%;position:relative;}
.rating-media-list-image-carousel__item-list-wrapper{height:100%;overflow:hidden;}
.rating-media-list-image-carousel__item-list{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;position:relative;height:100%;padding:0;margin:0;}
.rating-media-list-image-carousel__item{height:100%;-webkit-align-self:center;-ms-flex-item-align:center;align-self:center;overflow-x:hidden;list-style:none;float:left;}
.rating-media-list-image-carousel__item--fluid{-webkit-box-flex:0;-webkit-flex:0 1 auto;-moz-box-flex:0;-ms-flex:0 1 auto;flex:0 1 auto;overflow-x:visible;}
.rating-media-list-image-carousel__item>div{height:100%;}
.rating-media-list-image-carousel__item img{-webkit-user-drag:none;}
._43iTyw{position:relative;}
._12mVqG{width:100%;height:100%;background:#000;outline:none;cursor:pointer;}
.rating-media-list__container{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;width:100%;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.rating-media-list__image-wrapper{width:4.5rem;height:4.5rem;margin:0 .625rem .625rem 0;position:relative;}
.rating-media-list__image-wrapper--inactive{cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in;}
.rating-media-list__video-cover{position:absolute;height:1.25rem;line-height:1.25rem;bottom:0;left:0;right:0;z-index:1;background:rgba(0,0,0,.54);color:#fff;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:0 4px;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;font-size:.75rem;}
.rating-media-list__zoomed-image{width:100%;height:100%;max-width:32.25rem;max-height:31.25rem;display:none;margin-left:-.6rem;}
.rating-media-list__zoomed-image-item,.rating-media-list__zoomed-video-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;max-width:32.25rem;max-height:31.25rem;}
.rating-media-list__zoomed-video-item{width:32.25rem;height:31.25rem;}
.shopee-product-rating{flex-direction: column;border-bottom:1px solid rgba(0,0,0,.09);display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;padding:1rem 0 1rem 1.25rem;}
.shopee-product-rating__avatar{width:2.5rem;margin-right:.625rem;text-align:center;}
.shopee-product-rating__avatar .shopee-avatar{border:0;width:2.5rem;height:2.5rem;}
.shopee-product-rating__main{-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-ms-flex:1;flex:1;}
.shopee-product-rating__content{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-ms-flex:1;flex:1;white-space:pre-wrap;word-break:break-word;}
.shopee-product-rating__author-name{text-decoration:none;color:rgba(0,0,0,.8);color:rgba(0,0,0,.87);font-size:.75rem;}
.shopee-product-rating__rating{margin-top:.375rem;}
.shopee-product-rating__rating .icon-rating-solid{margin-right:.125rem;color:#ee4d2d;}
.shopee-product-rating__content{margin-top:.875rem;margin-bottom:.875rem;}
.shopee-product-rating__image-list-wrapper{margin-top:.9375rem;}
.shopee-product-rating__time{margin-top:.75rem;font-size:.75rem;color:rgba(0,0,0,.54);}
.shopee-product-rating__actions{margin-top:1.25rem;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;color:rgba(0,0,0,.4);}
.shopee-product-rating__like-button{margin-right:.625rem;cursor:pointer;color:rgba(0,0,0,.2);}
.shopee-product-rating__like-button svg{fill:currentColor;}
.shopee-product-rating__like-count{text-transform:capitalize;}
.shopee-product-rating__report-menu-button{margin-left:auto;cursor:pointer;}
.shopee-product-rating__report-menu-button .stardust-dropdown__item-body{overflow:visible;right:0;position:absolute;background:#fff;z-index:1;display:none;}
.shopee-product-rating__report-menu-dropdown{border-radius:2px;border:1px solid rgba(0,0,0,.09);padding:.75rem 1.625rem;box-shadow:0 1px 5px 0 rgba(0,0,0,.05);color:rgba(0,0,0,.8);text-transform:capitalize;white-space:nowrap;}
.shopee-product-rating__variation{color:rgba(0,0,0,.4);font-weight:300;}

/*! CSS Used from: https://vnn-res.vgcloud.vn/resources.cssx?alias=css-desktop-v9-detail&version=0.4.0 */

.text-cmt{width:660px;height:50px;border:1px solid #c9c9c9;overflow:visible;padding:5px 10px;color:#3e3e3e;font-size:14px;margin-top:5px;max-width:97%;resize: none;}
.btnSubmit{background-color:#971928;border-radius:12px;color:#fff;display:inline-block;margin:15px 0px 0px 14px;padding:5px 10px;text-align:center;text-transform:uppercase;font-family:"Roboto-REGULAR";}
.btnSubmit:hover{opacity:0.95;}
.Box-Comment .form{border:1px solid #d5d5d5;padding:10px;}
.commentBoxContainer .input,.Box-Comment .form .input{float:left;}
#BoxBinhLuan .text-cmt{height:45px;width:560px;border:none;resize:vertical;border-radius:3px;float:left;}
.clearfix:before{content:" ";display:table;}
/*! CSS Used from: https://vnn-res.vgcloud.vn/ResV9/css/popup-login.css */
.btnSubmit:hover{color:#fff;}
.btnSubmit{font-family:Roboto;}
/*! CSS Used fontfaces */
@font-face{font-family:'Roboto';src:url('https://vnn-res.vgcloud.vn/pages/wc2018/font/robotocondensed-regular.ttf');}

/*! CSS Used from: https://vnn-res.vgcloud.vn/resources.cssx?alias=css-desktop-v9-detail&version=0.4.0 */

.head-comment{font-size:15px;line-height:16px;; height:30px;position:relative;text-transform:uppercase;padding:7px 0px 7px 0px;background-size:109px auto;}
.fmsidWidgetCommentListCount{font-family:Roboto-regular;}
.List-commenttool{color:#686868;text-transform:none;font-weight:400;font-size:11px;}
.List-commenttool a{margin:0 5px;font-weight:normal;}
.List-commenttool a:last-child{margin-right:0px;}
.List-commenttool .active{font-weight:700;}
.List-commenttool a:hover{color:#c92027;font-weight:700;}
.active{color:#a92b30;}
.right{float:right;}
/*! CSS Used from: https://vnn-res.vgcloud.vn/ResV9/css/popup-login.css */
.List-commenttool a:hover{font-weight:700;}
.fmsidWidgetCommentListCount{font-family:Roboto-regular;}


.fWjUGo:hover{
    transform: scale(1);
    transition: .3s ease-in-out;
}



.bootstrap-touchspin .input-group-btn-vertical{position:relative;white-space:nowrap;width:1%;vertical-align:middle;display:table-cell;}
.bootstrap-touchspin .input-group-btn-vertical>.btn{display:block;float:none;width:100%;max-width:100%;padding:8px 10px;margin-left:-1px;position:relative;}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up{border-radius:0;border-top-right-radius:4px;}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down{margin-top:-2px;border-radius:0;border-bottom-right-radius:4px;}
.bootstrap-touchspin .input-group-btn-vertical i{position:absolute;top:3px;left:5px;font-size:9px;font-weight:400;}
.material-icons{font-family:'Material Icons';font-weight:400;font-style:normal;font-size:24px;display:inline-block;vertical-align:middle;width:1em;height:1em;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga';}


.bootstrap-touchspin{width:auto;display:inline-block;-moz-box-shadow:2px 2px 4px 0 rgba(0,0,0,.2);-webkit-box-shadow:2px 2px 4px 0 rgba(0,0,0,.2);-o-box-shadow:2px 2px 4px 0 rgba(0,0,0,.2);-ms-box-shadow:2px 2px 4px 0 rgba(0,0,0,.2);box-shadow:2px 2px 4px 0 rgba(0,0,0,.2);}
.bootstrap-touchspin input:focus{outline:none;}
.bootstrap-touchspin input.form-control,.bootstrap-touchspin input.input-group{color:#414141;background-color:#fff;height:2.5rem;padding:.175rem .5rem;width:3rem;border:1px solid rgba(0,0,0,.15);float:left;}
.bootstrap-touchspin .btn-touchspin{background-color:#fff;border:1px solid rgba(0,0,0,.15);height:1.3125rem;}
.bootstrap-touchspin .btn-touchspin:hover{background-color:#ebebeb;}
.bootstrap-touchspin .input-group-btn-vertical{color:#414141;width:auto;float:left;}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;}
.bootstrap-touchspin .input-group-btn-vertical .touchspin-up:after{content:"\E5CE";}
.bootstrap-touchspin .input-group-btn-vertical .touchspin-down:after{content:"\E5CF";}
.bootstrap-touchspin .input-group-btn-vertical i{top:.0625rem;left:.1875rem;font-size:.9375rem;}
.nav-item .nav-link{color:#acaaa6;font-weight:700;}
.nav-item .nav-link.active{color:#414141;}

.product-flags{margin:0;position:absolute;top:0;left:0;z-index:1;}
.product-flags:before,.product-flags:after{display:none;}
.leo-wishlist-bt-content i,.leo-compare-bt-content i{font-size:0;width:15px;height:14px;float:left;margin-right:7px;}
.leo-wishlist-bt-content i:before,.leo-compare-bt-content i:before{font-size:14px;font-family:"Font Awesome 5 Pro";}
.compare .btn-primary:active:hover,.compare .btn-primary:active:focus,.wishlist .btn-primary:active:hover,.wishlist .btn-primary:active:focus{color:initial;background-color:initial;border-color:initial;}
.leo-wishlist-button{margin:0 4px;position:relative;}
.leo-wishlist-button .leo-wishlist-bt-content i:before{content:'\f004';}
.leo-compare-button{position:relative;}
.leo-compare-button .leo-compare-bt-content i:before{content:'\f074';}
#product #content{position:relative;}
.product-detail-name{text-transform:none;font-size:30px;margin-bottom:20px;}
@media (max-width:767px){
.product-detail-name{font-size:24px;}
}
.product-price{color:#e0bf96;font-size:24px;font-weight:700;order:-1;margin-bottom:0;}
#product-description-short{color:#666;}
.product-description{line-height:24px;font-weight:300;color:#666;}
.product-manufacturer{margin-bottom:.625rem;}
.product-manufacturer .manufacturer-logo{height:35px;}
.button-wl-cp{display:inline-block;vertical-align:middle;width:100%;padding:20px 0;border-bottom:1px solid #e2e2e2;margin-bottom:20px;}
.button-wl-cp .wishlist,.button-wl-cp .compare{float:left;}
.button-wl-cp .leo-wishlist-button,.button-wl-cp .leo-compare-button{background:none;padding:0;margin:0;font-size:14px;font-weight:400;color:#000;border:0;}
.button-wl-cp .leo-wishlist-button:hover,.button-wl-cp .leo-compare-button:hover{color:#bac34e;}
.button-wl-cp .leo-wishlist-button .leo-wishlist-bt-content,.button-wl-cp .leo-compare-button .leo-compare-bt-content{display:-webkit-box;display:-moz-box;display:flex;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-moz-box-align:center;box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-ms-flex-align:center;text-align:left;}
.button-wl-cp .wishlist{margin-right:15px;}
.button-wl-cp .leo-wishlist-button .text-remove{display:none;}
@media (min-width:376px){
.product-quantity .qty{float:left;margin-right:7px;}
}
@media (max-width:375px){
.product-quantity .qty{margin-bottom:10px;}
}
.product-quantity .qty .input-group.bootstrap-touchspin{float:none;width:120px;border:1px solid #e2e2e2;border-radius:30px;box-shadow:none;vertical-align:middle;}
.product-quantity .add>button{height:46px;line-height:49px;padding:0 55px;font-size:12px;color:#fff;text-transform:uppercase;font-weight:700;}
.product-quantity .add>button:hover{background-color:#0a472e;}
.product-quantity #quantity_wanted{color:#000;background-color:transparent;height:46px;padding:0 15px 0 25px;width:calc(100% - 35px);border:0;}
.product-quantity .input-group-btn-vertical{width:35px;float:left;}
.product-quantity .input-group-btn-vertical .btn{padding:0;height:24px;border:0;background:transparent;}
.product-quantity .input-group-btn-vertical .btn:hover{color:#bac34e;}
.product-quantity .input-group-btn-vertical .btn.bootstrap-touchspin-up i{top:8px;}
.product-quantity .input-group-btn-vertical .btn.bootstrap-touchspin-down i{top:0;}
.product-quantity .input-group-btn-vertical .btn i{font-size:1rem;left:50%;transform:translateX(-50%);}
.product-quantity .btn-touchspin{height:1.4375rem;}
.product-discounts{margin-bottom:1.5rem;}
.product-prices{display:-webkit-box;display:-moz-box;display:flex;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-align:baseline;-moz-box-align:baseline;box-align:baseline;-webkit-align-items:baseline;-moz-align-items:baseline;-ms-align-items:baseline;-o-align-items:baseline;align-items:baseline;-ms-flex-align:baseline;margin-bottom:25px;}
.product-prices .tax-shipping-delivery-label{font-size:14px;color:#9faaa7;margin-left:10px;display:block;}
.product-tabs.tabs{padding:60px 0;position:relative;max-width:850px;margin:80px auto;}
.product-tabs.tabs:before{content:"";padding:0 1000px;width:100%;overflow:hidden;position:absolute;height:100%;display:block!important;top:0;background:#fcf4eb;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;margin-left:-1000px;z-index:-1;}
.product-tabs.tabs .tab-pane{padding-top:30px;}
.product-tabs.tabs .nav-tabs{border:none;padding-bottom:0;}
@media (min-width:481px){
.product-tabs.tabs .nav-tabs{display:-webkit-box;display:-moz-box;display:flex;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center;-ms-flex-pack:center;}
}
.product-tabs.tabs .nav-tabs .nav-link{color:#000;border:0;text-transform:initial;padding:5px 0;font-size:20px;background-color:transparent;position:relative;font-weight:400;}
.product-tabs.tabs .nav-tabs .nav-link:after{content:'';width:0;height:3px;background-color:#bac34e;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;display:block;margin:7px auto 0 auto;}
.product-tabs.tabs .nav-tabs .nav-link.active,.product-tabs.tabs .nav-tabs .nav-link:hover{border:none;color:#bac34e;}
.product-tabs.tabs .nav-tabs .nav-link.active:after,.product-tabs.tabs .nav-tabs .nav-link:hover:after{width:100%;}
.product-tabs.tabs .nav-tabs .nav-item{float:none;display:inline-block;vertical-align:middle;margin-bottom:0;}
@media (min-width:481px){
.product-tabs.tabs .nav-tabs .nav-item{margin-right:50px;}
}
@media (max-width:480px){
.product-tabs.tabs .nav-tabs .nav-item{width:100%;}
}
.product-tabs.tabs .nav-tabs .nav-item:last-child{margin-right:0;}
.product-tabs .product-description p{line-height:24px;}
.product-cover{margin-bottom:1.25rem;position:relative;}
.product-cover img{background:#fff;border:1px solid #e2e2e2;border-radius:4px;}
.product-cover .layer{display:-webkit-box;display:-moz-box;display:flex;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-moz-box-align:center;box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-ms-flex-align:center;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center;-ms-flex-pack:center;z-index:999;background:#FFF;position:absolute;bottom:20px;color:#878787;text-align:center;cursor:pointer;right:20px;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.product-cover .layer .zoom-in{width:45px;height:45px;line-height:45px;text-align:center;font-size:0;}
.product-cover .layer .zoom-in:before{content:'\f424';font-family:"Font Awesome 5 Pro";font-size:24px;}
.product-cover .layer:hover{color:#bac34e;}
#product-modal .modal-dialog{max-width:900px;}
@media (max-width:1199px){
#product-modal .modal-dialog{max-width:80%;}
}
#product-modal .modal-content{background:transparent;border:none;padding:0;-moz-box-shadow:0 5px 15px rgba(0,0,0,.5);-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);-o-box-shadow:0 5px 15px rgba(0,0,0,.5);-ms-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);}
#product-modal .modal-content .modal-body{position:relative;background-color:#fff;}
#product-modal .modal-content .modal-body figure{margin-bottom:0;padding-right:170px;}
#product-modal .modal-content .modal-body .product-cover-modal{background:#fff;max-width:100%;border:1px solid #e2e2e2;}
#product-modal .modal-content .modal-body .image-caption{background:#fff;padding:10px 20px;border-top:#ebebeb 1px solid;}
#product-modal .modal-content .modal-body .image-caption p{margin-bottom:0;}
#product-modal .modal-content .modal-body .thumbnails{position:absolute;top:35px;width:150px;right:15px;}
#product-modal .modal-content .modal-body .product-images{width:150px;display:none;}
#product-modal .modal-content .modal-body .product-images img{cursor:pointer;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;-webkit-backface-visibility:hidden;backface-visibility:hidden;border:1px solid #e2e2e2;}
#product-modal .modal-content .modal-body .product-images img:hover,#product-modal .modal-content .modal-body .product-images img.selected{border-color:#bac34e;}
#product-details .label{font-size:1rem;color:#272727;font-weight:700;}
.product-features{margin:1.25rem -15px 0 -15px;}
.product-features:after{content:"";display:table;clear:both;}
.product-features .features-col{float:left;padding:0 15px;}
@media (min-width:768px){
.product-features .features-col{width:33.3333333%;}
.product-features .features-col:nth-child(3n+1){clear:both;}
}
@media (max-width:767px) and (min-width:481px){
.product-features .features-col{width:50%;}
.product-features .features-col:nth-child(2n+1){clear:both;}
}
@media (max-width:480px){
.product-features .features-col{width:100%;}
}
.product-features .features-col h4{font-size:14px;font-weight:700;text-align:center;background:#bac34e;color:#fff;padding:7px 10px;margin-bottom:0;}
.product-features .features-col p{background:#fff;padding:0 10px;display:flex;justify-content:center;align-items:center;height:60px;color:#0a472e;font-size:14px;}
.product-refresh{margin-top:1.25rem;}
.social-sharing{display:block;}
.social-sharing>span{color:#000;text-transform:uppercase;font-size:12px;}
.social-sharing>span:after{content:':';}
.social-sharing ul{display:inline-block;margin-bottom:0;}
.social-sharing li{cursor:pointer;display:inline-block;margin-left:.9375rem;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;transition:all 0.2s ease-in;position:relative;}
.social-sharing li a{position:absolute;top:0;left:0;display:block;width:100%;height:100%;white-space:nowrap;text-indent:100%;overflow:hidden;}
.social-sharing li a:hover{color:transparent;}
.social-sharing li:before{content:"";font-family:"FontAwesome";font-size:1rem;}
.social-sharing li:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.social-sharing li.facebook:before{content:"\f09a";color:#3c5a98;}
.social-sharing li.twitter:before{content:"\f099";color:#55acee;}
.social-sharing li.pinterest:before{content:"\f0d2";color:#cb2027;}
@media (max-width:991px){
.product-cover img{width:100%;}
#product-modal .modal-content .modal-body{-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;-webkit-box-direction:normal;-moz-box-direction:normal;box-direction:normal;-webkit-flex-direction:column;-moz-flex-direction:column;flex-direction:column;-ms-flex-direction:column;margin-left:0;}
#product-modal .modal-content .modal-body img.product-cover-modal{width:100%;}
#product-modal .modal-content .modal-body .image-caption{width:100%;}
}
.product-thumb-images{display:none;}
.product-thumb-images .thumb{max-width:100%;cursor:pointer;border:1px solid #e2e2e2;border-radius:4px;}
.product-thumb-images .thumb.selected,.product-thumb-images .thumb:hover{border-color:#bac34e;}
@media (max-width:767px){
.product-detail .row>div:first-child{margin-bottom:50px;}
}
.product-detail.product-thumbs-bottom .product-thumb-images{padding:0;}
.product-detail.product-thumbs-bottom .product-thumb-images .slick-list{margin-left:-5px;margin-right:-5px;}
.product-detail.product-thumbs-bottom .product-thumb-images .slick-list .slick-slide{padding-right:5px;padding-left:5px;}
@media (min-width:1200px){
.product-paddingleft{padding-left:25px;}
}
.box-instock{margin-bottom:20px;}
.box-instock>span{font-size:10px;color:#000;text-transform:uppercase;padding:5px 15px;}
.box-instock>span.product-available{background-color:#defaf2;}
.product-info-bot{display:-webkit-box;display:-moz-box;display:flex;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-moz-box-align:center;box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-ms-flex-align:center;font-size:12px;text-transform:uppercase;font-weight:400;margin-bottom:10px;}
.product-info-bot>span{margin-right:7px;color:#000;}
.product-info-bot>p{color:#aaa;margin-bottom:0;}
.product-info-bot>p a{color:#aaa;}
@media (max-width:767px){
label{clear:both;}
}
#product-details{opacity:1;}
.cssload-speeding-wheel{margin:0 0 0 2.8125rem;border:3px solid #000;border-left-color:transparent;border-right-color:transparent;width:2.1875rem;height:2.1875rem;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;-webkit-animation:cssload-spin 700ms infinite linear;-moz-animation:cssload-spin 700ms infinite linear;animation:cssload-spin 700ms infinite linear;}
.cssload-speeding-wheel{width:18px;height:18px;margin:0 auto;border:1px solid #0a472e;border-radius:50%;display:none;border-left-color:transparent;border-right-color:transparent;-webkit-animation:cssload-spin 800ms infinite linear;-moz-animation:cssload-spin 800ms infinite linear;animation:cssload-spin 800ms infinite linear;}

#leo_product_reviews_block_extra{display:inline-block;vertical-align:middle;width:100%;margin-bottom:20px;}
.reviews_advices{float:left;margin:0;}
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;overflow:hidden;display:block;padding:0;margin-left:-15px;margin-right:-15px;}
.slick-list:focus{outline:none;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.slick-track{position:relative;left:0;top:0;;}
.slick-track:before,.slick-track:after{content:"";display:table;}
.slick-track:after{clear:both;}
.slick-initialized .slick-slide{display:block;}

.tab-content .active{display:block;}
.nav-tabs{border-bottom:1px solid transparent;padding-bottom:1.25rem;}
.nav-tabs>li>a{font-weight:800;color:#767676;border-bottom:2px solid transparent;text-transform:uppercase;}
.modal-content{border:0;border-radius:0;}
a:hover,a:focus{color:#f6a879;}

.product-price{color:#f6a879;}
.product-tabs.tabs .nav-tabs .nav-link.active{border-bottom-color:#f6a879;color:#f6a879;}
.product-tabs.tabs .nav-tabs .nav-link:hover{border-bottom-color:#f6a879;color:#f6a879;}
.product-cover .layer .zoom-in{color:#f6a879;}
#product-modal .modal-content .modal-body .product-images img:hover{border-color:#f6a879;}
.button-wl-cp .leo-wishlist-button:hover,.button-wl-cp .leo-compare-button:hover,.product-quantity .input-group-btn-vertical .btn:hover{color:#f6a879;}
.product-tabs.tabs .nav-tabs .nav-link:after,.product-features .features-col h4{background-color:#f6a879;}
.product-quantity .add>button{border-color:#f6a879;}
    
p{
    color: black;
}
.ngxImageZoomThumbnail{
    width: 100%;
}