<app-nav></app-nav>
<div class="loading-full" *ngIf="isLoading">
    <div class="spinner-border text-info" role="status" style="width: 4rem;height: 4rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class="text monospace">Xin chờ 1 xíu...</p>
</div>
<div class="container-fluid" *ngIf="!isLoading">
    <div class="row">
        <div class="col">
            <p class="lead text-monospace text-center mt-5" *ngIf="products.length!=0">Tìm thấy {{products.length}} sản phẩm !</p>
            <p class="lead text-monospace text-center mt-5" *ngIf="products.length==0">Nhập tên sản phẩm để tìm kiếm !</p>
            <div class="div-center-content" style="margin-bottom: 15px;" id='searchBarProduct'>
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Bạn đang tìm sản phẩm nào?"
                            [(ngModel)]="keyword" (keydown.enter)="newSearch()">
                        <button type="submit" class="searchButton" (click)="newSearch()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-2 border-end border-secondary">
                        <h4>Theo danh mục</h4>
                        <form>          
                            <div class="form-check" *ngFor="let o of cate">
                                <input class="form-check-input" type="checkbox" value="{{o.value}}" [(ngModel)]="o.checked" name="{{o.value}}" 
                                (change)="filterChange()">
                                <label class="form-check-label" >
                                    {{o.name}}
                                </label>
                            </div>
                        </form>
                        <hr>
                        <h4>Giá</h4>
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" [(ngModel)]="priceRange" value="0,999999" name="pr1" (change)="filterChange()">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Toàn bộ
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" [(ngModel)]="priceRange" value="0,20000" name="pr2" (change)="filterChange()">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Dưới 20.000 
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" [(ngModel)]="priceRange" value="20000,40000" name="pr3" (change)="filterChange()">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Từ 20.000 dến 40.000
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" [(ngModel)]="priceRange" value="40000,120000" name="pr4" (change)="filterChange()">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Từ 40.000 dến 120.000
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" [(ngModel)]="priceRange" value="120000,999999" name="pr5" (change)="filterChange()">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Trên 120.000
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div *ngFor="let pro of products  " class="gradient-border"
                                style=" margin: 20px;margin-bottom: 100px;">
                                <div class="featured__item">
                                    <div class="featured__item__pic set-bg"
                                        [ngStyle]="{'background-image':'url(' + pro.imgUrl + ')'}"
                                        ngbTooltip="{{pro.description}}" [openDelay]="100" [closeDelay]="100"
                                        placement="auto" container="body">
                                        <ul class="featured__item__pic__hover">
                                            <li ngbTooltip="Thêm vào yêu thích" container="body"><a
                                                    (click)="addToFav(pro)"><i class="fa fa-heart"></i></a></li>
                                            <li ngbTooltip="Xem thông tin" container="body"
                                                routerLink="/product/{{pro.id}}">
                                                <a><i class="fas fa-info"></i></a>
                                            </li>
                                            <li ngbTooltip="Thêm vào giỏ hàng" container="body"
                                                (click)="addToCart(pro)">
                                                <a><i class="fa fa-shopping-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="featured__item__text">
                                        <h6><a>{{pro.name}}</a></h6>
                                        <h5>{{pro.price | currency:'VND':''}} <span
                                                style="text-decoration: underline;">đ</span>
                                        </h5>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" style="height: 400px;" *ngIf="products.length==0">
                <p class="text-monospace text-center">

                </p>
            </div>
        </div>
    </div>
</div>




<app-footer></app-footer>