<app-nav></app-nav>

<div class="container-fluid">
    <div class="row">
        <div class="col">

            <p class="lead text-monospace text-center mt-5"><i class="fas fa-search"></i> Nhập tên sản phẩm bạn cần tìm
                kiếm !
            </p>
            <div class="div-center-content" style="margin-bottom: 15px;" id='searchBarProduct'>
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Bạn đang tìm sản phẩm nào?"
                            [(ngModel)]="keyword" (keyup)="newSearch()">
                        <button type="submit" class="searchButton" (click)="newSearch()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                <p style="width: fit-content;display: flex;flex-wrap: wrap;justify-content: center;" >
                    <ng-container *ngIf="allCate">
                        <span class="badge bg-primary mr-1 mt-4 even-larger-badge"  (click)="applyTag('Trái cây Việt Nam')" >Trái cây Việt Nam</span>
                        <span class="badge bg-success mr-1 mt-4 even-larger-badge"  (click)="applyTag('Trái cây nhập khẩu')">Trái cây nhập khẩu</span>
                        <span class="badge bg-danger mr-1 mt-4 even-larger-badge"  (click)="applyTag('Rau củ hằng ngày')">Rau củ hằng ngày</span>
                        <span class="badge bg-info mr-1 mt-4 even-larger-badge"  (click)="applyTag('Bánh Choco Pie')">Bánh Choco Pie</span>
                        <span class="badge bg-danger mr-1 mt-4 even-larger-badge"  (click)="applyTag('Oishi')">Snack Oishi</span>
                        <span class="badge bg-success mr-1 mt-4 even-larger-badge"  (click)="applyTag('Thịt heo')">Thịt heo</span>
                        <span class="badge bg-warning mr-1 mt-4 even-larger-badge"  (click)="applyTag('Trứng')">Trứng</span>
                        <span class="badge bg-warning mr-1 mt-4 even-larger-badge"  (click)="applyTag('Cá hộp')">Cá hộp</span>
                    </ng-container>
         
            
                   <ng-container *ngIf="!allCate" >
                        <span *ngFor="let o of relatedTag" class="badge bg-primary mr-1 mt-4 even-larger-badge"  (click)="applyTag(o.name)">{{o.name}}</span>
                   
                    </ng-container>
            
            
                 
                </p>
            </div>
            

            <div class="container">
                <hr>
            </div>

            <div class="container-fluid ">
                <div class="row">
                    <div class="col-3 border-end border-secondary" id="filter_search">
                        <h4>Theo danh mục</h4>
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="all" [(ngModel)]="allCate"
                                    name="allCate" (change)="filterChange('all')">
                                <label class="form-check-label">
                                    Toàn bộ
                                </label>
                            </div>
                            <div class="form-check" *ngFor="let o of categoryList">
                                <input class="form-check-input" type="checkbox" value="{{o.id}}"
                                   [(ngModel)]="o.checked" name="{{o.name}}" (change)="filterChange(o.name)">
                                <label class="form-check-label">
                                    {{o.name}}
                                </label>
                            </div>
                        </form>
                        <hr>
                        <h4>Giá</h4>
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" [(ngModel)]="priceRange" value="0,99999999" name="pr1"
                                    (change)="filterChange(null)">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Toàn bộ
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" [(ngModel)]="priceRange" value="0,20000" name="pr2"
                                    (change)="filterChange(null)">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Dưới 20.000
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" [(ngModel)]="priceRange" value="20000,40000" name="pr3"
                                    (change)="filterChange(null)">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Từ 20.000 đến 40.000
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" [(ngModel)]="priceRange" value="40000,120000" name="pr4"
                                    (change)="filterChange(null)">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Từ 40.000 đến 120.000
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" [(ngModel)]="priceRange" value="120000,99999999" name="pr5"
                                    (change)="filterChange(null)">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Trên 120.000
                                </label>
                            </div>
                        </form>
                        <hr>
                        <h4>Khoảng giá</h4>
                        <form>
                            <div class="form-check ">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Từ</span>
                                    <input type="number" class="form-control" placeholder="từ" name="minPrice"
                                        [(ngModel)]="priceMin">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Đến</span>
                                    <input type="number" class="form-control" placeholder="đến" name="maxPrice"
                                        [(ngModel)]="priceMax">
                                </div>
                                <div class="input-group mb-3">
                                    <button class="btn btn-success" (click)="applyPriceRange()">Áp dụng</button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <!-- <h4>Khuyến mãi</h4>
                        <form>
                            <div class="form-check ">
                                <input class="form-check-input" type="checkbox" value="onPromo" name="PromoOnly"
                                    [(ngModel)]="onPromoOnly" (change)="scrollToTop()">
                                <label class="form-check-label">
                                    Đang được khuyến mãi
                                </label>
                            </div>
                        </form>
                        <hr> -->
                    </div>

                    <div class="col col-md-9">
                        <div class="loading-full" *ngIf="isLoading">
                            <div class="spinner-border text-info" role="status" style="width: 4rem;height: 4rem;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <p class="text monospace">Xin chờ 1 xíu...</p>
                        </div>
                        <div class="row justify-content-center" *ngIf="!isLoading">
                            <p class="text-center">Bộ lọc tìm kiếm: <button class="btn btn-success" ngbTooltip="Reset bộ lọc" (click)="resetFilter()">
                                <i class="fas fa-redo"></i></button>
                            </p>
                        </div>
                        <div class="d-flex justify-content-center" *ngIf="!isLoading">
                            <h4 class="tag-search-h4" *ngIf="keyword" ngbTooltip="Nhấn để loại bỏ khỏi bộ lọc" (click)="keyword='';newSearch()">
                                <span class="badge rounded-pill bg-info mx-2 hover_badge">Từ khóa : {{keyword}} <i class="far fa-times-circle"></i></span>
                            </h4>
                            <h4 class="tag-search-h4" *ngIf="allCate">
                                <span class="badge rounded-pill bg-success mx-2 hover_badge">Danh mục : Toàn bộ</span>
                            </h4>
                            <ng-container *ngFor="let o of categoryList">
                                <h4 class="tag-search-h4" *ngIf="o.checked==true">
                                    <span class="badge rounded-pill bg-success mx-2 hover_badge" (click)="removeCate(o.name)" 
                                    ngbTooltip="Nhấn để loại bỏ khỏi bộ lọc">{{o.name}} <i class="far fa-times-circle"></i></span>
                                </h4>
                            </ng-container>
                            <ng-container>
                            <ng-container *ngFor="let o of tag">
                                <h4 class="tag-search-h4"*ngIf="o!='all'" (click)="removeTag(o)">
                                    <span class="badge rounded-pill bg-info mx-2 hover_badge"
                                    ngbTooltip="Nhấn để loại bỏ khỏi bộ lọc">{{o}} <i class="far fa-times-circle"></i></span>
                                </h4>
                            </ng-container>
                            </ng-container>
                            <h4 class="tag-search-h4" *ngIf="priceRange!='0,99999999'">
                                <span class="badge rounded-pill bg-danger mx-2 hover_badge" ngbTooltip="Nhấn để loại bỏ khỏi bộ lọc"
                                (click)="removePriceRange()">Khoảng giá : {{displayPriceRange(priceRange)}} <i class="far fa-times-circle"></i></span>
                            </h4>
                            <h4 class="tag-search-h4" *ngIf="priceRange=='0,99999999'">
                                <span class="badge rounded-pill bg-danger mx-2 hover_badge">Khoảng giá : Toàn bộ </span>
                            </h4>
                            <!-- <h4 class="tag-search-h4" *ngIf="tag!='all'">
                                <span class="badge rounded-pill bg-danger mx-2">{{tag}}</span>
                            </h4> -->
                            <h4 class="tag-search-h4" *ngIf="onPromoOnly">
                                <span class="badge rounded-pill bg-warning text-dark mx-2  hover_badge" ngbTooltip="Nhấn để loại bỏ khỏi bộ lọc"
                                (click)="onPromoOnly=false">Đang khuyến mãi <i class="far fa-times-circle"></i></span>
                            </h4>
                        </div>
                        



                        <!-- ------------------------------------------------------------------------------------- -->


                        <div class="row justify-content-center" *ngIf="!onPromoOnly&&!isLoading">

                            <p class="lead text-monospace text-center mt-5" *ngIf="totalProduct()==0">Không tìm thấy sản
                                phẩm !</p>
                            <div *ngFor="let pro of products ,index as i " class="gradient-border"
                                style=" margin: 10px;margin-bottom: 110px;">
                                <span class="sold-out-overlay" *ngIf="pro.unitInStock==0" 
                                ngbTooltip="Sản phẩm đã hết hàng."  ><i class="fas fa-ban"></i> Hết hàng</span>
                                <span class="sold-out-overlay" *ngIf="pro.unitInStock!=0" style="background-color: rgb(65, 243, 65);"
                                ngbTooltip="Sản phẩm còn lại"  > SL : {{pro.unitInStock}}</span>
                                <div class="featured__item" >
                                    <div class="featured__item__pic set-bg " 
                                        [ngStyle]="{'background-image':'url(' + pro.imgUrl + ')'}"
                                        ngbTooltip="{{pro.description}}" [openDelay]="100" [closeDelay]="100"
                                        placement="auto" container="body">
                                        <div style="height: 100%;width: 100%;z-index: -1;" (click)="openProductUrlInNewWindow(pro.id)">

                                        </div>
                                        <ul class="featured__item__pic__hover" style="z-index: 999;">
                                            <li ngbTooltip="Thêm vào yêu thích" container="body"><a
                                                    (click)="addToFav(pro)"><i class="fa fa-heart"></i></a></li>
                                            <li ngbTooltip="Xem thông tin" container="body"
                                                (click)="openProductUrlInNewWindow(pro.id)">
                                                <a><i class="fas fa-info"></i></a>
                                            </li>
                                            <li ngbTooltip="Thêm vào giỏ hàng" container="body"
                                                (click)="addToCart(pro)" *ngIf="pro.unitInStock!=0">
                                                <a><i class="fa fa-shopping-cart"></i></a>
                                            </li>
                                            <li ngbTooltip="Thêm vào giỏ hàng" container="body"
                                                (click)="alertSoldOut()" *ngIf="pro.unitInStock==0">
                                                <a><i class="fa fa-shopping-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="featured__item__text">
                                        <h6><a (click)="openProductUrlInNewWindow(pro.id)" href="javascript:void(0)">{{pro.name}}</a>
                                        </h6>
                                        <div *ngIf="!pro.promoInfo">
                                            <h5>{{pro.price | currency:'VND':''}} <span
                                                    style="text-decoration: underline;">đ</span>
                                            </h5>
                                        </div>

                                        <div *ngIf="pro.promoInfo">
                                            <h5 *ngIf="pro.promoInfo.promotionPercent!='null'">
                                                {{pro.price-pro.price*toNumber(pro.promoInfo.promotionPercent)/100 |
                                                currency:'VND':''}}
                                                <span class="currency-dis">đ</span> <span class="badge bg-success"
                                                    ngbTooltip="{{pro.promoInfo.promotion.name}}&#013;Bắt đầu : {{pro.promoInfo.promotion.startDate}}&#013;Kết thúc : {{pro.promoInfo.promotion.endDate}}&#013;Giảm : {{pro.promoInfo.promotionPercent}}%&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ"
                                                    placement="auto"
                                                    data-html="true">-{{pro.promoInfo.promotionPercent}}%</span>
                                            </h5>
                                            <h5 *ngIf="pro.promoInfo.promotionAmount!='null'">
                                                {{pro.price-toNumber(pro.promoInfo.promotionAmount) |
                                                currency:'VND':''}}
                                                <span class="currency-dis">đ</span> <span class="badge bg-danger"
                                                    ngbTooltip="{{pro.promoInfo.promotion.name}}&#013;Bắt đầu : {{pro.promoInfo.promotion.startDate}}&#013;Kết thúc : {{pro.promoInfo.promotion.endDate}}&#013;Giảm : {{pro.promoInfo.promotionAmount}} đ&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ&#013;"
                                                    placement="auto" data-html="true">-{{pro.promoInfo.promotionAmount|
                                                    currency:'VND':''}} <span class="currency-dis">đ</span></span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container d-flex justify-content-center mt-5 " *ngIf="!onPromoOnly&&!isLoading">
                            <div class="row">
                                <div class="col">
                                    <div id="ng-pagi">
                                        <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize"
                                            [collectionSize]="collectionSize" [maxSize]="3" [boundaryLinks]=true
                                            (pageChange)="findProduct()" size="sm">
                                        </ngb-pagination>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center" *ngIf="onPromoOnly&&!isLoading">
                            <p class="lead text-monospace text-center mt-5" *ngIf="totalProduct()==0">Không tìm thấy sản
                                phẩm !</p>
                            <ng-container *ngFor="let pro of products ,index as i ">
                                <div class="gradient-border" style=" margin: 10px;margin-bottom: 110px;"
                                    *ngIf="pro.promoInfo">
                                    <span class="sold-out-overlay" *ngIf="pro.unitInStock==0" 
                                    ngbTooltip="Sản phẩm đã hết hàng."  ><i class="fas fa-ban"></i> Hết hàng</span>
                                    <span class="sold-out-overlay" *ngIf="pro.unitInStock!=0" 
                                    ngbTooltip="Sản phẩm đã hết hàng."  > Còn {{pro.unitInStock}}</span>
                                    <div class="featured__item">
                                        <div class="featured__item__pic set-bg"
                                            [ngStyle]="{'background-image':'url(' + pro.imgUrl + ')'}"
                                            ngbTooltip="{{pro.description}}" [openDelay]="100" [closeDelay]="100"
                                            placement="auto" container="body">
                                            <ul class="featured__item__pic__hover">
                                                <li ngbTooltip="Thêm vào yêu thích" container="body"><a
                                                        (click)="addToFav(pro)"><i class="fa fa-heart"></i></a></li>
                                                <li ngbTooltip="Xem thông tin" container="body"
                                                    routerLink="/product/{{pro.id}}">
                                                    <a><i class="fas fa-info"></i></a>
                                                </li>
                                                <li ngbTooltip="Thêm vào giỏ hàng" container="body"
                                                    (click)="addToCart(pro)" *ngIf="pro.unitInStock!=0">
                                                    <a><i class="fa fa-shopping-cart"></i></a>
                                                </li>
                                                <li ngbTooltip="Thêm vào giỏ hàng" container="body"
                                                    (click)="alertSoldOut()" *ngIf="pro.unitInStock==0">
                                                    <a><i class="fa fa-shopping-cart"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="featured__item__text">
                                            <h6><a href="javascript:void(0)">{{pro.name}}</a></h6>
                                            <div *ngIf="!pro.promoInfo">
                                                <h5>{{pro.price | currency:'VND':''}} <span
                                                        style="text-decoration: underline;">đ</span>
                                                </h5>
                                            </div>

                                            <div>
                                                <h5 *ngIf="pro.promoInfo.promotionPercent!='null'">
                                                    {{pro.price-pro.price*toNumber(pro.promoInfo.promotionPercent)/100 |
                                                    currency:'VND':''}}
                                                    <span class="currency-dis">đ</span> <span class="badge bg-success"
                                                        ngbTooltip="{{pro.promoInfo.promotion.name}}&#013;Bắt đầu : {{pro.promoInfo.promotion.startDate}}&#013;Kết thúc : {{pro.promoInfo.promotion.endDate}}&#013;Giảm : {{pro.promoInfo.promotionPercent}}%&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ"
                                                        placement="auto"
                                                        data-html="true">-{{pro.promoInfo.promotionPercent}}%</span>
                                                </h5>
                                                <h5 *ngIf="pro.promoInfo.promotionAmount!='null'">
                                                    {{pro.price-toNumber(pro.promoInfo.promotionAmount) |
                                                    currency:'VND':''}}
                                                    <span class="currency-dis">đ</span> <span class="badge bg-danger"
                                                        ngbTooltip="{{pro.promoInfo.promotion.name}}&#013;Bắt đầu : {{pro.promoInfo.promotion.startDate}}&#013;Kết thúc : {{pro.promoInfo.promotion.endDate}}&#013;Giảm : {{pro.promoInfo.promotionAmount}} đ&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ&#013;"
                                                        placement="auto"
                                                        data-html="true">-{{pro.promoInfo.promotionAmount|
                                                        currency:'VND':''}} <span class="currency-dis">đ</span></span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </ng-container>
                        </div>
                        <div class="container d-flex justify-content-center mt-5 " *ngIf="onPromoOnly&&!isLoading">
                            <div class="row">
                                <div class="col">
                                    <div id="ng-pagi">
                                        <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize"
                                            [collectionSize]="collectionSize" [maxSize]="3" [boundaryLinks]=true
                                            (pageChange)="findProduct()" size="sm">
                                        </ngb-pagination>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 400px;" *ngIf="products.length==0">
                <p class="text-monospace text-center">

                </p>
            </div>
        </div>
    </div>
</div>

<div class=" p-3 connect_nofity "  *ngIf="isDisconnect">
    <div id="liveToast" class="toast fade show p-3" role="alert" aria-live="assertive" aria-atomic="true">

        <div class="toast-header" style="background-color: #000000;
        color: beige;">
            <i class="fas fa-ban mr-2" style="color: red;"></i>
            <strong class="me-auto"> <b>Không thể kết nối với API!</b></strong>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
            ></button> -->
        </div>
        <div class="toast-body">
            Hãy kiểm tra kết nối mạng của bạn và thử tải lại trang.
        </div>

    </div>
</div>



<app-footer></app-footer>