<app-nav></app-nav>
<div class="container animate__animated animate__bounceInDown mt-2">
    <div class="row">
        <ol class="breadcrumb">
            <li routerLink="/home"><a class="breadcrumb-link">
                    Home
                </a>
            </li>
            <li><a class="breadcrumb-link"><span itemprop="name">Thanh toán</span></a></li>

        </ol>
    </div>
</div>
<div *ngIf="!isDone" class="mb-3 animate__animated animate__bounceInUp">
    <main class="main-container mt-100 mt-md-130">
        <div class="container">
            <div class="tabs-wrapper mb-130 brk-library-rendered" data-brk-library="component__steps">
                <div class="steps__wrapper-main steps__wrapper-checkers">
                    <div class="steps__progress" style="width: 66.66%;background-color: royalblue;"></div>
                    <ul class="steps__wrapper tabs rendered" data-tabgroup="tab-group-5">
                        <li class="complete" style="background-color: greenyellow;">
                            <a class="">
                                <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                    <span class="before"></span>
                                    <span class="after"></span>
                                    1
                                </span>
                                <p class="font__family-montserrat font__size-15 steps__title">Giỏ hàng</p>
                            </a>
                        </li>
                        <li class="complete" style="background-color: greenyellow">
                            <a class="active">
                                <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                    <span class="before"></span>
                                    <span class="after"></span>
                                    2
                                </span>
                                <p class="font__family-montserrat font__size-15 steps__title">Đăng nhập</p>
                            </a>
                        </li>
                        <li class="complete" style="background-color: greenyellow">
                            <a class="">
                                <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                    <span class="before"></span>
                                    <span class="after"></span>
                                    3
                                </span>
                                <p class="font__family-montserrat font__size-15 steps__title">Thanh toán</p>
                            </a>
                        </li>
                        <li class="">
                            <a class="">
                                <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                    <span class="before"></span>
                                    <span class="after"></span>
                                    4
                                </span>
                                <p class="font__family-montserrat font__size-15 steps__title">Hoàn thành</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <div class="container p-3 d-flex justify-content-center mt-3" style="background-color: chocolate;border-radius: 20px;">
        <div class="row w-75">
            <div class="col form-reg">
                <div class="div-center-content" style="margin-bottom: 20px;">

                    <img src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1628192627/logo_v5ukvv.png"
                        style="width: 50%;">
                    <strong style="display: block;font-size: 20px;" class="text-monospace">Thông tin liên lạc</strong>
                    <!-- <span ><i class="fas fa-exclamation-triangle"></i> This website is NOT SECURE. Do not use any vital information that may contain information about you. Use a fake one if you wish to test this website.</span><br> -->
                </div>
                <form novalidate (ngSubmit)="submitInfo()" class="row justify-content-md-center" [formGroup]="rf1">
                    <div class="col-md-8">
                        <!-- <div class="col alert alert-danger" role="alert" *ngIf="unknown_error&&showFormError">
                        An error has occurred ! Try again !
                    </div> -->
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope-open-text"></i></span>
                            </div>
                            <input type="text" name="" class="form-control input_user" value="" placeholder="Email"
                                formControlName="email">
                        </div>
                        <div class="col alert alert-danger" role="alert"
                            *ngIf="rf1.controls.email?.errors?.required&&showFormError">
                            Email chưa điền!
                        </div>
                        <div class="col alert alert-danger" role="alert"
                            *ngIf="rf1.controls.email?.errors?.email&&showFormError">
                            Email không hợp lệ!
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-id-card-alt"></i></span>
                            </div>
                            <input type="text" name="" class="form-control input_user" value=""
                                placeholder="Tên liên lạc" formControlName="contactname">
                        </div>
                        <div class="col alert alert-danger" role="alert"
                            *ngIf="rf1.controls.contactname?.errors?.required&&showFormError">
                            Chưa điền tên liên lạc!
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="tel" name="" class="form-control input_user" value="" placeholder="SDT"
                                formControlName="phone">
                        </div>
                        <div class="col alert alert-danger" role="alert"
                            *ngIf="rf1.controls.phone?.errors?.required&&showFormError">
                            Chưa điền SDT!
                        </div>
                        <div class="col alert alert-danger" role="alert"
                            *ngIf="rf1.controls['phone'].hasError('pattern')&&showFormError">
                            SDT không hợp lệ!
                        </div>
                        <div class="div-center-content" style="margin-bottom: 20px;">
                            <strong style="display: block;font-size: 20px;" class="text-monospace">Địa chỉ</strong>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                            </div>
                            <input type="text" name="" class="form-control input_user" value="" placeholder="Số nhà"
                                formControlName="address">
                        </div>

                        <div class="col alert alert-danger" role="alert"
                            *ngIf="rf1.controls.address?.errors?.required&&showFormError">
                            Chưa nhập địa chỉ!
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                            </div>
                            <input type="text" name="" class="form-control input_user" value="" placeholder="Đường"
                                formControlName="street">
                        </div>
                        <div class="col alert alert-danger" role="alert"
                            *ngIf="rf1.controls.street?.errors?.required&&showFormError">
                            Nhập tên đường!
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                            </div>
                            <select class="form-select" aria-label="Default select example" formControlName="ward">
                                <option *ngFor="let o of Ward" value="{{o}}">{{o}}</option>

                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                            </div>
                            <select class="form-select" aria-label="Default select example" formControlName="district">
                                <option *ngFor="let o of District" value="{{o}}" selected>{{o}}</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                            </div>

                            <select class="form-select" aria-label="Default select example">
                                <option value="6" selected>TP.HCM</option>
                            </select>

                        </div>

                        <div class="div-center-content" style="margin-bottom: 20px;">
                            <strong style="display: block;font-size: 20px;" class="text-monospace">Thanh toán
                            </strong>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope-open-text"></i></span>
                            </div>

                            <select class="form-select" aria-label="Default select example"
                                formControlName="billOption">
                                <option selected value="cash">Tiền mặt</option>
                                <!-- <option selected value="momo">Momo</option> -->
                                <option selected value="vnpay">VNPay</option>
                            </select>

                        </div>
                        <!-- -->
                        <div class="div-center-content" style="margin-bottom: 20px;">
                            <strong style="display: block;font-size: 20px;" class="text-monospace">
                                Ghi chú</strong>
                        </div>
          

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-signature"></i> </span>
                            </div>

                            <input class="form-control" type="text" id="example-url-fb-sdas" formControlName="note"
                            placeholder="Ghi chú cho đơn hàng...">

                        </div>

                        <div class="form-group row ">
                            <div *ngIf="isLoading" class="div-center-content">
                                <div class="spinner-border text-danger" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <p>
                                    Xin chờ 1 xíu... !
                                </p>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="!isLoading">
                            <div class="col " style="display: flex;
                        justify-content: center;">
                                <button class="btn btn-primary" type="submit">Gửi đơn</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<div *ngIf="isDone" class="mb-3">
    <main class="main-container mt-100 mt-md-130">
        <div class="container">
            <div class="tabs-wrapper mb-130 brk-library-rendered" data-brk-library="component__steps">
                <div class="steps__wrapper-main steps__wrapper-checkers">
                    <div class="steps__progress" style="width: 99.99%;background-color: royalblue;"></div>
                    <ul class="steps__wrapper tabs rendered" data-tabgroup="tab-group-5">
                        <li class="complete" style="background-color: greenyellow;">
                            <a class="">
                                <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                    <span class="before"></span>
                                    <span class="after"></span>
                                    1
                                </span>
                                <p class="font__family-montserrat font__size-15 steps__title">Giỏ hàng</p>
                            </a>
                        </li>
                        <li class="complete" style="background-color: greenyellow">
                            <a class="active">
                                <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                    <span class="before"></span>
                                    <span class="after"></span>
                                    2
                                </span>
                                <p class="font__family-montserrat font__size-15 steps__title">Đăng nhập</p>
                            </a>
                        </li>
                        <li class="complete" style="background-color: greenyellow">
                            <a class="">
                                <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                    <span class="before"></span>
                                    <span class="after"></span>
                                    3
                                </span>
                                <p class="font__family-montserrat font__size-15 steps__title">Thanh toán</p>
                            </a>
                        </li>
                        <li class="complete" style="background-color: greenyellow">
                            <a class="">
                                <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                    <span class="before"></span>
                                    <span class="after"></span>
                                    4
                                </span>
                                <p class="font__family-montserrat font__size-15 steps__title">Hoàn thành</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <div class="container ">
        <div class="row">
            <div class="col form-reg">
                <div class="div-center-content" style="margin-bottom: 20px;">

                    <img src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1628192627/logo_v5ukvv.png"
                        style="width: 50%;">
                    <strong style="display: block;font-size: 20px;" class="text-monospace">Đơn hàng đã được ghi nhận.
                        Cảm ơn bạn đã mua sắm với chúng tôi!</strong>
                        <p>Email với thông tin của đơn hàng đã được gửi đến email của bạn.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>