<app-nav></app-nav>



<div class="container mt-3 ">
    <div class="main-body">

        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb-link" routerLink="/home">Home</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a
                        class="breadcrumb-link">{{userInfo.displayName}}</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)">Yêu thích</a></li>
            </ol>
        </nav>


        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{userInfo.imgUrl}}" alt="Admin" class="rounded-circle" width="150"
                                *ngIf="userInfo.imgUrl">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150" *ngIf="!userInfo.imgUrl">
                            <div class="container mt-3">
                                <h4>{{userInfo.displayName}}</h4>
                                <p class="text-secondary mb-1"><strong>Email : </strong>{{userInfo.email}}</p>
                                <p class="text-muted font-size-sm"><strong>ID : </strong>{{userInfo.id}}</p>
                                <p>Shop Xu : {{userInfo.coins}} <i class="fas fa-coins" style="color:#8c8c1b"></i></p>
                                <button class="btn btn-danger btn-block" (click)="signOut()"><i
                                        class="fas fa-sign-out-alt"></i>
                                    Logout</button>
                                <button class="btn btn-outline-info btn-block" routerLink="/password-recover"><i
                                        class="fas fa-key"></i>
                                    Password?</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group ">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">

                            <button class="btn btn-outline-primary btn-block" routerLink="/profile/{{userInfo.id}}"><i
                                    class="fas fa-user"></i> Thông tin</button>

                            <button class="btn btn-outline-primary btn-block"
                                routerLink="/profile/{{userInfo.id}}/order"><i class="fas fa-shopping-cart"></i>
                                Đơn hàng</button>

                            <button class="btn btn-primary btn-block" routerLink="/profile/{{userInfo.id}}/favorite"><i
                                    class="far fa-heart"></i>
                                Yêu thích</button>
                            <button class="btn btn-outline-primary btn-block" *ngIf="userInfo.roles[0]=='Administrator'"
                                routerLink="/admin">
                                <i class="fas fa-users-cog"></i> Quản trị viên
                            </button>
                            <button class="btn btn-outline-primary btn-block" *ngIf="userInfo.roles[0]=='Employee'"
                                routerLink="/quanly">
                                <i class="fas fa-users-cog"></i> Quản lý shop
                            </button>
                            <button class="btn btn-outline-primary btn-block" *ngIf="userInfo.roles[0]=='Shipper'"
                                routerLink="/shipper">
                                <i class="fas fa-truck-loading"></i> Trang giao hàng
                            </button>
                            <button class="btn btn-outline-primary btn-block"
                                routerLink="/profile/{{userInfo.id}}/xu"><i class="fab fa-bitcoin"></i> Shop Xu
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 animate__animated animate__fadeInRight">

                <div class="card-header">
                    <h4 class="text-monospace">Sản phẩm yêu thích</h4>
                </div>
                <section>
                    <div class="container-fluid dflex-jus">

                        <div class="row justify-content-center" style="width: 80%;">

                            <div *ngFor="let pro of pagedFavProduct  " class="gradient-border"
                                style=" margin: 20px;margin-bottom: 100px;width: 200px;">
                                <span class="sold-out-overlay" *ngIf="pro.unitInStock==0" 
                                ngbTooltip="Sản phẩm đã hết hàng."  ><i class="fas fa-ban"></i> Hết hàng</span>
                                <div class="featured__item">
                                    <div class="featured__item__pic set-bg"
                                        [ngStyle]="{'background-image':'url(' + pro.imgUrl + ')'}"
                                        ngbTooltip="{{pro.description}}" [openDelay]="100" [closeDelay]="100"
                                        placement="auto" container="body">
                                        <ul class="featured__item__pic__hover">
                                            <li ngbTooltip="Bỏ yêu thích" container="body"><a
                                                    (click)="removeFromFav(pro)" class="bg-danger"><i
                                                        class="fas fa-heart-broken"></i></a></li>
                                            <li ngbTooltip="Thêm vào giỏ hàng" container="body" (click)="addToCart(pro)"
                                                *ngIf="pro.unitInStock!=0">
                                                <a><i class="fa fa-shopping-cart"></i></a>
                                            </li>
                                            <li ngbTooltip="Thêm vào giỏ hàng" container="body" (click)="alertSoldOut()"
                                                *ngIf="pro.unitInStock==0">
                                                <a><i class="fa fa-shopping-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="featured__item__text">
                                        <h6><a (click)="openProductUrlInNewWindow(pro.id)"
                                                href="javascript:void(0)">{{pro.name}}</a>
                                        </h6>
                                        <div *ngIf="!pro.promoInfo">
                                            <h5>{{pro.price | currency:'VND':''}} <span
                                                    style="text-decoration: underline;">đ</span>
                                            </h5>
                                        </div>

                                        <div *ngIf="pro.promoInfo">
                                            <h5 *ngIf="pro.promoInfo.promotionPercent!='null'">
                                                {{pro.price-pro.price*toNumber(pro.promoInfo.promotionPercent)/100 |
                                                currency:'VND':''}}
                                                <span class="currency-dis">đ</span> <span class="badge bg-success"
                                                    ngbTooltip="{{pro.promoInfo.promotion.name}}&#013;Bắt đầu : {{pro.promoInfo.promotion.startDate}}&#013;Kết thúc : {{pro.promoInfo.promotion.endDate}}&#013;Giảm : {{pro.promoInfo.promotionPercent}}%&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ"
                                                    placement="auto"
                                                    data-html="true">-{{pro.promoInfo.promotionPercent}}%</span>
                                            </h5>
                                            <h5 *ngIf="pro.promoInfo.promotionAmount!='null'">
                                                {{pro.price-toNumber(pro.promoInfo.promotionAmount) |
                                                currency:'VND':''}}
                                                <span class="currency-dis">đ</span> <span class="badge bg-danger"
                                                    ngbTooltip="{{pro.promoInfo.promotion.name}}&#013;Bắt đầu : {{pro.promoInfo.promotion.startDate}}&#013;Kết thúc : {{pro.promoInfo.promotion.endDate}}&#013;Giảm : {{pro.promoInfo.promotionAmount}} đ&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ&#013;"
                                                    placement="auto" data-html="true">-{{pro.promoInfo.promotionAmount|
                                                    currency:'VND':''}} <span class="currency-dis">đ</span></span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <div class="container d-flex justify-content-center ">
                    <div class="row">
                        <div class="col">
                            <div id="ng-pagi">
                                <ngb-pagination [(page)]="pageNumberFav" [pageSize]="pageSizeFav"
                                    [collectionSize]="userInfo.favoriteProducts.length" [maxSize]="3"
                                    [boundaryLinks]=true (pageChange)="getPagedFavProduct()" size="sm">
                                </ngb-pagination>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class=" p-3 connect_nofity " *ngIf="isDisconnect">
    <div id="liveToast" class="toast fade show p-3" role="alert" aria-live="assertive" aria-atomic="true">

        <div class="toast-header" style="background-color: #000000;
        color: beige;">
            <i class="fas fa-ban mr-2" style="color: red;"></i>
            <strong class="me-auto"> <b>Không thể kết nối với API!</b></strong>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
            ></button> -->
        </div>
        <div class="toast-body">
            Hãy kiểm tra kết nối mạng của bạn và thử tải lại trang.
        </div>

    </div>
</div>
<app-footer></app-footer>