<app-nav></app-nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div id="secondary-feed" class="widget-area " role="complementary">
                <aside id="chuyen-muc" class="widget widget_categories"><span class="widget-title "><span>Chuyên
                            mục</span></span>
                    <div class="is-divider small"></div>
                    <ul>
                        <li class="cat-item  " [class.cat-active]="category=='food'" (click)="category='food'"><a
                                aria-current="page">Món ngon</a>
                        </li>
                        <li class="cat-item " [class.cat-active]="category=='tip'" (click)="category='tip'"><a>Mẹo vặt
                            </a></li>
                    </ul>
                </aside>
                <aside id="chuyen-muc" class="widget widget_recent_entries"> <span class="widget-title "
                       ><span>Bài
                            mới</span></span>
                    <div class="is-divider small"></div>
                    <ul>
                        <li *ngFor="let o of food"> <a href="{{o.link}}">{{o.title}}</a></li>
                    </ul>
                </aside>
                <aside id="chuyen-muc" class="widget widget_recent_entries"> <span class="widget-title "
                      ><span>Mẹo vặt
                            mới</span></span>
                    <div class="is-divider small"></div>
                    <ul>
                        <li *ngFor="let o of tip"> <a href="{{o.link}}">{{o.title}}</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="col-md-9" *ngIf="category=='food'">
            <p class="lead text-monospace text-center p-3 " style="font-size: 30px;">
                <i class="fas fa-utensils"></i> Món ngon
            </p>
            <div  id="new-button-switch">
                <button class="btn btn-primary" (click)="category='food'">Món ngon</button>
                <button class="btn btn-primary" (click)="category='tip'">Mẹo vặt</button>
            </div>
            <div class="row">
                <div class="rss-feed col-sm-6 my-3 p-1 " *ngFor="let o of food">
                    <div class="rss-feed-inner animate__animated animate__zoomIn">
                        <p class="feed-title text-monospace"><b>{{o.title}}</b></p>
                        <p class="feed-time"><i class="far fa-clock"></i> {{o.published | date}} - <i
                                class="far fa-user"></i> Admin</p>
                        <div class="feed-info" [innerHTML]="o.description">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-9" *ngIf="category=='tip'">
            <p class="lead text-monospace text-center p-3 " style="font-size: 30px;">
                <i class="fas fa-info"></i> Mẹo vặt
            </p>
            <div  id="new-button-switch">
                <button class="btn btn-primary" (click)="category='food'">Món ngon</button>
                <button class="btn btn-primary" (click)="category='tip'">Mẹo vặt</button>
            </div>
 
            <div class="row">
                <div class="rss-feed col-sm-6 my-3 p-1 " *ngFor="let o of tip">
                    <div class="rss-feed-inner animate__animated animate__zoomIn">
                        <p class="feed-title text-monospace"><b>{{o.title}}</b></p>
                        <p class="feed-time"><i class="far fa-clock"></i> {{o.published | date}} - <i
                                class="far fa-user"></i> Admin</p>
                        <div class="feed-info" [innerHTML]="o.description">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>