<app-nav></app-nav>

<div class="container-fluid ">
    <div class="row ">
        <div class="col-md-3 ">
            <div id="secondary-feed" class="widget-area " role="complementary">
                <aside id="chuyen-muc" class="widget widget_categories"><span class="widget-title "><span>Chuyên
                            mục</span></span>
                    <div class="is-divider small"></div>
                    <ul>
                        <li class="cat-item  " [class.cat-active]="category=='food'" (click)="category='food'"><a
                                aria-current="page">Món ngon <i class="fas fa-long-arrow-alt-left"></i></a>
                        </li>
                        <li class="cat-item " [class.cat-active]="category=='tip'" (click)="category='tip'"><a>Mẹo vặt <i class="fas fa-long-arrow-alt-left"></i>
                            </a></li>
                    </ul>
                </aside>
                <aside id="chuyen-muc" class="widget widget_recent_entries"> <span class="widget-title "><span>Bài
                            mới</span></span>
                    <div class="is-divider small"></div>
                    <ul>
                        <li *ngFor="let o of food"> <a href="{{o.url}}">{{o.title}}</a></li>
                    </ul>
                </aside>
                <aside id="chuyen-muc" class="widget widget_recent_entries"> <span class="widget-title "><span>Mẹo vặt
                            mới</span></span>
                    <div class="is-divider small"></div>
                    <ul>
                        <li *ngFor="let o of tip"> <a href="{{o.url}}">{{o.title}}</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="col-md-9 animate__animated animate__backInUp" *ngIf="category=='food'">
            <p class="lead text-monospace text-center p-3 " style="font-size: 30px;">
                <i class="fas fa-utensils"></i> Món ngon
            </p>
            <div id="new-button-switch">
                <button class="btn btn-primary" (click)="category='food'">Món ngon</button>
                <button class="btn btn-primary" (click)="category='tip'">Mẹo vặt</button>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="row large-columns-3 medium-columns-3 small-columns-1 row-small ">
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/cach-lam-kho-ca-du-thom-ngon-la-vi-de-lam-tai-nha/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="225"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-kho-ca-du-thom-ngon-la-vi-de-lam-tai-nha-1632655756-400x225.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-kho-ca-du-thom-ngon-la-vi-de-lam-tai-nha-1632655756-400x225.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="Cách làm khô cá đù thơm ngon, lạ vị dễ làm tại nhà" loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-kho-ca-du-thom-ngon-la-vi-de-lam-tai-nha-1632655756-400x225.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-kho-ca-du-thom-ngon-la-vi-de-lam-tai-nha-1632655756-768x432.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-kho-ca-du-thom-ngon-la-vi-de-lam-tai-nha-1632655756-600x338.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-kho-ca-du-thom-ngon-la-vi-de-lam-tai-nha-1632655756.jpg 800w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-kho-ca-du-thom-ngon-la-vi-de-lam-tai-nha-1632655756-400x225.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-kho-ca-du-thom-ngon-la-vi-de-lam-tai-nha-1632655756-768x432.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-kho-ca-du-thom-ngon-la-vi-de-lam-tai-nha-1632655756-600x338.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-kho-ca-du-thom-ngon-la-vi-de-lam-tai-nha-1632655756.jpg 800w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Cách làm khô cá đù thơm ngon, lạ vị dễ làm
                                                tại nhà</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Bạn đang tìm công thức làm những món khô
                                                cá thơm ngon đơn giản, hãy...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/cach-lam-ca-na-dap-muoi-ot-thom-ngon-hap-dan-cuc-don-gian/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="225"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-ca-na-dap-chua-ngot-thom-ngon-hap-dan-cuc-don-gian-1632654820-400x225.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-ca-na-dap-chua-ngot-thom-ngon-hap-dan-cuc-don-gian-1632654820-400x225.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="Cách làm cà na đập chua ngọt, thơm ngon hấp dẫn, cực đơn giản"
                                                loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-ca-na-dap-chua-ngot-thom-ngon-hap-dan-cuc-don-gian-1632654820-400x225.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-ca-na-dap-chua-ngot-thom-ngon-hap-dan-cuc-don-gian-1632654820-768x432.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-ca-na-dap-chua-ngot-thom-ngon-hap-dan-cuc-don-gian-1632654820-600x338.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-ca-na-dap-chua-ngot-thom-ngon-hap-dan-cuc-don-gian-1632654820.jpg 1280w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-ca-na-dap-chua-ngot-thom-ngon-hap-dan-cuc-don-gian-1632654820-400x225.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-ca-na-dap-chua-ngot-thom-ngon-hap-dan-cuc-don-gian-1632654820-768x432.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-ca-na-dap-chua-ngot-thom-ngon-hap-dan-cuc-don-gian-1632654820-600x338.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/09/cach-lam-ca-na-dap-chua-ngot-thom-ngon-hap-dan-cuc-don-gian-1632654820.jpg 1280w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Cách làm cà na đập muối ớt, thơm ngon hấp
                                                dẫn, cực đơn giản</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Cà na đập muối ớt với cách làm đơn giản
                                                lại vô cùng ngon miệng...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/mang-cut-lam-mon-gi-ngon-top-5-mon-ngon-ma-don-gian-tu-mang-cut/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="246"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/mang-cut-lam-mon-gi-ngon-top-5-mon-ngon-ma-don-gian-tu-mang-cut-1626991536-400x246.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/mang-cut-lam-mon-gi-ngon-top-5-mon-ngon-ma-don-gian-tu-mang-cut-1626991536-400x246.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="Măng cụt làm món gì ngon? Top 5 món ngon mà đơn giản từ măng cụt"
                                                loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/mang-cut-lam-mon-gi-ngon-top-5-mon-ngon-ma-don-gian-tu-mang-cut-1626991536-400x246.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/mang-cut-lam-mon-gi-ngon-top-5-mon-ngon-ma-don-gian-tu-mang-cut-1626991536-600x369.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/mang-cut-lam-mon-gi-ngon-top-5-mon-ngon-ma-don-gian-tu-mang-cut-1626991536.jpg 650w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/mang-cut-lam-mon-gi-ngon-top-5-mon-ngon-ma-don-gian-tu-mang-cut-1626991536-400x246.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/mang-cut-lam-mon-gi-ngon-top-5-mon-ngon-ma-don-gian-tu-mang-cut-1626991536-600x369.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/mang-cut-lam-mon-gi-ngon-top-5-mon-ngon-ma-don-gian-tu-mang-cut-1626991536.jpg 650w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Măng cụt làm món gì ngon? Top 5 món ngon mà
                                                đơn giản từ măng cụt</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Nếu bạn không biết&nbsp;măng cụt làm món
                                                gì ngon thì hãy cùng tìm hiểu...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/xa-lach-lam-mon-gi-ngon-ma-bo-duong/" class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="267"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/xa-lach-lam-mon-gi-ngon-ma-bo-duong-1626398298-400x267.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/xa-lach-lam-mon-gi-ngon-ma-bo-duong-1626398298-400x267.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="Xà lách làm món gì ngon mà bổ dưỡng" loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/xa-lach-lam-mon-gi-ngon-ma-bo-duong-1626398298-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/xa-lach-lam-mon-gi-ngon-ma-bo-duong-1626398298.jpg 600w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/xa-lach-lam-mon-gi-ngon-ma-bo-duong-1626398298-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/xa-lach-lam-mon-gi-ngon-ma-bo-duong-1626398298.jpg 600w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Xà lách làm món gì ngon mà bổ dưỡng</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Các món ăn làm từ xà lách luôn ngon mà chả
                                                bao giờ sợ ngán....</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/cach-lam-bo-mot-nang-krong-pa-dung-chuan-gia-lai/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="300"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/bomotnangkrongpa-400x300.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/bomotnangkrongpa-400x300.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="" loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/bomotnangkrongpa-400x300.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/bomotnangkrongpa-768x576.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/bomotnangkrongpa-600x450.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/bomotnangkrongpa.jpg 1500w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/bomotnangkrongpa-400x300.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/bomotnangkrongpa-768x576.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/bomotnangkrongpa-600x450.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/bomotnangkrongpa.jpg 1500w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Cách làm bò một nắng Krong Pa đúng chuẩn
                                                Gia Lai</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Cách làm bò một nắng Krong làm từ Bò tơ
                                                mềm cắt miếng bằng bàn...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/cach-lam-heo-ba-chi-mot-nang-tai-nha-chuan-vi-krong-pa/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="225"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-lam-heo-ba-chi-mot-nang-tai-nha-chuan-vi-krong-pa-1625958755-400x225.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-lam-heo-ba-chi-mot-nang-tai-nha-chuan-vi-krong-pa-1625958755-400x225.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="Cách làm heo ba chỉ một nắng tại nhà chuẩn vị Krông Pa"
                                                loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-lam-heo-ba-chi-mot-nang-tai-nha-chuan-vi-krong-pa-1625958755-400x225.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-lam-heo-ba-chi-mot-nang-tai-nha-chuan-vi-krong-pa-1625958755-768x432.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-lam-heo-ba-chi-mot-nang-tai-nha-chuan-vi-krong-pa-1625958755-600x338.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-lam-heo-ba-chi-mot-nang-tai-nha-chuan-vi-krong-pa-1625958755.jpg 800w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-lam-heo-ba-chi-mot-nang-tai-nha-chuan-vi-krong-pa-1625958755-400x225.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-lam-heo-ba-chi-mot-nang-tai-nha-chuan-vi-krong-pa-1625958755-768x432.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-lam-heo-ba-chi-mot-nang-tai-nha-chuan-vi-krong-pa-1625958755-600x338.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-lam-heo-ba-chi-mot-nang-tai-nha-chuan-vi-krong-pa-1625958755.jpg 800w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Cách làm heo ba chỉ một nắng tại nhà chuẩn
                                                vị Krông Pa</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Tận dụng vào thời tiết đang nắng nóng oi
                                                bức như thế này. Ai cũng...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="275"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-400x275.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-400x275.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="" loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-400x275.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-600x413.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de.jpg 660w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-400x275.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-600x413.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de.jpg 660w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Mực ống chiên giòn – cách làm ngon đúng
                                                chuẩn nhà hàng cực dễ</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Mực ống chiên giòn – một trong món ăn quen
                                                thuộc tại các thực đơn...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 animate__animated animate__backInUp" *ngIf="category=='tip'">
            <p class="lead text-monospace text-center p-3 " style="font-size: 30px;">
                <i class="fas fa-info"></i> Mẹo vặt
            </p>
            <div id="new-button-switch">
                <button class="btn btn-primary" (click)="category='food'">Món ngon</button>
                <button class="btn btn-primary" (click)="category='tip'">Mẹo vặt</button>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="row large-columns-3 medium-columns-3 small-columns-1 row-small">
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/huong-dan-che-bien-ca-hoi-cho-be-an-com-hoac-an-dam/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="225"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/ca-hoi-400x225.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/ca-hoi-400x225.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="" loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/ca-hoi-400x225.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/ca-hoi.jpg 512w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/ca-hoi-400x225.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/ca-hoi.jpg 512w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Hướng dẫn chế biến cá hồi cho bé ăn cơm
                                                hoặc ăn dặm</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Cá hồi là một trong những loài cá phổ biến
                                                và rất tốt cho bé,...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/cach-so-che-rau-cu-qua-dung-cach-an-toan-cho-suc-khoe/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="300"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-so-che-rau-cu-qua-dung-cach-an-toan-cho-suc-khoe-1627172436-400x300.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-so-che-rau-cu-qua-dung-cach-an-toan-cho-suc-khoe-1627172436-400x300.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="Cách sơ chế rau củ quả đúng cách, an toàn cho sức khỏe"
                                                loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-so-che-rau-cu-qua-dung-cach-an-toan-cho-suc-khoe-1627172436-400x300.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-so-che-rau-cu-qua-dung-cach-an-toan-cho-suc-khoe-1627172436-600x450.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-so-che-rau-cu-qua-dung-cach-an-toan-cho-suc-khoe-1627172436.jpg 640w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-so-che-rau-cu-qua-dung-cach-an-toan-cho-suc-khoe-1627172436-400x300.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-so-che-rau-cu-qua-dung-cach-an-toan-cho-suc-khoe-1627172436-600x450.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-so-che-rau-cu-qua-dung-cach-an-toan-cho-suc-khoe-1627172436.jpg 640w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Cách sơ chế rau củ quả đúng cách, an toàn
                                                cho sức khỏe</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Sau khi đã mua thực phẩm về, trước khi nấu
                                                nướng, để đảm bảo an...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/nen-mua-ca-chua-thuong-hay-ca-chua-bi/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="268"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/nen-mua-ca-chua-thuong-hay-ca-chua-bi-1627171872-400x268.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/nen-mua-ca-chua-thuong-hay-ca-chua-bi-1627171872-400x268.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="Nên mua cà chua thường hay cà chua bi?" loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/nen-mua-ca-chua-thuong-hay-ca-chua-bi-1627171872-400x268.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/nen-mua-ca-chua-thuong-hay-ca-chua-bi-1627171872-768x514.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/nen-mua-ca-chua-thuong-hay-ca-chua-bi-1627171872-600x402.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/nen-mua-ca-chua-thuong-hay-ca-chua-bi-1627171872.jpg 1200w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/nen-mua-ca-chua-thuong-hay-ca-chua-bi-1627171872-400x268.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/nen-mua-ca-chua-thuong-hay-ca-chua-bi-1627171872-768x514.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/nen-mua-ca-chua-thuong-hay-ca-chua-bi-1627171872-600x402.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/nen-mua-ca-chua-thuong-hay-ca-chua-bi-1627171872.jpg 1200w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Nên mua cà chua thường hay cà chua bi?</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Cà chua thường thì nên dùng làm thực phẩm
                                                hơn còn cà chua bi thì...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/cach-bao-quan-rau-cu-tuoi-lau-ma-khong-can-tu-lanh/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="260"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-cu-tuoi-lau-ma-khong-can-tu-lanh-1626398712-1-400x260.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-cu-tuoi-lau-ma-khong-can-tu-lanh-1626398712-1-400x260.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="Cách bảo quản rau củ tươi lâu mà không cần tủ lạnh" loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-cu-tuoi-lau-ma-khong-can-tu-lanh-1626398712-1-400x260.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-cu-tuoi-lau-ma-khong-can-tu-lanh-1626398712-1-600x390.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-cu-tuoi-lau-ma-khong-can-tu-lanh-1626398712-1.jpg 730w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-cu-tuoi-lau-ma-khong-can-tu-lanh-1626398712-1-400x260.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-cu-tuoi-lau-ma-khong-can-tu-lanh-1626398712-1-600x390.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-cu-tuoi-lau-ma-khong-can-tu-lanh-1626398712-1.jpg 730w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Cách bảo quản rau củ tươi lâu mà không cần
                                                tủ lạnh</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Ngày nay, tủ lạnh là thiết bị gia dụng
                                                không thể thiếu của mỗi gia...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/cach-bao-quan-rau-trong-tu-lanh-ca-tuan-ma-van-tuoi-ngon/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="267"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-trong-tu-lanh-ca-tuan-ma-van-tuoi-ngon-1626350967-400x267.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-trong-tu-lanh-ca-tuan-ma-van-tuoi-ngon-1626350967-400x267.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="Cách bảo quản rau trong tủ lạnh cả tuần mà vẫn tươi ngon"
                                                loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-trong-tu-lanh-ca-tuan-ma-van-tuoi-ngon-1626350967-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-trong-tu-lanh-ca-tuan-ma-van-tuoi-ngon-1626350967-768x512.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-trong-tu-lanh-ca-tuan-ma-van-tuoi-ngon-1626350967-600x400.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-trong-tu-lanh-ca-tuan-ma-van-tuoi-ngon-1626350967.jpg 780w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-trong-tu-lanh-ca-tuan-ma-van-tuoi-ngon-1626350967-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-trong-tu-lanh-ca-tuan-ma-van-tuoi-ngon-1626350967-768x512.jpg 768w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-trong-tu-lanh-ca-tuan-ma-van-tuoi-ngon-1626350967-600x400.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/cach-bao-quan-rau-trong-tu-lanh-ca-tuan-ma-van-tuoi-ngon-1626350967.jpg 780w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Cách bảo quản rau trong tủ lạnh cả tuần mà
                                                vẫn tươi ngon</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Cách bảo quản rau trong tủ lạnh&nbsp;như
                                                thế nào là đúng? Rau là loại thực...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/bach-tuoc-nuong-va-5-cach-che-bien-thom-ngon-de-ban-don-mua-mua-ve/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="267"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/bach-tuoc-nuong-va-5-cach-che-bien-thom-ngon-de-ban-don-mua-mua-ve-400x267.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/bach-tuoc-nuong-va-5-cach-che-bien-thom-ngon-de-ban-don-mua-mua-ve-400x267.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="" loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/bach-tuoc-nuong-va-5-cach-che-bien-thom-ngon-de-ban-don-mua-mua-ve-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/bach-tuoc-nuong-va-5-cach-che-bien-thom-ngon-de-ban-don-mua-mua-ve-600x401.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/bach-tuoc-nuong-va-5-cach-che-bien-thom-ngon-de-ban-don-mua-mua-ve.jpg 660w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/bach-tuoc-nuong-va-5-cach-che-bien-thom-ngon-de-ban-don-mua-mua-ve-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/bach-tuoc-nuong-va-5-cach-che-bien-thom-ngon-de-ban-don-mua-mua-ve-600x401.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/bach-tuoc-nuong-va-5-cach-che-bien-thom-ngon-de-ban-don-mua-mua-ve.jpg 660w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Bạch tuộc nướng và 5 cách chế biến thơm
                                                ngon để bạn đón mùa mưa về</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Trước khi cùng nhau chế biến, chúng ta
                                                cùng kiểm trai lại ngoài việc dễ...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="275"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-400x275.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-400x275.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="" loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-400x275.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-600x413.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de.jpg 660w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-400x275.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de-600x413.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/muc-ong-chien-gion-cach-lam-ngon-dung-chuan-nha-hang-cuc-de.jpg 660w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Mực ống chiên giòn – cách làm ngon đúng
                                                chuẩn nhà hàng cực dễ</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Mực ống chiên giòn – một trong món ăn quen
                                                thuộc tại các thực đơn...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/3-mon-ngon-voi-tom-nhat-dinh-nen-co-trong-so-tay-nau-an-cua-ban/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="267"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/3-mon-ngon-voi-tom-nhat-dinh-nen-co-trong-so-tay-nau-an-cua-ban-1625783139-1-400x267.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/3-mon-ngon-voi-tom-nhat-dinh-nen-co-trong-so-tay-nau-an-cua-ban-1625783139-1-400x267.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="3 món ngon với tôm nhất định nên có trong sổ tay nấu ăn của bạn"
                                                loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/3-mon-ngon-voi-tom-nhat-dinh-nen-co-trong-so-tay-nau-an-cua-ban-1625783139-1-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/3-mon-ngon-voi-tom-nhat-dinh-nen-co-trong-so-tay-nau-an-cua-ban-1625783139-1-600x400.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/3-mon-ngon-voi-tom-nhat-dinh-nen-co-trong-so-tay-nau-an-cua-ban-1625783139-1.jpg 660w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/3-mon-ngon-voi-tom-nhat-dinh-nen-co-trong-so-tay-nau-an-cua-ban-1625783139-1-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/3-mon-ngon-voi-tom-nhat-dinh-nen-co-trong-so-tay-nau-an-cua-ban-1625783139-1-600x400.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2021/07/3-mon-ngon-voi-tom-nhat-dinh-nen-co-trong-so-tay-nau-an-cua-ban-1625783139-1.jpg 660w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">3 món ngon với tôm nhất định nên có trong
                                                sổ tay nấu ăn của bạn</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Món ngon với tôm khá phong phú, dù bạn
                                                không thích tôm đi chăng nữa,...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/top-4-cac-mon-an-mua-he-ngon-la-mieng-cuc-de-lam/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="267"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/top-4-cac-mon-an-mua-he-ngon-la-mieng-cuc-de-lam-400x267.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/top-4-cac-mon-an-mua-he-ngon-la-mieng-cuc-de-lam-400x267.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="" loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/top-4-cac-mon-an-mua-he-ngon-la-mieng-cuc-de-lam-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/top-4-cac-mon-an-mua-he-ngon-la-mieng-cuc-de-lam-600x400.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/top-4-cac-mon-an-mua-he-ngon-la-mieng-cuc-de-lam.jpg 660w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/top-4-cac-mon-an-mua-he-ngon-la-mieng-cuc-de-lam-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/top-4-cac-mon-an-mua-he-ngon-la-mieng-cuc-de-lam-600x400.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/top-4-cac-mon-an-mua-he-ngon-la-mieng-cuc-de-lam.jpg 660w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Top 4 các món ăn mùa hè ngon lạ miệng cực
                                                dễ làm</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Các món ăn mùa hè thường phải đạt tiêu chí
                                                là có yếu tố “tươi...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <div class="col post-item">
                        <div class="col-inner"> <a
                                href="https://cuahangtienloi24h.com/cach-lam-ca-nuong-bang-lo-nuong-thom-ngon-cho-bua-com-ngay-mua/"
                                class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-zoom image-cover" style="padding-top:75%;"> <img width="400"
                                                height="267"
                                                src="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/cach-lam-ca-nuong-bang-lo-nuong-thom-ngon-cho-bua-com-ngay-mua-400x267.jpg"
                                                data-src="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/cach-lam-ca-nuong-bang-lo-nuong-thom-ngon-cho-bua-com-ngay-mua-400x267.jpg"
                                                class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                alt="" loading="lazy"
                                                srcset="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/cach-lam-ca-nuong-bang-lo-nuong-thom-ngon-cho-bua-com-ngay-mua-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/cach-lam-ca-nuong-bang-lo-nuong-thom-ngon-cho-bua-com-ngay-mua-600x400.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/cach-lam-ca-nuong-bang-lo-nuong-thom-ngon-cho-bua-com-ngay-mua.jpg 660w"
                                                data-srcset="https://cuahangtienloi24h.com/wp-content/uploads/2020/08/cach-lam-ca-nuong-bang-lo-nuong-thom-ngon-cho-bua-com-ngay-mua-400x267.jpg 400w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/cach-lam-ca-nuong-bang-lo-nuong-thom-ngon-cho-bua-com-ngay-mua-600x400.jpg 600w, https://cuahangtienloi24h.com/wp-content/uploads/2020/08/cach-lam-ca-nuong-bang-lo-nuong-thom-ngon-cho-bua-com-ngay-mua.jpg 660w"
                                                sizes="(max-width: 400px) 100vw, 400px"></div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Cách làm cá nướng bằng lò nướng thơm ngon
                                                cho bữa cơm ngày mưa</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Cách làm cá nướng bằng lò nướng là một
                                                trong những cách thông dụng hiện...</p>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>