<footer class="site-footer" style="margin-top: 5%;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Về chúng tôi</h6>
        <p class="text-justify">Cửa hàng mua thực phẩm online TP.HCM. Chuyên bán các loại rau sạch, củ quả, trái cây, thực phẩm tươi sống</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Dịch vụ</h6>
        <ul class="footer-links">
          <li ><a>Tìm sản phẩm</a></li>
          <li ><a>Mua sắm trực tuyến</a></li>
          <li ><a>Giao hàng miễn phí</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="https://myanimelist.net/" target='_blank'>MyAnimeList.net </a></li>
          <li><a href="https://jikan.moe/" target='_blank'>Jikan API</a></li>
          <li><a href="https://github.com/CircleQMinh" target='_blank'>My Github Page</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
          <a href="#">Circle</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<app-scroll></app-scroll>
<app-cart></app-cart>
<app-chat-box></app-chat-box>