<div class="div-center-content" style="margin-top: -25px;margin-bottom: 15px;" id='searchBarProduct'>
    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Bạn đang tìm sản phẩm nào?" [(ngModel)]="keyword"
                [ngbTypeahead]="searchProduct" [resultTemplate]="rt" (selectItem)="selectedItem($event)">
            <button type="submit" class="searchButton" (click)="newSearch()">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>



<div class="container-fluid" #top>
    <div class="row" style="margin-top: 3%;" *ngIf="!searchMode">
        <div class="col">
            <div class="row" style="margin-top: 3%;margin:0 auto;
            width: 100%;display: block;">
                    <div class="col-lg-12">
                        <div class="">
                            <h2 class="text-tron text-monospace" style="text-align: center;">Sản phẩm của Shop</h2>
                        </div>
                    </div>
                </div>
            <div class="featured__controls">
                <ul>
                    <li [class.active]="category=='all'" (click)="switchCategory('all')"><a class="text-tron">Toàn
                            bộ</a></li>
                    <li [class.active]="category=='Fruit'" (click)="switchCategory('Fruit')"><a class="text-tron">Trái
                            cây</a></li>
                    <li [class.active]="category=='Vegetable'" (click)="switchCategory('Vegetable')">
                        <a class="text-tron">Rau củ</a>
                    </li>
                    <li [class.active]="category=='Confectionery'" (click)="switchCategory('Confectionery')">
                        <a class="text-tron">Bánh kẹo</a>
                    </li>
                    <li [class.active]="category=='Snack'" (click)="switchCategory('Snack')"><a
                            class="text-tron">Snack</a></li>
                    <li [class.active]="category=='AnimalProduct'" (click)="switchCategory('AnimalProduct')"><a
                            class="text-tron">Thịt tươi sống</a></li>
                    <li [class.active]="category=='CannedFood'" (click)="switchCategory('CannedFood')"><a
                            class="text-tron">Đồ hộp</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- <div class="row" style="margin-top: 3%;" *ngIf="searchMode">
    <div class="col-lg-12">
        <div class="section-title">
           <button (click)="backToProduct()">Back to product list</button>
        </div>
    </div>
</div> -->
<div *ngIf="isLoading" class="d-flex justify-content-center " style="height: 1000px;">
    <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<!-- 2308 -->

<section *ngIf="!isLoading">
    <div class="container-fluid dflex-jus">
        <a class="float-btn-nav" (click)="  prevPropage()">

            <i class="fas fa-arrow-left float-btn-icon"></i>
        </a>
        <div class="row justify-content-center  animate__animated animate__fadeIn" style="width: 80%;">

            <div *ngFor="let pro of content,index as i  " class="  gradient-border "
                style=" margin: 20px;margin-bottom: 100px;">
                <div class="featured__item" >
                    <div class="featured__item__pic set-bg animate__animated animate__zoomIn "
                        [ngStyle]="{'background-image':'url(' + pro.imgUrl + ')'}" ngbTooltip="{{pro.description}}"
                        [openDelay]="100" [closeDelay]="100" placement="auto" container="body" >
                        <ul class="featured__item__pic__hover">
                            <li ngbTooltip="Thêm vào yêu thích" container="body"><a (click)="addToFav(pro)"><i
                                        class="fa fa-heart"></i></a></li>
                            <li ngbTooltip="Xem thông tin" container="body" (click)="openProductUrlInNewWindow(pro.id)"><a><i
                                        class="fas fa-info"></i></a></li>
                            <li ngbTooltip="Thêm vào giỏ hàng" container="body" (click)="addToCart(pro)"><a><i
                                        class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a hrer="#"  (click)="openProductUrlInNewWindow(pro.id)">{{pro.name}}</a></h6>
                        <div *ngIf="!promoInfo[i]">
                            <h5>{{pro.price | currency:'VND':''}} <span style="text-decoration: underline;">đ</span>
                            </h5>
                        </div>

                        <div *ngIf="promoInfo[i]">
                            <h5 *ngIf="promoInfo[i].promotionPercent!='null'">
                                {{pro.price-pro.price*toNumber(promoInfo[i].promotionPercent)/100 | currency:'VND':''}}
                                <span class="currency-dis">đ</span>
                                <span class="badge bg-success"
                                    ngbTooltip="{{promoInfo[i].promotion.name}}&#013;Bắt đầu : {{promoInfo[i].promotion.startDate}}&#013;Kết thúc : {{promoInfo[i].promotion.endDate}}&#013;Giảm : {{promoInfo[i].promotionPercent}}%&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ"
                                    placement="auto" tooltipClass="tooltip-inner">-{{promoInfo[i].promotionPercent}}%
                                </span>
                            </h5>
                            <h5 *ngIf="promoInfo[i].promotionAmount!='null'">
                                {{pro.price-toNumber(promoInfo[i].promotionAmount) | currency:'VND':''}}
                                <span class="currency-dis">đ</span>
                                <span class="badge bg-danger"
                                    ngbTooltip="{{promoInfo[i].promotion.name}}&#013;Bắt đầu : {{promoInfo[i].promotion.startDate}}&#013;Kết thúc : {{promoInfo[i].promotion.endDate}}&#013;Giảm : {{promoInfo[i].promotionAmount}} VND&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ&#013;"
                                    placement="auto" data-html="true"
                                    tooltipClass="tooltip-inner">-{{promoInfo[i].promotionAmount|
                                    currency:'VND':''}}
                                    <span class="currency-dis">đ</span>
                                </span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="float-btn-nav" (click)="nextProPage()">

            <i class="fas fa-arrow-right float-btn-icon"></i>
        </a>
    </div>
</section>

<div class="container d-flex justify-content-center ">
    <div class="row">
        <div class="col">
            <div id="ng-pagi">
                <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="collectionSize"
                    [maxSize]="3" [boundaryLinks]=true (pageChange)="scroll(top);productPageChange()" size="sm">
                </ngb-pagination>
            </div>

        </div>
    </div>
</div>

<div class=" p-3 connect_nofity "  *ngIf="isDisconnect">
    <div id="liveToast" class="toast fade show p-3" role="alert" aria-live="assertive" aria-atomic="true">

        <div class="toast-header" style="background-color: #000000;
        color: beige;">
            <i class="fas fa-ban mr-2" style="color: red;"></i>
            <strong class="me-auto"> <b>Không thể kết nối với API!</b></strong>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
            ></button> -->
        </div>
        <div class="toast-body">
            Hãy kiểm tra kết nối mạng của bạn và thử tải lại trang.
        </div>

    </div>
</div>

<ng-template #rt let-r="result" let-t="term" style="height: 400px;width: 50%;">
    <div>
        <img [src]="r.imgUrl" class="mr-1 typeahead-tron-img">
        <ngb-highlight [result]="r.name" [term]="t" class="text-tron"></ngb-highlight>
    </div>

</ng-template>