<div class="container-fluid" #top>
    <div class="row" style="margin-top: 3%;" *ngIf="!searchMode">
        <div class="col">
            <div class="section-title">
                <h2>Our Product</h2>
            </div>
            <div class="featured__controls" >
                <ul>
                    <li [class.active]="category=='all'" (click)="switchCategory('all')"><a>All</a></li>
                    <li [class.active]="category=='Fruit'" (click)="switchCategory('Fruit')"><a>Fruit</a></li>
                    <li [class.active]="category=='Vegetable'" (click)="switchCategory('Vegetable')">
                        <a>Vegetables</a>
                    </li>
                    <li [class.active]="category=='Confectionery'" (click)="switchCategory('Confectionery')">
                        <a>Confectionery</a>
                    </li>
                    <li [class.active]="category=='Snack'" (click)="switchCategory('Snack')"><a>Snack</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- <div class="row" style="margin-top: 3%;" *ngIf="searchMode">
    <div class="col-lg-12">
        <div class="section-title">
           <button (click)="backToProduct()">Back to product list</button>
        </div>
    </div>
</div> -->
<div *ngIf="isLoading" class="d-flex justify-content-center " > 
    <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<!-- 2308 -->

<section style="margin-top: -5%;" *ngIf="!isLoading"  >
    <div class="container-fluid  mt-5 dflex-jus" >
        <a class="float-btn-nav" (click)="  prevPropage()">
         
            <i class="fas fa-arrow-left float-btn-icon"></i>
        </a>
        <div class="row justify-content-center" style="width: 80%;">
      
            <div *ngFor="let pro of content  " class="gradient-border" style=" margin: 20px;margin-bottom: 100px;">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" [ngStyle]="{'background-image':'url(' + pro.imgUrl + ')'}"
                        ngbTooltip="{{pro.description}}" [openDelay]="100" [closeDelay]="100" placement="auto"
                        container="body">
                        <ul class="featured__item__pic__hover">
                            <li ngbTooltip="Add to Favorite" container="body"><a (click)="addToFav(pro)"><i
                                        class="fa fa-heart"></i></a></li>
                            <li ngbTooltip="View product page" container="body" routerLink="/product/{{pro.id}}"><a><i
                                        class="fas fa-info"></i></a></li>
                            <li ngbTooltip="Add to cart" container="body" (click)="addToCart(pro)"><a><i
                                        class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">{{pro.name}}</a></h6>
                        <h5>${{pro.price}}</h5>
                    </div>
                </div>
            </div>
           
        </div>
        <a class="float-btn-nav" (click)="nextProPage()">

            <i class="fas fa-arrow-right float-btn-icon"></i>
        </a>
    </div>
</section>

<div class="container d-flex justify-content-center " >
    <div class="row">
        <div class="col">
            <div id="ng-pagi">
                <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="collectionSize"
                    [maxSize]="3" [boundaryLinks]=true (pageChange)="scroll(top);productPageChange()" size="sm">
                </ngb-pagination>
            </div>

        </div>
    </div>
</div>