<app-nav></app-nav>


<!-- <div class="container form-reg" style="margin-top: 100px;">
    <div class="div-center-content" style="margin-bottom: 20px;">

        <img src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1628192627/logo_v5ukvv.png" style="width: 50%;">
        <strong style="display: block;font-size: 20px;" class="text-monospace">Khôi phục mật khẩu</strong>

    </div>
    <form novalidate (ngSubmit)="tryRecover()" class="row justify-content-md-center" [formGroup]="rf1">
        <div class="col-md-8">

            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">
                    Email:
                </label>

                <div class="col-10">
                    <input class="form-control" type="email" id="example-text-input" formControlName="email">
                </div>

            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls.email?.errors?.required&&showFormError">
                Email chưa nhập!
            </div>
            <div class="col alert alert-danger" role="alert" *ngIf="rf1.controls.email?.errors?.email&&showFormError">
                Email không hợp lệ!
            </div>
            <div class="col alert alert-danger" role="alert" *ngIf="email_send&&showFormError">
                Shop đã gửi yêu cầu khôi phục mật khẩu đến email của bạn! Hãy kiểm tra email để hoàn tất quá trình khôi
                phục mật khẩu.
            </div>
            <div *ngIf="isLoading">
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p>
                    Xin chờ 1 xíu... !
                </p>
            </div>
            <div class="form-group row" *ngIf="!isLoading">
                <div class="col " style="display: flex;
                justify-content: center;" *ngIf="!email_send">
                    <button class="btn btn-primary" type="submit">Khôi phục</button>

                </div>
            </div>
        </div>
    </form>

</div>
<div class="div-center-content">
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="d-flex flex-column justify-content-center">


                <p class="text-monospace"> Chưa có tài khoản ? </p> <button class="btn btn-danger"
                    routerLink="/register">Đăng ký</button>
                <p class="text-monospace" style="margin-top: 15px;"> Đã có tài khoản ? </p> <button
                    class="btn btn-success" routerLink="/login">Đăng nhập</button>
            </div>
        </div>
    </div>
</div> -->


<div class="container-fluid  form-all-con">
    <div class="d-flex justify-content-center  animate__animated animate__rotateIn">
        <div class="user_card" >
            <div class="d-flex justify-content-center mb-5">
                <div class="brand_logo_container ">
                    <img src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1628192627/logo_v5ukvv.png"
                        class="brand_logo" alt="Logo">
                </div>

            </div>
            <div class="d-flex justify-content-center form_container flex-column align-items-center">
                <strong style="display: block;font-size: 25px;margin-top: 50px;" class="text-monospace">Khôi phục mật khẩu</strong>

            </div>
            <div class="d-flex justify-content-center form_container">

                <form novalidate (ngSubmit)="tryRecover()" [formGroup]="rf1" >
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope-open-text"></i></span>
                        </div>
                        <input type="text" name="" class="form-control input_user" value="" placeholder="Email"
                            formControlName="email">
                    </div>
                    <div class="input-group mb-2" role="alert"
                        *ngIf="rf1.controls.email?.errors?.required&&showFormError">
                        &#9658; Email chưa nhập !
                    </div>
                    <div class="input-group mb-2" role="alert" *ngIf="rf1.controls.email?.errors?.email&&showFormError">
                        &#9658; Email không hợp lệ!
                    </div>
                  
                    <div class="d-flex justify-content-center mt-3 login_container" *ngIf="!isLoading">
                        <button type="submit" name="button" class="btn login_btn"><i class="fas fa-sign-in-alt"></i>
                            Gửi yêu cầu khôi phục</button>
                    </div>
                    <div *ngIf="isLoading">
                        <div class="spinner-border text-danger" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p>
                            Xin chờ 1 xíu... !
                        </p>
                    </div>
                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Đã có tài khoản? <a routerLink="/login" class="ml-2">Đăng Nhập</a>
                </div>
                <div class="d-flex justify-content-center links">
                    Chưa có tài khoản? <a routerLink="/register"  class="ml-2">Đăng ký?</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>