<app-nav></app-nav>


<!-- <div id="slide-show">
    <ngb-carousel #carousel [interval]="2400" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
        [showNavigationArrows]="true" [showNavigationIndicators]="true" [keyboard]="true" [pauseOnHover]="true"
        [wrap]="true" (slide)="onSlide($event)">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide" class="mh-100 slide-tron-img">
            </div>
            <div class="carousel-caption">
                <button class="btn btn-success" routerLink="/fruit">Shop Now <i class="fas fa-arrow-right"></i></button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random 3 slide" class="mh-100 slide-tron-img">
            </div>
            <div class="carousel-caption">
                <button class="btn btn-success" routerLink="/snack">Shop Now <i class="fas fa-arrow-right"></i></button>
            </div>
        </ng-template>

    </ngb-carousel>
</div> -->

<section class="section" id="section_893025223">
    <div class="bg section-bg fill bg-fill bg-loaded"></div>
    <div class="section-content relative">
        <div class="banner has-hover hide-for-small" id="banner-143461212">
            <div class="banner-inner fill">
                <div class="banner-bg fill">
                    <div class="bg fill bg-fill bg-loaded"></div>
                    <div class="overlay"></div>
                </div>
                <div class="banner-layers container">
                    <div class="fill banner-link"></div>
                    <div id="text-box-1947309283"
                        class="text-box banner-layer x50 md-x50 lg-x50 y15 md-y15 lg-y15 res-text">
                        <div class="text-box-content text dark">
                            <div class="text-inner text-center">
                                <h4>Rau củ, thịt, cá, trứng, trái cây các loại</h4>
                                <h5>Hàng luôn tươi mới mỗi ngày.</h5>
                                <a routerLink="/vegetable" target="_self"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;">
                                    <span>
                                        <i class="fas fa-carrot"></i> Rau củ
                                    </span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                                <a routerLink="/fruit" target="_self"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;">
                                    <span><i class="fas fa-apple-alt"></i> Trái cây</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                                <a routerLink="/confectionery" target="_self"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;"> <span><i class="fas fa-candy-cane"></i> Bánh kẹo</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                                <a routerLink="/snack" target="_self"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;"> <span><i class="fas fa-cookie-bite"></i> Snack</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                                <a routerLink="/animalproduct" target="_self"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;"> <span><i class="fas fa-drumstick-bite"></i> Thịt tươi
                                        sống</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                                <a routerLink="/cannedfood" target="_self"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;"> <span><i class="fas fa-spray-can"></i> Đồ hộp</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="height-fix is-invisible"><img width="1920" height="680"
                    src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/rev-slider_h4-2.jpg"></div>
        </div>
    </div>
</section>


<section id="home-icons" class="py-5">
    <div class="container ">
        <div class="row">
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-shipping-fast fa-3x mb-2 animate__animated animate__wobble animate__infinite "></i>
                <h3>Giao hàng nhanh</h3>
                <p>Giao hàng nhanh và an toàn<br>
                    Miễn phí giao với đơn hàng trên 200,000 VND</p>
            </div>
            <div class="col-md-4 mb-4 text-center ">
                <i class="fas fa-phone-square fa-3x mb-2 animate__animated animate__wobble animate__infinite"></i>
                <h3>Hỗ trợ khách hàng</h3>
                <p>Hỗ trợ trực tuyến với nhân viên tận tình<br>
                    Đội ngũ tư vấn thân thiện và nhanh nhẹn</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-cart-plus fa-3x mb-2 animate__animated animate__wobble animate__infinite"></i>
                <h3>Mua sắm dễ dàng</h3>
                <p>Thủ tục đơn giản và giao diện thân thiện<br>
                    Hoàn tiền nếu sản phẩm không đúng ý</p>
            </div>
        </div>
    </div>
</section>


<div class="HF-data-container-section HF-featured-grid HF-bg-offwhite" style="    display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: stretch;
align-items: stretch;" id="home-category">
    <div class="HF-data-container-panel HF-featured-grid-header">
        <div class="HF-featured-grid-header-container">
            <h2 class="text-monospace text-tron">Nổi bật</h2>
        </div>
    </div>

    <div class="HF-featured-grid-body">
        <div class="HF-featured-grid-body-container">
            <div class="HF-featured-grid-item large-3 small-6">

                <div class="HF-data-container-section-item HF-featured-grid-item-image">
                    <div class="HF-figure-overflow">
                        <a routerLink="/fruit" title="">
                            <img class="HF-hover-img"
                                src="https://www.ilovefreshproduce.com/ecommerce1/wp-content/uploads/2021/06/FruitLoversBox1920x1920.jpg"
                                title="">
                        </a>

                    </div>

                </div>
                <div class="HF-data-container-section-item HF-featured-grid-item-text-container">
                    <h3 class="HF-data-container-section-item HF-grid-item-heading">Trái cây</h3>
                    <div class="HF-data-container-section-item HF-featured-grid-item-description">
                        <p>Trái cây nhập khẩu 100% và tự nhiên.</p>
                    </div>
                    <div class="HF-data-container-section-item HF-featured-grid-item-link">

                    </div>
                </div>

            </div>
            <div class="HF-featured-grid-item large-3 small-6">

                <div class="HF-data-container-section-item HF-featured-grid-item-image HF-figure-overflow">
                    <div class="HF-figure-overflow">
                        <a routerLink="/vegetable" title="">
                            <img class="HF-hover-img"
                                src="//cdn.shopify.com/s/files/1/0206/9470/collections/buy-groceries-online_a778f666-e7e6-4312-acbe-696ada4e81cd_large.jpg?v=1617760517"
                                title="">
                        </a>

                    </div>

                </div>
                <div class="HF-data-container-section-item HF-featured-grid-item-text-container">
                    <h3 class="HF-data-container-section-item HF-grid-item-heading">Rau củ</h3>
                    <div class="HF-data-container-section-item HF-featured-grid-item-description">
                        <p>Tươi sống từ nông trại mỗi ngày.</p>
                    </div>
                    <div class="HF-data-container-section-item HF-featured-grid-item-link">

                    </div>
                </div>

            </div>
            <div class="HF-featured-grid-item large-3 small-6">

                <div class="HF-data-container-section-item HF-featured-grid-item-image HF-figure-overflow">
                    <div class="HF-figure-overflow">
                        <a routerLink="/confectionery" title="">
                            <img class="HF-hover-img"
                                src="https://www.famima.vn/wp-content/uploads/2016/12/CONFACTIONARY-2.jpg" title="">
                        </a>
                    </div>

                </div>
                <div class="HF-data-container-section-item HF-featured-grid-item-text-container">
                    <h3 class="HF-data-container-section-item HF-grid-item-heading">Bánh kẹo</h3>
                    <div class="HF-data-container-section-item HF-featured-grid-item-description">
                        <p>Bánh kẹo vô số tha hồ mà lựa.</p>
                    </div>
                    <div class="HF-data-container-section-item HF-featured-grid-item-link">

                    </div>
                </div>

            </div>
            <div class="HF-featured-grid-item large-3 small-6">

                <div class="HF-data-container-section-item HF-featured-grid-item-image HF-figure-overflow">
                    <div class="HF-figure-overflow">
                        <a routerLink="/snack" title="">
                            <img class="HF-hover-img"
                                src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1629696503/fritos-198624_yqgozm.jpg"
                                title="">
                        </a>
                    </div>

                </div>
                <div class="HF-data-container-section-item HF-featured-grid-item-text-container">
                    <h3 class="HF-data-container-section-item HF-grid-item-heading">Snack</h3>
                    <div class="HF-data-container-section-item HF-featured-grid-item-description">
                        <p>Rất nhiều loại bim bim và snack!</p>
                    </div>
                    <div class="HF-data-container-section-item HF-featured-grid-item-link">

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="container mb-5 p-1 " *ngIf="promotions.length>0&&!isLoading">
    <div class="row" style="margin-top: 3%;margin:0 auto;
    width: 100%;display: block;">
        <div class="col-lg-12">
            <div class="section-title">
                <h2 class="text-monospace text-tron" style="text-align: center;">Chương trình khuyến mãi đang diễn ra!
                </h2>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center ">
        <ng-container *ngFor="let o of promotions,index as i">
            <div class="row d-flex justify-content-center border border-success rounded-3 p-3 
            animate__animated animate__bounceIn " style="min-height: 400px;border-width: 3px!important;"
                *ngIf="i==indexPromo" (mouseenter)="isHover=true" (mouseleave)="isHover=false">
                <div class="col-md-6 d-flex justify-content-center p-2 ">
                    <img class="promo-home-pic img-fluid border rounded-3" src="{{currentPromo.imgUrl}}">

                </div>
                <div class="col-md-6  p-2">
                    <h3 class="text-tron">{{currentPromo.name}}</h3>
                    <p class="text-tron pro-des p-3">{{currentPromo.description}}</p>
                    <div class="d-flex">
                        <div class=" align-self-start mr-2">
                            <i class="fas fa-calendar-check"></i>
                        </div>
                        <div class=" align-self-end text-tron">
                            Ngày bắt đầu : {{currentPromo.startDate}}
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="align-self-start mr-2">
                            <i class="fas fa-ban"></i>
                        </div>
                        <div class=" align-self-end text-tron">
                            Ngày kết thúc : {{currentPromo.endDate}}
                        </div>
                    </div>
                    <div class="mt-3">
                       <button class="btn btn-success">Xem ngay <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </ng-container>


        <div class="row justify-content-center my-4">
            <div class="col d-flex justify-content-center">
                <ng-container *ngFor="let o of [].constructor(promotions.length),index as i">

                    <i class="fas fa-square fa-lg animate__animated animate__bounce animate__infinite mx-2"
                        *ngIf="i==indexPromo"></i>
                    <i class="far fa-square fa-lg mx-2" *ngIf="i!=indexPromo" (click)="switchPromo(i)" ></i>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row" style="margin-top: 3%;margin:0 auto;
width: 100%;display: block;">
        <div class="col-lg-12">
            <div class="section-title">
                <h2 class="text-tron" style="text-align: center;">Tìm kiếm sản phẩm yêu thích của bạn!</h2>
            </div>
        </div>
    </div>
</div>
<app-product-list></app-product-list>


<section id="share-section" class="bg-light text-muted py-5 mt-5">
    <div class="container shop-info">

        <div class="row">
            <div class="col-md-4 ad-pic">
                <img src="https://img.freepik.com/free-photo/product-package-boxes-shopping-bag-cart-with-laptop-online-shopping-delivery-concept_38716-138.jpg?size=626&ext=jpg"
                    alt="" class="img-fluid mb-3 rounded-circle">
                <img src="https://elite-symbol.com/wp-content/uploads/2017/08/businessman.png" alt=""
                    class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-8">
                <h3>Circle's Shop</h3>
                <p class="text-tron">Là 1 trong những website đi chợ online đầu tiên tại Việt Nam, Circle's Shop đã mang
                    lại nhiều ưu thế cũng như cạnh tranh mạnh mẽ so với cách đi chợ truyền thống</p>
                <div class="d-flex">
                    <div class="p-4 align-self-end ">
                        <p class="text-tron"><i class="fas fa-check fa-2x"></i> Nguồn hàng tươi sống an toàn – giá rẻ:
                            Chợ thực phẩm online là nơi có thể mua rau củ quả, thịt, trái cây nguồn gốc rõ ràng,
                            với định lượng rõ ràng. Thậm chí bạn còn có thể tìm thấy những món đặc sản vùng miền mà
                            không cần cất công tìm kiếm cửa hàng.
                        </p>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="p-4 align-self-end">
                        <p class="text-tron"> <i class="fas fa-check fa-2x"></i>
                            Tiện dụng và tiết kiệm: với giao diện website đẹp mắt, thiết kế tối ưu, hỗ trợ bạn dễ dàng
                            tìm
                            kiếm và mua thực phẩm online đúng nhu cầu. Ngoài việc tiết kiệm chi phí đi lại, hình thức đi
                            chợ
                            online còn có nhiều ưu điểm khác: an toàn trong mùa dịch, tiết kiệm công sức, thời gian đi
                            lại,
                            miễn phí ship cho đơn hàng từ 200.000đ trở lên.
                        </p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-4 align-self-end">
                        <p class="text-tron">
                            <i class="fas fa-check fa-2x"></i> Thanh toán linh hoạt: cạnh hình thức trả tiền mặt khi
                            nhận hàng, chúng tôi còn nhận
                            thanh toán qua tài khoản ngân hàng, ví điện tử Momo…
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>