<app-nav></app-nav>


<!-- <div id="slide-show">
    <ngb-carousel #carousel [interval]="2400" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
        [showNavigationArrows]="true" [showNavigationIndicators]="true" [keyboard]="true" [pauseOnHover]="true"
        [wrap]="true" (slide)="onSlide($event)">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide" class="mh-100 slide-tron-img">
            </div>
            <div class="carousel-caption">
                <button class="btn btn-success" routerLink="/fruit">Shop Now <i class="fas fa-arrow-right"></i></button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random 3 slide" class="mh-100 slide-tron-img">
            </div>
            <div class="carousel-caption">
                <button class="btn btn-success" routerLink="/snack">Shop Now <i class="fas fa-arrow-right"></i></button>
            </div>
        </ng-template>

    </ngb-carousel>
</div> -->

<section class="section" id="section_893025223">
    <div class="bg section-bg fill bg-fill bg-loaded"></div>
    <div class="section-content relative">
        <div class="banner has-hover hide-for-small" id="banner-143461212">
            <div class="banner-inner fill">
                <div class="banner-bg fill">
                    <div class="bg fill bg-fill bg-loaded"></div>
                    <div class="overlay"></div>
                </div>
                <div class="banner-layers container">
                    <div class="fill banner-link"></div>
                    <div id="text-box-1947309283"
                        class="text-box banner-layer x50 md-x50 lg-x50 y15 md-y15 lg-y15 res-text">
                        <div class="text-box-content text dark">
                            <div class="text-inner text-center">
                                <h4>Cửa hàng mua thực phẩm online TP.HCM. Chuyên bán các loại rau sạch, củ quả, trái cây, thực phẩm tươi sống</h4>

                                <a *ngFor="let o of categoryList" (click)="goToSearch(o.name)"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;">
                                    <span>
                                      {{o.name}}
                                    </span>
                                    <i class="fas fa-arrow-right "></i>
                                </a>
                                <!-- <a routerLink="/fruit" target="_self"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;">
                                    <span><i class="fas fa-apple-alt"></i> Trái cây</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                                <a routerLink="/confectionery" target="_self"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;"> <span><i class="fas fa-candy-cane"></i> Bánh kẹo</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                                <a routerLink="/snack" target="_self"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;"> <span><i class="fas fa-cookie-bite"></i> Snack</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                                <a routerLink="/animalproduct" target="_self"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;"> <span><i class="fas fa-drumstick-bite"></i> Thịt tươi
                                        sống</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                                <a routerLink="/cannedfood" target="_self"
                                    class="button primary is-small animate__animated animate__backInDown "
                                    style="border-radius:99px;"> <span><i class="fas fa-spray-can"></i> Đồ hộp</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a> -->
                              
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="height-fix is-invisible"><img width="1920" height="680"
                    src="https://cuahangtienloi24h.com/wp-content/uploads/2021/07/rev-slider_h4-2.jpg"></div>
        </div>
    </div>
</section>
<div class="container hide-for-small">
    <hr>
</div>

<section id="home-icons" class="py-5">
    <div class="container ">
        <div class="row">
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-shipping-fast fa-3x mb-2 animate__animated animate__wobble animate__infinite "></i>
                <h3>Giao hàng nhanh</h3>
                <p>Giao hàng nhanh và an toàn<br>
                    Miễn phí giao, nhanh chóng, tiện lợi</p>
            </div>
            <div class="col-md-4 mb-4 text-center ">
                <i class="fas fa-phone-square fa-3x mb-2 animate__animated animate__wobble animate__infinite"></i>
                <h3>Hỗ trợ khách hàng</h3>
                <p>Hỗ trợ trực tuyến với nhân viên tận tình<br>
                    Đội ngũ tư vấn thân thiện và nhanh nhẹn</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-cart-plus fa-3x mb-2 animate__animated animate__wobble animate__infinite"></i>
                <h3>Mua sắm dễ dàng</h3>
                <p>Thủ tục đơn giản và giao diện thân thiện<br>
                    Hoàn tiền nếu sản phẩm không đúng ý</p>
            </div>
        </div>
    </div>
</section>
<div class="container hide-for-small">
    <hr>
</div>

<div class="HF-data-container-section HF-featured-grid HF-bg-offwhite" style="    display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: stretch;
align-items: stretch;" id="home-category">
    <div class="HF-data-container-panel HF-featured-grid-header">
        <div class="HF-featured-grid-header-container">
            <h3 class="text-monospace text-tron"><i class="far fa-star"></i> Nổi bật </h3>
        </div>
    </div>

    <div class="HF-featured-grid-body">
        <div class="HF-featured-grid-body-container">
            <div class="HF-featured-grid-item large-3 small-6">

                <div class="HF-data-container-section-item HF-featured-grid-item-image ">
                    <div class="HF-figure-overflow">
                        <a routerLink="/fruit" title="">
                            <img class="HF-hover-img hover-shine"
                                src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1636952300/FruitLoversBox1920x1920_j3ci8d.jpg"
                                title="">
                        </a>

                    </div>

                </div>
                <div class="HF-data-container-section-item HF-featured-grid-item-text-container">
                    <h3 class="HF-data-container-section-item HF-grid-item-heading"><i class="fas fa-apple-alt"></i>
                        Trái cây</h3>
                    <div class="HF-data-container-section-item HF-featured-grid-item-description">
                        <p>Trái cây nhập khẩu 100% và tự nhiên.</p>
                    </div>
                    <div class="HF-data-container-section-item HF-featured-grid-item-link">

                    </div>
                </div>

            </div>
            <div class="HF-featured-grid-item large-3 small-6">

                <div class="HF-data-container-section-item HF-featured-grid-item-image HF-figure-overflow">
                    <div class="HF-figure-overflow">
                        <a routerLink="/vegetable" title="">
                            <img class="HF-hover-img"
                                src="//cdn.shopify.com/s/files/1/0206/9470/collections/buy-groceries-online_a778f666-e7e6-4312-acbe-696ada4e81cd_large.jpg?v=1617760517"
                                title="">
                        </a>

                    </div>

                </div>
                <div class="HF-data-container-section-item HF-featured-grid-item-text-container">
                    <h3 class="HF-data-container-section-item HF-grid-item-heading"><i class="fas fa-carrot"></i> Rau củ
                    </h3>
                    <div class="HF-data-container-section-item HF-featured-grid-item-description">
                        <p>Tươi sống từ nông trại mỗi ngày.</p>
                    </div>
                    <div class="HF-data-container-section-item HF-featured-grid-item-link">

                    </div>
                </div>

            </div>
            <div class="HF-featured-grid-item large-3 small-6">

                <div class="HF-data-container-section-item HF-featured-grid-item-image HF-figure-overflow">
                    <div class="HF-figure-overflow">
                        <a routerLink="/confectionery" title="">
                            <img class="HF-hover-img"
                                src="https://www.famima.vn/wp-content/uploads/2016/12/CONFACTIONARY-2.jpg" title="">
                        </a>
                    </div>

                </div>
                <div class="HF-data-container-section-item HF-featured-grid-item-text-container">
                    <h3 class="HF-data-container-section-item HF-grid-item-heading"><i class="fas fa-candy-cane"></i>
                        Bánh kẹo</h3>
                    <div class="HF-data-container-section-item HF-featured-grid-item-description">
                        <p>Bánh kẹo vô số tha hồ mà lựa.</p>
                    </div>
                    <div class="HF-data-container-section-item HF-featured-grid-item-link">

                    </div>
                </div>

            </div>
            <div class="HF-featured-grid-item large-3 small-6">

                <div class="HF-data-container-section-item HF-featured-grid-item-image HF-figure-overflow">
                    <div class="HF-figure-overflow">
                        <a routerLink="/snack" title="">
                            <img class="HF-hover-img"
                                src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1629696503/fritos-198624_yqgozm.jpg"
                                title="">
                        </a>
                    </div>

                </div>
                <div class="HF-data-container-section-item HF-featured-grid-item-text-container">
                    <h3 class="HF-data-container-section-item HF-grid-item-heading"><i class="fas fa-cookie-bite"></i>
                        Snack</h3>
                    <div class="HF-data-container-section-item HF-featured-grid-item-description">
                        <p>Rất nhiều loại bim bim và snack!</p>
                    </div>
                    <div class="HF-data-container-section-item HF-featured-grid-item-link">

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="container">
    <hr>
</div>

<div class="container mb-5 p-1 " *ngIf="promotions.length>0&&!isLoading">
    <div class="row" style="margin-top: 3%;margin:0 auto;
    width: 100%;display: block;">
        <div class="col-lg-12">
            <div class="">
                <h3 class="text-monospace text-tron" style="text-align: center;"><i class="fas fa-bullhorn"></i> Chương
                    trình khuyến mãi đang diễn ra!
                </h3>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <ng-container *ngFor="let o of promotions,index as i">
            <div class="container py-4 animate__animated animate__rotateIn" *ngIf="i==indexPromo"
                (mouseenter)="isHover=true" (mouseleave)="isHover=false">
                <article class="postcard dark blue">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="{{currentPromo.imgUrl}}" alt="Image Title">
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title blue text-tron"><a href="#">{{currentPromo.name}}</a></h1>
                        <div class="postcard__subtitle small">
                            <time>
                                <i class="fas fa-calendar-alt mr-2"></i> Ngày bắt đầu :
                                {{currentPromo.startDate|date:'dd/MM/yyyy'}}
                            </time>
                            <br>
                            <time>
                                <i class="fas fa-ban mr-2"></i> Ngày kết thúc :
                                {{currentPromo.endDate|date:'dd/MM/yyyy'}}
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt text-tron">{{currentPromo.description}}</div>

                        <button class="btn2  " (click)="openPromoUrlInNewWindow(currentPromo.id)">Xem ngay <i
                                class="fas fa-arrow-right"></i></button>

                    </div>
                </article>
            </div>
        </ng-container>


        <div class="row justify-content-center my-4">
            <div class="col d-flex justify-content-center">
                <ng-container *ngFor="let o of [].constructor(promotions.length),index as i">

                    <i class="fas fa-square fa-lg animate__animated animate__bounce animate__infinite mx-2"
                        *ngIf="i==indexPromo"></i>
                    <i class="far fa-square fa-lg mx-2" *ngIf="i!=indexPromo" (click)="switchPromo(i)"></i>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
</div>
<div class="container">
    <div class="row h4-box-service ApRow  has-bg bg-boxed"
        data-src="https://cdn.shopify.com/s/files/1/0740/5717/files/freshio_h4_bg.png?v=1630897965"
        style="background:url(https://cdn.shopify.com/s/files/1/0740/5717/files/freshio_h4_bg.png?v=1630897965) no-repeat top center;"
        data-bg_data=" no-repeat top center">
        <!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-sp-12  ApColumn ">
            <!-- @file modules\appagebuilder\views\templates\hook\ApImage -->
            <div id="image-form_3824253472922598" class="block ApImage">


                <img src="https://previews.123rf.com/images/amin268/amin2681904/amin268190400791/122645063-cube-in-hands-thin-line-icon-arm-and-cube-hands-holding-block-sign-vector-graphics-a-linear-pattern-.jpg"
                    class="" title="" alt="" style=" width:100%; 
                height:auto">

                <div class="image_description">
                    <h3>Chọn sản phẩm</h3>
                    <p>Chọn bất kỳ sản phẩm nào bạn muốn. Từ rau củ,trái cây sạch đến bánh kẹo và snack!</p>
                </div>
            </div>
        </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-sp-12  ApColumn ">
            <!-- @file modules\appagebuilder\views\templates\hook\ApImage -->
            <div id="image-form_5746829324446735" class="block ApImage">


                <img src="https://cdn.shopify.com/s/files/1/0740/5717/files/freshio_h4_sv2.jpg?v=1630897682" class=""
                    title="" alt="" style=" width:100%; 
                height:auto">

                <div class="image_description">
                    <h3>Giỏ hàng của bạn</h3>
                    <p>Thêm bất kỳ sản phẩm bạn yêu thích vào giỏ hàng. Tận hưởng trải nghiệm mua sắm online!</p>
                </div>
            </div>
        </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-sp-12  ApColumn ">
            <!-- @file modules\appagebuilder\views\templates\hook\ApImage -->
            <div id="image-form_16618622643932778" class="block ApImage">


                <img src="https://cdn.shopify.com/s/files/1/0740/5717/files/freshio_h4_sv3.jpg?v=1630897682" class=""
                    title="" alt="" style=" width:100%; 
                height:auto">

                <div class="image_description">
                    <h3>Gửi đơn hàng. Được giao hàng. Tận hưởng.</h3>
                    <p>Gửi đơn hàng và bạn sẽ không cần tốn công đi mua sắm. Giao hàng tận nơi và miễn phí cho toàn bộ
                        TP.HCM!</p>
                </div>
            </div>
        </div>
    </div>
</div>


<app-product-list></app-product-list>
<div class="container">
    <hr>
</div>
<div class="container py-4">
    <div class="row h1-box-service home-2 ApRow  has-bg bg-boxed" style="background: #ffffff no-repeat center center;"
        data-bg_data=" #ffffff no-repeat center center">
        <!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-sp-12  ApColumn ">
            <!-- @file modules\appagebuilder\views\templates\hook\ApImage -->
            <div id="image-form_1876637435" class="block ApImage">
                <img src="https://cdn.shopify.com/s/files/1/0740/5717/files/freshio_h1_service_1.png?v=1604626519"
                    class="" title="" alt="" style=" width:auto; height:auto">

                <div class="image_description">
                    <h3>Sản phẩm chất lượng</h3>
                    <p>Được chọn lọc kỹ lưỡng từ các thương nhân hàng đầu.</p>
                </div>
            </div>
        </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-sp-12  ApColumn ">
            <!-- @file modules\appagebuilder\views\templates\hook\ApImage -->
            <div id="image-form_3177626521" class="block ApImage">


                <img src="https://cdn.shopify.com/s/files/1/0740/5717/files/freshio_h1_service_2.png?v=1604626519"
                    class="" title="" alt="" style=" width:auto; height:auto">

                <div class="image_description">
                    <h3>Chế biến hợp vệ sinh</h3>
                    <p>Được thực hiện bằng sự kỳ công của hơn 300 nông trại trên khắp cả nước.</p>
                </div>
            </div>
        </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-sp-12  ApColumn ">
            <!-- @file modules\appagebuilder\views\templates\hook\ApImage -->
            <div id="image-form_1746341289" class="block ApImage">


                <img src="https://cdn.shopify.com/s/files/1/0740/5717/files/freshio_h1_service_3.png?v=1604626519"
                    class="" title="" alt="" style=" width:auto; height:auto">

                <div class="image_description">
                    <h3>100% Tự nhiên</h3>
                    <p>Sản phẩm từ thiên nhiên, trồng và nuôi dưỡng tại Việt Nam.</p>
                </div>
            </div>
        </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-sp-12  ApColumn ">
            <!-- @file modules\appagebuilder\views\templates\hook\ApImage -->
            <div id="image-form_2353415247" class="block ApImage">


                <img src="https://cdn.shopify.com/s/files/1/0740/5717/files/freshio_h1_service_4.png?v=1604626519"
                    class="" title="" alt="" style=" width:auto; height:auto">

                <div class="image_description">
                    <h3>Giao hàng</h3>
                    <p>Miễn phí &amp; nhanh chóng</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="!isLoading">
    <div class="row h5-box-product-2 style-banner ApRow  has-bg bg-boxed justify-content-center" style="background: no-repeat;">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-sp-12 ApColumn ">
            <div class="block ApProductList">
                <h4 class="title_block text-monospace  text-tron " style="color: chartreuse;">
                    <i class="fas fa-dollar-sign"></i> Bán chạy nhất
                </h4>
                <ul class="product_list grid row product-list-3 flex-column">
                    <li class="ajax_block_product product_block  col  "
                        *ngFor="let pro of topProduct,index as i">
                        <article class="product-miniature js-product-miniature" >
                            <div class="thumbnail-container">
                                <div class="product-image">
                                    <a class="thumbnail product-thumbnail hover_badge" (click)="openProductUrlInNewWindow(pro.product.id)"  >
                                        <img class="img-fluid" src="{{pro.product.imgUrl}}" alt="">
                                        <span class="product-additional"></span>
                                    </a>
                                </div>
                                <div class="product-meta">
                                    <h3 class="h3 product-title" itemprop="name"><a (click)="openProductUrlInNewWindow(pro.product.id)" href="javascript:void(0)">{{pro.product.name}}</a></h3>
                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix text-muted small">
                                                {{pro.product.category.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-price-and-shipping ">
                                        <span class="sr-only">Giá</span>
                                        <div *ngIf="!promoInfoTop[i]">
                                            <span class="price">
                                                <span >{{pro.product.price |currency:'VND':''}} 
                                                    <span style="text-decoration: underline;">đ</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div *ngIf="promoInfoTop[i]">
                                            <span class="price" *ngIf="promoInfoTop[i].promotionPercent!='null'">
                                                <span > {{pro.product.price-pro.product.price*toNumber(promoInfoTop[i].promotionPercent)/100 |currency:'VND':''}}
                                                    <span class="currency-dis">đ</span>
                                                </span>
                                                <span class="badge bg-success ml-2"
                                                    ngbTooltip="{{promoInfoTop[i].promotion.name}}&#013;Bắt đầu : {{promoInfoTop[i].promotion.startDate}}&#013;Kết thúc : {{promoInfoTop[i].promotion.endDate}}&#013;Giảm : {{promoInfoTop[i].promotionPercent}}%&#013;Giá gốc : {{pro.product.price| currency:'VND':''}} đ"
                                                    placement="auto"
                                                    >-{{promoInfoTop[i].promotionPercent}}%
                                                </span>
                                            </span>
                                            <span class="price" *ngIf="promoInfoTop[i].promotionAmount!='null'">
                                                <span >  {{pro.product.price-toNumber(promoInfoTop[i].promotionAmount) | currency:'VND':''}}
                                                    <span style="text-decoration: underline;">đ</span>
                                                </span>
                                                <span class="badge bg-danger ml-2"
                                                ngbTooltip="{{promoInfoTop[i].promotion.name}}&#013;Bắt đầu : {{promoInfoTop[i].promotion.startDate}}&#013;Kết thúc : {{promoInfoTop[i].promotion.endDate}}&#013;Giảm : {{promoInfoTop[i].promotionAmount}} VND&#013;Giá gốc : {{pro.product.price| currency:'VND':''}} đ"
                                                placement="auto" data-html="true"
                                                >-{{promoInfoTop[i].promotionAmount|currency:'VND':''}}
                                                <span class="currency-dis">đ</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <a class="btn btn-danger mr-2 mt-2" (click)="addToFav(pro.product)"><i class="fa fa-heart"></i></a>
                                    <a class="btn btn-warning mt-2" (click)="addToCart(pro)" *ngIf="pro.product.unitInStock!=0"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-warning mt-2" (click)="alertSoldOut()" *ngIf="pro.product.unitInStock==0"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </article>
                    </li>
                    <div class="loading-full" *ngIf="isLoadingTopPro">
                        <div class="spinner-border text-info" role="status" style="width: 4rem;height: 4rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="text monospace">Xin chờ một chút...</p>
                    </div>
                </ul>
                <div class="box-show-more open">
                    <a  href="javascript:void(0)" (click)="newSearch()" class="btn2 btn-default btn-show-more">
                        <span>Show more</span></a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-sp-12 ApColumn ">
            <div class="block ApProductList">
                <h4 class="title_block text-monospace  text-tron  " style="color: red;">
                    <i class="fas fa-heart"></i> Được yêu thích nhất
                </h4>
                <ul class="product_list grid row product-list-3 flex-column">
                    <li class="ajax_block_product product_block  col "
                        *ngFor="let pro of mostFavProduct,index as i">
                        <article class="product-miniature js-product-miniature" >
                            <div class="thumbnail-container">

                                <div class="product-image" >
                                    <a class="thumbnail product-thumbnail hover_badge" (click)="openProductUrlInNewWindow(pro.id)">
                                        <img class="img-fluid" src="{{pro.imgUrl}}" alt="" >
                                        <span class="product-additional"></span>
                                    </a>
                                </div>
                                <div class="product-meta">
                                    <h3 class="h3 product-title" itemprop="name"><a (click)="openProductUrlInNewWindow(pro.id)" href="javascript:void(0)">{{pro.name}}</a></h3>
                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix text-muted small">
                                                {{pro.category.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-price-and-shipping ">
                                        <span class="sr-only">Giá</span>
                                        <div *ngIf="!promoInfoMostFav[i]">
                                            <span class="price">
                                                <span >{{pro.price |currency:'VND':''}} 
                                                    <span style="text-decoration: underline;">đ</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div *ngIf="promoInfoMostFav[i]">
                                            <span class="price" *ngIf="promoInfoMostFav[i].promotionPercent!='null'">
                                                <span > {{pro.price-pro.price*toNumber(promoInfoMostFav[i].promotionPercent)/100 |currency:'VND':''}}
                                                    <span class="currency-dis">đ</span>
                                                </span>
                                                <span class="badge bg-success ml-2"
                                                    ngbTooltip="{{promoInfoMostFav[i].promotion.name}}&#013;Bắt đầu : {{promoInfoMostFav[i].promotion.startDate}}&#013;Kết thúc : {{promoInfoMostFav[i].promotion.endDate}}&#013;Giảm : {{promoInfoMostFav[i].promotionPercent}}%&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ"
                                                    placement="auto"
                                                    >-{{promoInfoMostFav[i].promotionPercent}}%
                                                </span>
                                            </span>
                                            <span class="price" *ngIf="promoInfoMostFav[i].promotionAmount!='null'">
                                                <span >  {{pro.price-toNumber(promoInfoMostFav[i].promotionAmount) | currency:'VND':''}}
                                                    <span style="text-decoration: underline;">đ</span>
                                                </span>
                                                <span class="badge bg-danger ml-2"
                                                ngbTooltip="{{promoInfoMostFav[i].promotion.name}}&#013;Bắt đầu : {{promoInfoMostFav[i].promotion.startDate}}&#013;Kết thúc : {{promoInfoMostFav[i].promotion.endDate}}&#013;Giảm : {{promoInfoMostFav[i].promotionAmount}} VND&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ"
                                                placement="auto" data-html="true"
                                                >-{{promoInfoMostFav[i].promotionAmount|currency:'VND':''}}
                                                <span class="currency-dis">đ</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <a class="btn btn-danger mr-2 mt-2" (click)="addToFav(pro)"><i class="fa fa-heart"></i></a>
                                    <a class="btn btn-warning mt-2" (click)="addToCart(pro)" *ngIf="pro.unitInStock!=0"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-warning mt-2" (click)="alertSoldOut()" *ngIf="pro.unitInStock==0"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </article>
                    </li>
                    <div class="loading-full" *ngIf="isLoadingMostFavPro">
                        <div class="spinner-border text-info" role="status" style="width: 4rem;height: 4rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="text monospace">Xin chờ một chút...</p>
                    </div>
                </ul>
                <div class="box-show-more open">
                    <a  href="javascript:void(0)" (click)="newSearch()" class="btn2 btn-default btn-show-more" >
                        <span>Show more</span></a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-sp-12  ApColumn " id="latestPro">
            <div class="block ApProductList">
                <h4 class="title_block text-monospace text-tron " style="color: aqua;">
                    <i class="fas fa-history"></i> Mới nhất
                </h4>
                <ul class="product_list grid row product-list-3">
                    <li class="ajax_block_product product_block  col  "
                        *ngFor="let pro of latestProduct,index as i">
                        <article class="product-miniature js-product-miniature" >
                            <div class="thumbnail-container">
                                <div class="product-image">
                                    <a class="thumbnail product-thumbnail hover_badge" (click)="openProductUrlInNewWindow(pro.id)">
                                        <img class="img-fluid"  src="{{pro.imgUrl}}" alt="">
                                        <span class="product-additional"></span>
                                    </a>
                                </div>
                                <div class="product-meta">
                                    <h3 class="h3 product-title" itemprop="name"><a  (click)="openProductUrlInNewWindow(pro.id)" href="javascript:void(0)">{{pro.name}}</a></h3>
                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix text-muted small">
                                                {{pro.category.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-price-and-shipping ">
                                        <span class="sr-only">Giá</span>
                                        <div *ngIf="!promoInfoLatest[i]">
                                            <span class="price">
                                                <span >{{pro.price |currency:'VND':''}} 
                                                    <span style="text-decoration: underline;">đ</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div *ngIf="promoInfoLatest[i]">
                                            <span class="price" *ngIf="promoInfoLatest[i].promotionPercent!='null'">
                                                <span > {{pro.price-pro.price*toNumber(promoInfoLatest[i].promotionPercent)/100 |currency:'VND':''}}
                                                    <span class="currency-dis">đ</span>
                                                </span>
                                                <span class="badge bg-success ml-2"
                                                    ngbTooltip="{{promoInfoLatest[i].promotion.name}}&#013;Bắt đầu : {{promoInfoLatest[i].promotion.startDate}}&#013;Kết thúc : {{promoInfoLatest[i].promotion.endDate}}&#013;Giảm : {{promoInfoLatest[i].promotionPercent}}%&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ"
                                                    placement="auto"
                                                    >-{{promoInfoLatest[i].promotionPercent}}%
                                                </span>
                                            </span>
                                            <span class="price" *ngIf="promoInfoLatest[i].promotionAmount!='null'">
                                                <span >  {{pro.price-toNumber(promoInfoLatest[i].promotionAmount) | currency:'VND':''}}
                                                    <span style="text-decoration: underline;">đ</span>
                                                </span>
                                                <span class="badge bg-danger ml-2"
                                                ngbTooltip="{{promoInfoLatest[i].promotion.name}}&#013;Bắt đầu : {{promoInfoLatest[i].promotion.startDate}}&#013;Kết thúc : {{promoInfoLatest[i].promotion.endDate}}&#013;Giảm : {{promoInfoLatest[i].promotionAmount}} VND&#013;Giá gốc : {{pro.price| currency:'VND':''}} đ"
                                                placement="auto" data-html="true"
                                                >-{{promoInfoLatest[i].promotionAmount|currency:'VND':''}}
                                                <span class="currency-dis">đ</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <a class="btn btn-danger mr-2 mt-2" (click)="addToFav(pro)"><i class="fa fa-heart"></i></a>
                                    <a class="btn btn-warning mt-2" (click)="addToCart(pro)" *ngIf="pro.unitInStock!=0"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-warning mt-2" (click)="alertSoldOut()" *ngIf="pro.unitInStock==0"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </article>
                    </li>
                    <div class="loading-full" *ngIf="isLoadingNewPro">
                        <div class="spinner-border text-info" role="status" style="width: 4rem;height: 4rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="text monospace">Xin chờ một chút...</p>
                    </div>
                </ul>
                <div class="box-show-more open">
                    <a href="javascript:void(0)" (click)="newSearch()" class="btn2 btn-default btn-show-more" 
                        >
                        <span>Show more</span></a>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="container">
    <hr>
</div>

<section id="share-section" class="bg-light text-muted py-5 mt-5">
    <div class="container shop-info">

        <div class="row">
            <div class="col-md-4 ad-pic">
                <img src="https://img.freepik.com/free-photo/product-package-boxes-shopping-bag-cart-with-laptop-online-shopping-delivery-concept_38716-138.jpg?size=626&ext=jpg"
                    alt="" class="img-fluid mb-3 rounded-circle">
                <img src="https://elite-symbol.com/wp-content/uploads/2017/08/businessman.png" alt=""
                    class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-8">
                <h3>Circle's Shop</h3>
                <p class="text-tron">Là 1 trong những website đi chợ online đầu tiên tại Việt Nam, Circle's Shop đã mang
                    lại nhiều ưu thế cũng như cạnh tranh mạnh mẽ so với cách đi chợ truyền thống</p>
                <div class="d-flex">
                    <div class="p-4 align-self-end ">
                        <p class="text-tron"><i class="fas fa-check fa-2x"></i> Nguồn hàng tươi sống an toàn – giá rẻ:
                            Chợ thực phẩm online là nơi có thể mua rau củ quả, thịt, trái cây nguồn gốc rõ ràng,
                            với định lượng rõ ràng. Thậm chí bạn còn có thể tìm thấy những món đặc sản vùng miền mà
                            không cần cất công tìm kiếm cửa hàng.
                        </p>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="p-4 align-self-end">
                        <p class="text-tron"> <i class="fas fa-check fa-2x"></i>
                            Tiện dụng và tiết kiệm: với giao diện website đẹp mắt, thiết kế tối ưu, hỗ trợ bạn dễ dàng
                            tìm
                            kiếm và mua thực phẩm online đúng nhu cầu. Ngoài việc tiết kiệm chi phí đi lại, hình thức đi
                            chợ
                            online còn có nhiều ưu điểm khác: an toàn trong mùa dịch, tiết kiệm công sức, thời gian đi
                            lại,
                            miễn phí ship cho đơn hàng từ 200.000đ trở lên.
                        </p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-4 align-self-end">
                        <p class="text-tron">
                            <i class="fas fa-check fa-2x"></i> Thanh toán linh hoạt: cạnh hình thức trả tiền mặt khi
                            nhận hàng, chúng tôi còn nhận
                            thanh toán qua tài khoản ngân hàng, ví điện tử Momo…
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class=" p-3 connect_nofity " *ngIf="isDisconnect">
    <div id="liveToast" class="toast fade show p-3" role="alert" aria-live="assertive" aria-atomic="true">

        <div class="toast-header" style="background-color: #000000;
        color: beige;">
            <i class="fas fa-ban mr-2" style="color: red;"></i>
            <strong class="me-auto"> <b>Không thể kết nối với API!</b></strong>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
            ></button> -->
        </div>
        <div class="toast-body">
            Hãy kiểm tra kết nối mạng của bạn và thử tải lại trang.
        </div>

    </div>
</div>

<app-footer></app-footer>