
<!-- <div class="container form-reg" style="margin-top: 100px;">
    <div class="div-center-content" style="margin-bottom: 20px;">

        <img src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1628192627/logo_v5ukvv.png" style="width: 50%;">
        <strong style="display: block;font-size: 20px;" class="text-monospace"> Đổi mật khẩu</strong>

    </div>
    <form novalidate (ngSubmit)="tryReset()" class="row justify-content-md-center" [formGroup]="rf1">
        <div class="col-md-8">

            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">
                    Mật khẩu mới :
                </label>

                <div class="col-10">
                    <input class="form-control" type="password" id="example-text-input" formControlName="password">
                </div>

            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls.password?.errors?.required&&showFormError">
                Password chưa nhập!
            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls['password'].hasError('minlength')&&showFormError">
                Password phải có 8 kí tự!
            </div>
            <div class="col alert alert-danger" role="alert"
            *ngIf="rf1.controls['password'].hasError('pattern')&&showFormError">
            Password phải thõa : <br>
                Chữ thường <br>
                Chữ in <br>
                Số <br>
                Kí tự đặc biệt <br>
            </div>
            <div class="col alert alert-danger" role="alert" *ngIf="email_send&&showFormError">
               Đã đổi mật khẩu thành công!
            </div>
            <div class="form-group row" *ngIf="!email_send||isLoading">
                <div class="col " style="display: flex;
                justify-content: center;">

                    <button class="btn btn-primary" type="submit">Đổi mật khẩu</button>

                </div>
            </div>
        </div>
    </form>



</div> -->



<div class="container-fluid  form-all-con">
    <div class="d-flex justify-content-center  animate__animated animate__rotateIn">
        <div class="user_card" >
            <div class="d-flex justify-content-center mb-5">
                <div class="brand_logo_container ">
                    <img src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1628192627/logo_v5ukvv.png"
                        class="brand_logo" alt="Logo">
                </div>

            </div>
            <div class="d-flex justify-content-center form_container flex-column align-items-center">
                <strong style="display: block;font-size: 25px;margin-top: 50px;" class="text-monospace">Đổi mật khẩu</strong>
            </div>
            <div class="d-flex justify-content-center form_container">

                <form novalidate (ngSubmit)="tryReset()" [formGroup]="rf1" >
  
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="" class="form-control input_pass" value="" placeholder="Password"
                            formControlName="password">
                    </div>
                    <div class="input-group mb-2" role="alert"
                        *ngIf="rf1.controls.password?.errors?.required&&showFormError">
                        &#9658; Password chưa nhập!
                    </div>
                    <div class="input-group mb-2" role="alert"
                        *ngIf="rf1.controls['password'].hasError('minlength')&&showFormError">
                        &#9658; Password phải có 8 kí tự!
                    </div>
                    <div class="input-group mb-2" role="alert"
                        *ngIf="rf1.controls['password'].hasError('pattern')&&showFormError">
                        &#9658; Password phải có : <br>
                        &bull; Chữ thường <br>
                        &bull; Chữ in <br>
                        &bull; Số <br>
                        &bull; Kí tự đặc biệt <br>
                    </div>
                    
                    <div class="d-flex justify-content-center mt-3 login_container" *ngIf="!isLoading">
                        <button type="submit" name="button" class="btn login_btn"><i class="fas fa-sign-in-alt"></i>
                            Đổi mật khẩu</button>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container" *ngIf="isLoading">
                        <div class="col " style="display: flex;
                justify-content: center;">
                            <div class="spinner-border text-primary" role="status">

                            </div>

                            <p style="color: rgb(0, 0, 0);"> Đang tải ...</p>
                        </div>
                    </div>
  
                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Đã có tài khoản? <a routerLink="/login" class="ml-2">Đăng Nhập</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a routerLink="/password-recover">Quên mật khẩu?</a>
                </div>
            </div>
        </div>
    </div>
</div>

