<div class="container form-reg" style="margin-top: 100px;">
    <div class="div-center-content" style="margin-bottom: 20px;">

        <img src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1628192627/logo_v5ukvv.png" style="width: 50%;">
        <strong style="display: block;font-size: 20px;" class="text-monospace">Password Reset</strong>

    </div>
    <form novalidate (ngSubmit)="tryReset()" class="row justify-content-md-center" [formGroup]="rf1">
        <div class="col-md-8">
            <!-- <div class="col alert alert-danger" role="alert" >
                An error has occurred ! Try again !
            </div> -->
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">
                    New Password:
                </label>

                <div class="col-10">
                    <input class="form-control" type="password" id="example-text-input" formControlName="password">
                </div>

            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls.password?.errors?.required&&showFormError">
                Password is required!
            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls['password'].hasError('minlength')&&showFormError">
                Password is must be atleast 8 characters!
            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls['password'].hasError('pattern')&&showFormError">
                Password must satisfy these requirements : <br>
                Lowercase letters <br>
                Uppercase letters <br>
                Numbers <br>
                Special characters <br>
            </div>
            <div class="col alert alert-danger" role="alert" *ngIf="email_send&&showFormError">
                Password reset complete!
            </div>
            <div class="form-group row" *ngIf="!email_send||isLoading">
                <div class="col " style="display: flex;
                justify-content: center;">
                    <!-- <a routerLink="/register">Sign Up</a><br> -->
                    <button class="btn btn-primary" type="submit">Reset</button>

                </div>
            </div>
        </div>
    </form>



    <!-- <pre>{{rf1.value|json}}</pre>
    <pre>{{rf1.valid|json}}</pre> -->
</div>