<div class="container">
    <div class="row h5-box-product-2 style-banner ApRow  has-bg bg-boxed" style="background: no-repeat;">

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-sp-12  ApColumn ">

            <div class="block ApProductList">

                <h4 class="title_block">
                    Best Seller
                </h4>
                <!-- Products list -->
                <ul class="product_list grid row product-list-3">
                    <li class="ajax_block_product product_block 
                 col-lg-12 
                col-sm-6 col-xs-6 col-sp-12 ">
                        <article class="product-miniature js-product-miniature" data-id-product="2"
                            data-id-product-attribute="0" itemscope="" itemtype="http://schema.org/Product">
                            <div class="thumbnail-container">
                                <div class="product-image">


                                    <a href="https://demo73.leotheme.com/prestashop/at_freshio/en/tomatoes/2-brown-bear-printed-sweater.html"
                                        class="thumbnail product-thumbnail">
                                        <img class="img-fluid"
                                            src="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/30-home_default/brown-bear-printed-sweater.jpg"
                                            alt=""
                                            data-full-size-image-url="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/30-large_default/brown-bear-printed-sweater.jpg">
                                        <span class="product-additional" data-idproduct="2"></span>
                                    </a>



                                </div>
                                <div class="product-meta">
                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <h3 class="h3 product-title" itemprop="name"><a
                                            href="https://demo73.leotheme.com/prestashop/at_freshio/en/tomatoes/2-brown-bear-printed-sweater.html">Grassfed
                                            Organic Turmeric Superghee</a></h3>


                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
                                    <!-- begin /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->
                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- end /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->

                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <div class="product-price-and-shipping ">



                                        <span class="sr-only">Price</span>
                                        <span class="price" itemprop="offers" itemscope=""
                                            itemtype="http://schema.org/Offer">
                                            <span itemprop="priceCurrency" content="USD"></span><span itemprop="price"
                                                content="15">$15.00</span>
                                        </span>




                                    </div>

                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="ajax_block_product product_block 
                 col-lg-12 
                col-sm-6 col-xs-6 col-sp-12 ">
                        <article class="product-miniature js-product-miniature" data-id-product="3"
                            data-id-product-attribute="0" itemscope="" itemtype="http://schema.org/Product">
                            <div class="thumbnail-container">
                                <div class="product-image">


                                    <a href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/3-the-best-is-yet-to-come-framed-poster.html"
                                        class="thumbnail product-thumbnail">
                                        <img class="img-fluid"
                                            src="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/31-home_default/the-best-is-yet-to-come-framed-poster.jpg"
                                            alt=""
                                            data-full-size-image-url="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/31-large_default/the-best-is-yet-to-come-framed-poster.jpg">
                                        <span class="product-additional" data-idproduct="3"></span>
                                    </a>



                                </div>
                                <div class="product-meta">
                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <h3 class="h3 product-title" itemprop="name"><a
                                            href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/3-the-best-is-yet-to-come-framed-poster.html">Pamela's
                                            Products Artisan Blend Flour Gluten Free</a></h3>


                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
                                    <!-- begin /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->
                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- end /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->

                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <div class="product-price-and-shipping ">



                                        <span class="sr-only">Price</span>
                                        <span class="price" itemprop="offers" itemscope=""
                                            itemtype="http://schema.org/Offer">
                                            <span itemprop="priceCurrency" content="USD"></span><span itemprop="price"
                                                content="29">$29.00</span>
                                        </span>




                                    </div>

                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="ajax_block_product product_block 
                 col-lg-12 
                col-sm-6 col-xs-6 col-sp-12 last_item">
                        <article class="product-miniature js-product-miniature" data-id-product="4"
                            data-id-product-attribute="0" itemscope="" itemtype="http://schema.org/Product">
                            <div class="thumbnail-container">
                                <div class="product-image">


                                    <a href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/4-the-adventure-begins-framed-poster.html"
                                        class="thumbnail product-thumbnail">
                                        <img class="img-fluid"
                                            src="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/32-home_default/the-adventure-begins-framed-poster.jpg"
                                            alt=""
                                            data-full-size-image-url="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/32-large_default/the-adventure-begins-framed-poster.jpg">
                                        <span class="product-additional" data-idproduct="4"></span>
                                    </a>



                                </div>
                                <div class="product-meta">
                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <h3 class="h3 product-title" itemprop="name"><a
                                            href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/4-the-adventure-begins-framed-poster.html">Frontier
                                            Co-Op Organic Adobo Seasoning Blend</a></h3>


                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
                                    <!-- begin /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->
                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- end /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->

                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <div class="product-price-and-shipping ">



                                        <span class="sr-only">Price</span>
                                        <span class="price" itemprop="offers" itemscope=""
                                            itemtype="http://schema.org/Offer">
                                            <span itemprop="priceCurrency" content="USD"></span><span itemprop="price"
                                                content="29">$29.00</span>
                                        </span>




                                    </div>

                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
                <!-- End Products list -->
                <div class="box-show-more open">
                    <a href="javascript:void(0)" class="btn btn-default btn-show-more" data-use-animation="0"
                        data-page="2" data-loading-text="Loading...">
                        <span>Show more</span></a>
                </div>

            </div>

        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-sp-12  ApColumn ">

            <div class="block ApProductList">
                <h4 class="title_block">
                    Top Rated
                </h4>
                <!-- Products list -->
                <ul class="product_list grid row product-list-3">
                    <li class="ajax_block_product product_block 
                 col-lg-12 
                col-sm-6 col-xs-6 col-sp-12 first_item">
                        <article class="product-miniature js-product-miniature" data-id-product="27"
                            data-id-product-attribute="0" itemscope="" itemtype="http://schema.org/Product">
                            <div class="thumbnail-container">
                                <div class="product-image">


                                    <a href="https://demo73.leotheme.com/prestashop/at_freshio/en/package-foods/27-mountain-fox-vector-graphics.html"
                                        class="thumbnail product-thumbnail">
                                        <img class="img-fluid"
                                            src="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/79-home_default/mountain-fox-vector-graphics.jpg"
                                            alt=""
                                            data-full-size-image-url="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/79-large_default/mountain-fox-vector-graphics.jpg">
                                        <span class="product-additional" data-idproduct="27"></span>
                                    </a>



                                </div>
                                <div class="product-meta">
                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <h3 class="h3 product-title" itemprop="name"><a
                                            href="https://demo73.leotheme.com/prestashop/at_freshio/en/package-foods/27-mountain-fox-vector-graphics.html">Frontier
                                            Co-Op Organic Adobo Seasoning Blend</a></h3>


                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
                                    <!-- begin /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->
                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- end /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->

                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <div class="product-price-and-shipping ">



                                        <span class="sr-only">Price</span>
                                        <span class="price" itemprop="offers" itemscope=""
                                            itemtype="http://schema.org/Offer">
                                            <span itemprop="priceCurrency" content="USD"></span><span itemprop="price"
                                                content="9">$9.00</span>
                                        </span>




                                    </div>

                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="ajax_block_product product_block 
                 col-lg-12 
                col-sm-6 col-xs-6 col-sp-12 ">
                        <article class="product-miniature js-product-miniature" data-id-product="21"
                            data-id-product-attribute="43" itemscope="" itemtype="http://schema.org/Product">
                            <div class="thumbnail-container">
                                <div class="product-image">


                                    <a href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/21-43-hummingbird-notebook.html#/22-paper_type-ruled"
                                        class="thumbnail product-thumbnail">
                                        <img class="img-fluid"
                                            src="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/73-home_default/hummingbird-notebook.jpg"
                                            alt=""
                                            data-full-size-image-url="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/73-large_default/hummingbird-notebook.jpg">
                                        <span class="product-additional" data-idproduct="21"></span>
                                    </a>



                                </div>
                                <div class="product-meta">
                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <h3 class="h3 product-title" itemprop="name"><a
                                            href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/21-43-hummingbird-notebook.html#/22-paper_type-ruled">Grassfed
                                            Organic Turmeric Superghee</a></h3>


                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
                                    <!-- begin /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->
                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- end /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->

                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <div class="product-price-and-shipping ">



                                        <span class="sr-only">Price</span>
                                        <span class="price" itemprop="offers" itemscope=""
                                            itemtype="http://schema.org/Offer">
                                            <span itemprop="priceCurrency" content="USD"></span><span itemprop="price"
                                                content="12.9">$12.90</span>
                                        </span>




                                    </div>

                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="ajax_block_product product_block 
                 col-lg-12 
                col-sm-6 col-xs-6 col-sp-12 last_item">
                        <article class="product-miniature js-product-miniature" data-id-product="16"
                            data-id-product-attribute="0" itemscope="" itemtype="http://schema.org/Product">
                            <div class="thumbnail-container">
                                <div class="product-image">


                                    <a href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/16-mountain-fox-notebook.html"
                                        class="thumbnail product-thumbnail">
                                        <img class="img-fluid"
                                            src="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/44-home_default/mountain-fox-notebook.jpg"
                                            alt=""
                                            data-full-size-image-url="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/44-large_default/mountain-fox-notebook.jpg">
                                        <span class="product-additional" data-idproduct="16"></span>
                                    </a>



                                </div>
                                <div class="product-meta">
                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <h3 class="h3 product-title" itemprop="name"><a
                                            href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/16-mountain-fox-notebook.html">Frontier
                                            Co-Op Organic Adobo Seasoning Blend</a></h3>


                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
                                    <!-- begin /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->
                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- end /var/www/demo73.leotheme.com/prestashop/at_freshio/modules/leofeature/views/templates/hook/leo_list_product_review.tpl -->

                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <div class="product-price-and-shipping ">



                                        <span class="sr-only">Price</span>
                                        <span class="price" itemprop="offers" itemscope=""
                                            itemtype="http://schema.org/Offer">
                                            <span itemprop="priceCurrency" content="USD"></span><span itemprop="price"
                                                content="12.9">$12.90</span>
                                        </span>




                                    </div>

                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
                <!-- End Products list -->
                <div class="box-show-more open">
                    <a href="javascript:void(0)" class="btn btn-default btn-show-more" data-use-animation="0"
                        data-page="2" data-loading-text="Loading...">
                        <span>Show more</span></a>
                </div>

            </div>

        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-sp-12  ApColumn ">

            <div class="block ApProductList">

                <h4 class="title_block">
                    Top Rated
                </h4>
                <!-- Products list -->
                <ul class="product_list grid row product-list-3">
                    <li class="ajax_block_product product_block 
                 col-lg-12 
                col-sm-6 col-xs-6 col-sp-12 first_item">
                        <article class="product-miniature js-product-miniature" data-id-product="27"
                            data-id-product-attribute="0" itemscope="" itemtype="http://schema.org/Product">
                            <div class="thumbnail-container">
                                <div class="product-image">


                                    <a href="https://demo73.leotheme.com/prestashop/at_freshio/en/package-foods/27-mountain-fox-vector-graphics.html"
                                        class="thumbnail product-thumbnail">
                                        <img class="img-fluid"
                                            src="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/79-home_default/mountain-fox-vector-graphics.jpg"
                                            alt=""
                                            data-full-size-image-url="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/79-large_default/mountain-fox-vector-graphics.jpg">
                                        <span class="product-additional" data-idproduct="27"></span>
                                    </a>



                                </div>
                                <div class="product-meta">
                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <h3 class="h3 product-title" itemprop="name"><a
                                            href="https://demo73.leotheme.com/prestashop/at_freshio/en/package-foods/27-mountain-fox-vector-graphics.html">Frontier
                                            Co-Op Organic Adobo Seasoning Blend</a></h3>


                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-price-and-shipping ">
                                        <span class="sr-only">Price</span>
                                        <span class="price" itemprop="offers" itemscope=""
                                            itemtype="http://schema.org/Offer">
                                            <span itemprop="priceCurrency" content="USD"></span><span itemprop="price"
                                                content="9">$9.00</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="ajax_block_product product_block 
                 col-lg-12 
                col-sm-6 col-xs-6 col-sp-12 ">
                        <article class="product-miniature js-product-miniature" data-id-product="21"
                            data-id-product-attribute="43" itemscope="" itemtype="http://schema.org/Product">
                            <div class="thumbnail-container">
                                <div class="product-image">


                                    <a href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/21-43-hummingbird-notebook.html#/22-paper_type-ruled"
                                        class="thumbnail product-thumbnail">
                                        <img class="img-fluid"
                                            src="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/73-home_default/hummingbird-notebook.jpg"
                                            alt=""
                                            data-full-size-image-url="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/73-large_default/hummingbird-notebook.jpg">
                                        <span class="product-additional" data-idproduct="21"></span>
                                    </a>



                                </div>
                                <div class="product-meta">
                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <h3 class="h3 product-title" itemprop="name"><a
                                            href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/21-43-hummingbird-notebook.html#/22-paper_type-ruled">Grassfed
                                            Organic Turmeric Superghee</a></h3>

                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-price-and-shipping ">



                                        <span class="sr-only">Price</span>
                                        <span class="price" itemprop="offers" itemscope=""
                                            itemtype="http://schema.org/Offer">
                                            <span itemprop="priceCurrency" content="USD"></span><span itemprop="price"
                                                content="12.9">$12.90</span>
                                        </span>




                                    </div>

                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="ajax_block_product product_block 
                 col-lg-12 
                col-sm-6 col-xs-6 col-sp-12 last_item">
                        <article class="product-miniature js-product-miniature" data-id-product="16"
                            data-id-product-attribute="0" itemscope="" itemtype="http://schema.org/Product">
                            <div class="thumbnail-container">
                                <div class="product-image">


                                    <a href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/16-mountain-fox-notebook.html"
                                        class="thumbnail product-thumbnail">
                                        <img class="img-fluid"
                                            src="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/44-home_default/mountain-fox-notebook.jpg"
                                            alt=""
                                            data-full-size-image-url="https://demo73leotheme.b-cdn.net/prestashop/at_freshio/44-large_default/mountain-fox-notebook.jpg">
                                        <span class="product-additional" data-idproduct="16"></span>
                                    </a>



                                </div>
                                <div class="product-meta">
                                    <!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

                                    <h3 class="h3 product-title" itemprop="name"><a
                                            href="https://demo73.leotheme.com/prestashop/at_freshio/en/home/16-mountain-fox-notebook.html">Frontier
                                            Co-Op Organic Adobo Seasoning Blend</a></h3>


                                    <div class="leo-list-product-reviews">
                                        <div class="leo-list-product-reviews-wraper">
                                            <div class="star_content clearfix">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="product-price-and-shipping ">



                                        <span class="sr-only">Price</span>
                                        <span class="price" itemprop="offers" itemscope=""
                                            itemtype="http://schema.org/Offer">
                                            <span itemprop="priceCurrency" content="USD"></span><span itemprop="price"
                                                content="12.9">$12.90</span>
                                        </span>




                                    </div>

                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
                <!-- End Products list -->
                <div class="box-show-more open">
                    <a href="javascript:void(0)" class="btn btn-default btn-show-more" data-use-animation="0"
                        data-page="2" data-loading-text="Loading...">
                        <span>Show more</span></a>
                </div>

            </div>

        </div>
    </div>
</div>