<img src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1633497007/promo3_gikoo1.gif" class="hover-shine">
<p>aaaa</p>

<div class=" position-absolute p-3 bottom-0 start-50 translate-middle-x " style="z-index: 199">
    <div id="liveToast" class="toast fade show p-3" role="alert" aria-live="assertive" aria-atomic="true">

        <div class="toast-header">
            <i class="fas fa-ban mr-2" style="color: red;"></i>
            <strong class="me-auto"> <b>Không thể kết nối với API!</b></strong>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
            ></button> -->
        </div>
        <div class="toast-body">
            Hãy kiểm tra lại kết nối mạng của bạn.
        </div>

    </div>
</div>