<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0" *ngIf="!isLoading">

    <a class="navbar-brand" routerLink="/home">
        <img src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1628192627/logo_v5ukvv.png"
            style="width: 40px;height: 40px;">Circle's Shop</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" [collapse]="isCollapsed">
        <ul class="navbar-nav  ml-auto ">
            <li class="nav-item px-2">
                <a [class.active]="active_tab=='db'" (click)="switchTab('db')" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item px-2">
                <a [class.active]="active_tab=='order'" (click)="switchTab('order')" class="nav-link">Orders</a>
            </li>
            <li class="nav-item px-2">
                <a [class.active]="active_tab=='product'" (click)="switchTab('product')" class="nav-link">Product</a>
            </li>
            <li class="nav-item px-2">
                <a [class.active]="active_tab=='user'" (click)="switchTab('user')" class="nav-link">Users</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-3">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-user"></i> Welcome {{user.displayName}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item">
                        <i class="fas fa-user-circle"></i> Profile
                    </a>
                    <a class="dropdown-item">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </div>
            </li>
            <li class="nav-item" (click)="signOut()">
                <a class="nav-link">
                    <i class="fas fa-user-times"></i> Logout
                </a>
            </li>
        </ul>
    </div>

</nav>



<header id="main-header" class="py-2 bg-primary text-white" *ngIf="active_tab=='db'">
    <div class="container">
        <div class="row">
            <div class="col-md-6 " >
                <h1 *ngIf="active_tab=='db'">
                    <i class="fas fa-cog"></i> Dashboard
                </h1>

            </div>
        </div>
    </div>
</header>

<header id="main-header" class="py-2 bg-success text-white" *ngIf="active_tab=='order'">
    <div class="container">
        <div class="row">
            <div class="col-md-6 " >
                <h1 *ngIf="active_tab=='order'">
                    <i class="fas fa-cart"></i> Orders
                </h1>

            </div>
        </div>
    </div>
</header>


<header id="main-header" class="py-2 bg-warning text-white" *ngIf="active_tab=='product'">
    <div class="container">
        <div class="row">
            <div class="col-md-6 " >
                <h1 *ngIf="active_tab=='product'">
                    <i class="fas fa-bag"></i> Products
                </h1>
            </div>
        </div>
    </div>
</header>

<header id="main-header" class="py-2 bg-info text-white" *ngIf="active_tab=='user'">
    <div class="container">
        <div class="row">
            <div class="col-md-6 " >
                <h1 *ngIf="active_tab=='user'">
                    <i class="fas fa-users"></i> Users
                </h1>
            </div>
        </div>
    </div>
</header>


<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-light" *ngIf="!isLoading">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary btn-block" (click)="switchTab('db')">
                    <i class="fas fa-plus"></i> Dashboard
                </a>
            </div>
            <div class="col-md-3" >
                <a class="btn btn-success btn-block" (click)="switchTab('order')">
                    <i class="fas fa-plus"></i> Order
                </a>
            </div>
            <div class="col-md-3" >
                <a class="btn btn-warning btn-block" (click)="switchTab('product')">
                    <i class="fas fa-plus"></i> Product
                </a>
            </div>
            <div class="col-md-3" >
                <a class="btn btn-info btn-block" (click)="switchTab('user')">
                    <i class="fas fa-plus"></i> User
                </a>
            </div>
        </div>
        <hr>
    </div>
</section>

<div class="loading-full" *ngIf="isLoading">
    <div class="spinner-border text-info" role="status" style="width: 4rem;height: 4rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class="text monospace">Please wait a sec...</p>
</div>
<div class="col-md-9" *ngIf="active_tab=='product'"> 
    <div class="div-center-content" style="margin-top: -25px;margin-bottom: 15px;" id='searchBarProduct'>
        <div class="wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?" 
               [(ngModel)]="keyword" [ngbTypeahead]="searchProduct" [resultTemplate]="rt" [inputFormatter]="formatterProduct"
               (selectItem)="selectedItemProduct($event,edit_product)" >
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>

</div>

<!-- POSTS -->
<section id="posts" *ngIf="!isLoading">
    <div class="container">

        <div class="row">

            <div class="col-md-9" *ngIf="active_tab=='user'">
                <div class="card ">
                    <div class="card-header">
                        <h4>Users</h4>
                        <button class="btn btn-info " (click)="openAddUserModal(newUser)">
                            <i class="fas fa-plus"></i> Add a User
                        </button>
                        <div class="d-flex flex-wrap justify-content-around ">
                            <div class="form-group">
                                <label>Role: </label>
                                <select class="form-select" [(ngModel)]="role" (change)=" getUser()">
                                    <option value="all" selected="true">All</option>
                                    <option value="Administrator">Admin</option>
                                    <option value="Shipper">Shipper</option>
                                    <option value="User">User</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Order: </label>
                                <select class="form-select" [(ngModel)]="orderUser" (change)=" getUser()">
                                    <option value="Id" selected="true">Id</option>
                                    <option value="Email">Email</option>
                                    <option value="Name">Name</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Asc/Desc: </label>
                                <select class="form-select" [(ngModel)]="orderDirUser" (change)="  getUser()">
                                    <option value="Asc">
                                        <p>Asc<i class="fas fa-sort-amount-up-alt"></i></p>
                                    </option>
                                    <option value="Desc">
                                        <p>Desc<i class="fas fa-sort-amount-down"></i></p>
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Page Size: </label>
                                <select class="form-select" [(ngModel)]="pageSizeUser" (change)=" getUser()">
                                    <option value="5" selected="true">5</option>
                                    <option value="2">2</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped  ">
                            <thead class="thead-dark">
                                <tr>

                                    <th>Display Info</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Verified</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let o of pagedUserList,index as i">

                                    <td>
                                        <img src="{{o.imgUrl}}" style="width: 40px;height: 40px;">
                                        <p class="text-tron text-monospace">{{o.displayName}}({{o.roles[0]}})</p>
                                    </td>
                                    <td style="word-break: break-all;">{{o.email}}</td>
                                    <td>{{o.phoneNumber}}</td>
                                    <td *ngIf="o.emailConfirmed">
                                        <p class="text-tron text-success"><i class="fas fa-check"></i></p>
                                    </td>
                                    <td *ngIf="!o.emailConfirmed">
                                        <p class="text-tron text-danger"><i class="fas fa-times"></i></p>
                                    </td>
                                    <td>
                                        <button class="btn btn-info admin-button"
                                            (click)="openEditUserModal(changeProfile,o)">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger admin-button"
                                            (click)="openDeleteUserModal(deleteUser,o.id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container d-flex justify-content-center ">
                        <div class="row">
                            <div class="col">
                                <div id="ng-pagi">
                                    <ngb-pagination [(page)]="pageNumberUser" [pageSize]="pageSizeUser"
                                        [collectionSize]="userList.length" [maxSize]="3" [boundaryLinks]=true
                                        (pageChange)="getPagedUserList()" size="sm">
                                    </ngb-pagination>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <!-- ---------------------------------------------------------------------------------------------------- -->

            <div class="col-md-9" *ngIf="active_tab=='order'">
                <div class="card ">
                    <div class="card-header">
                        <h4>Order</h4>

                        <div class="d-flex flex-wrap justify-content-around ">
                            <div class="form-group">
                                <label>Status: </label>
                                <select class="form-select" [(ngModel)]="status" (change)=" onPageSizeStatusChage()">
                                    <option value="99" selected="true">All</option>
                                    <option value="0">Not Check</option>
                                    <option value="1">Checked</option>
                                    <option value="2">Delivering</option>
                                    <option value="3">Done</option>
                                    <option value="4">Canceled</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Order By: </label>
                                <select class="form-select" [(ngModel)]="orderOrder"
                                    (change)=" onPageSizeStatusChage()">
                                    <option value="Id" selected="true">Id</option>
                                    <option value="Price">Total Price</option>
                                    <option value="OrderDate">OrderDate</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Asc/Desc: </label>
                                <select class="form-select" [(ngModel)]="orderDirOrder"
                                    (change)=" onPageSizeStatusChage()">
                                    <option value="Asc">
                                        <p>Asc<i class="fas fa-sort-amount-up-alt"></i></p>
                                    </option>
                                    <option value="Desc">
                                        <p>Desc<i class="fas fa-sort-amount-down"></i></p>
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Page Size: </label>
                                <select class="form-select" [(ngModel)]="pageSizeOrder"
                                    (change)=" onPageSizeStatusChage()">
                                    <option value="5" selected="true">5</option>
                                    <option value="2">2</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped  ">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th >Contact Info</th>
                                    <th>Order Date</th>
                                    <th>Delivery Date</th>
                                    <th>Total Item</th>
                                    <th>Total Price</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let o of orderList,index as i">

                                    <td>
                                        <p class="text-tron text-monospace">{{o.id}}</p>
                                    </td>
                                    <td>
                                        <p class="text-tron text-monospace">{{o.contactName}}</p>
                                        <p class="text-tron text-monospace">{{o.address}}</p>
                                        <p class="text-tron text-monospace">{{o.email}}</p>
                                    </td>
                                    <td>
                                        <p class="text-tron text-monospace">{{o.orderDate}}</p>
                                    </td>
                                    <td>
                                        <p class="text-tron text-monospace" *ngIf="shippingInfos[i]">
                                            <span *ngIf="shippingInfos[i].deliveryDate">{{shippingInfos[i].deliveryDate}}</span> 
                                            <span *ngIf="!shippingInfos[i].deliveryDate">---</span> 
                                        </p>
                                        <p class="text-tron text-monospace" *ngIf="!shippingInfos[i]" >---</p>
                                    </td>
                                    <td>
                                        <p class="text-tron text-monospace">{{o.totalItem}}</p>
                                    </td>
                                    <td>
                                        <p class="text-tron text-monospace">{{(o.totalPrice).toFixed(2)}}</p>
                                    </td>
                                    <td *ngIf="o.status==0">
                                        <span class="badge bg-info text-dark">Not Check</span>
                                    </td>
                                    <td *ngIf="o.status==1">
                                        <span class="badge bg-success">Checked</span>
                                    </td>
                                    <td *ngIf="o.status==2">
                                        <span class="badge bg-warning text-dark">Delivering</span>
                                    </td>
                                    <td *ngIf="o.status==3">
                                        <span class="badge bg-danger">Done</span>
                                        
                                    </td>
                                    <td *ngIf="o.status==4">
                                        <span class="badge bg-secondary">Canceled</span>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning admin-button"
                                            (click)="openOrderInfoModal(order_info,o)">
                                            <i class="fas fa-box-open"></i></button>
                                        <button class="btn btn-info admin-button"
                                            (click)="openEditOrderInfoModal(edit_order,o)" *ngIf="o.status==0||o.status==1">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger admin-button"
                                            (click)="openDeleteOrderInfoModal(order_delete,o)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container d-flex justify-content-center ">
                        <div class="row">
                            <div class="col">
                                <div id="ng-pagi">
                                    <ngb-pagination [(page)]="pageNumberOrder" [pageSize]="pageSizeOrder"
                                        [collectionSize]="collectionSizeOrder" [maxSize]="3" [boundaryLinks]=true
                                        (pageChange)="getOrder()" size="sm">
                                    </ngb-pagination>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- ------------------------------------------------------------------------------------------------------------------ -->

            <div class="col-md-9" *ngIf="active_tab=='product'">
                <div class="card ">
                    <div class="card-header">
                        <h4>Product</h4>
                        <button class="btn btn-info" (click)="openAddProductModal(add_product)">
                            <i class="fas fa-plus"></i> Add a product
                        </button>
                        <div class="d-flex flex-wrap justify-content-around ">
                            <div class="form-group">
                                <label>Category: </label>
                                <select class="form-select" [(ngModel)]="category"
                                    (change)=" onPageSizeCategoryChange()">
                                    <option value="all" selected="true">All</option>
                                    <option value="Fruit">Fruit</option>
                                    <option value="Vegetable">Vegetable</option>
                                    <option value="Confectionery">Confectionery</option>
                                    <option value="Snack">Snack</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Order: </label>
                                <select class="form-select" [(ngModel)]="orderProduct"
                                    (change)=" onPageSizeCategoryChange()">
                                    <option value="Id" selected="true">Id</option>
                                    <option value="Price">Price</option>
                                    <option value="Name">Name</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Asc/Desc: </label>
                                <select class="form-select" [(ngModel)]="orderDirProduct"
                                    (change)="onPageSizeCategoryChange()">
                                    <option value="Asc">
                                        <p>Asc<i class="fas fa-sort-amount-up-alt"></i></p>
                                    </option>
                                    <option value="Desc">
                                        <p>Desc<i class="fas fa-sort-amount-down"></i></p>
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Page Size: </label>
                                <select class="form-select" [(ngModel)]="pageSizeProduct"
                                    (change)=" onPageSizeCategoryChange()">
                                    <option value="5" selected="true">5</option>
                                    <option value="2">2</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped  ">
                            <thead class="thead-dark">
                                <tr>

                                    <th>Display Info</th>
                                    <th>Price</th>
                                    <th>UiS</th>
                                    <th>Category</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let o of productList,index as i">

                                    <td>
                                        <img src="{{o.imgUrl}}" style="width: 40px;height: 40px;">
                                        <p class="text-tron text-monospace">{{o.name}}</p>
                                    </td>
                                    <td>{{o.price}}</td>
                                    <td>{{o.unitInStock}}</td>
                                    <td>
                                        <p class="text-tron text-success">{{o.category}}</p>
                                    </td>
                                    <td>
                                        <button class="btn btn-info admin-button"
                                            (click)="openEditProductModal(edit_product,o)">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger admin-button"
                                            (click)="openDeleteProductModal(deleteProductModal,o.id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container d-flex justify-content-center ">
                        <div class="row">
                            <div class="col">
                                <div id="ng-pagi">
                                    <ngb-pagination [(page)]="pageNumberProduct" [pageSize]="pageSizeProduct"
                                        [collectionSize]="collectionSizeProduct" [maxSize]="3" [boundaryLinks]=true
                                        (pageChange)="getProduct()" size="sm">
                                    </ngb-pagination>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-3" id='side-info'>
                <div class="card text-center bg-primary text-white mb-3">
                    <div class="card-body">
                        <h3>Order</h3>
                        <h4 class="display-4">
                            <i class="fas fa-pencil-alt"></i> {{dashboardInfo.totalOrder}}
                        </h4>
                        <a (click)="switchTab('order')" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>

                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Product</h3>
                        <h4 class="display-4">
                            <i class="fas fa-folder"></i>{{dashboardInfo.totalProduct}}
                        </h4>
                        <a (click)="switchTab('product')" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>

                <div class="card text-center bg-warning text-white mb-3">
                    <div class="card-body">
                        <h3>Users</h3>
                        <h4 class="display-4">
                            <i class="fas fa-users"></i>{{dashboardInfo.totalUser}}
                        </h4>
                        <a (click)="switchTab('user')" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>
            </div>

            <div class="col-md-9" *ngIf="active_tab=='db'">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1">Latest News - {{today|date}}</span>
                    </div>
                </nav>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="col-md-3" *ngFor="let p of news,index as i">
                        <div class="post" *ngIf="i<newLimit">
                            <a class="post-img" href="{{p.url}}"><img src="{{p.urlToImage}}" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    
                                    <span class="post-date">{{p.publishedAt | date}}</span>
                                </div>
                                <h3 class="post-title"><a href="{{p.url}}">{{p.title}}</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
     
        
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">
                    Copyright &copy;
                    <span id="year"></span>
                    Blogen
                </p>
            </div>
        </div>
    </div>
</footer>













<ng-template #changeProfile let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Change profile info</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label for="img">Profile Image</label>
        <div class="input-group">
            <input type="file" id="img" class="form-control" placeholder="imgUrl" name="dp"
                (change)="selectFile($event)">
        </div>
        <div class="d-flex justify-content-center flex-column align-items-center">
            <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
            <img style="width: 100px;height: 100px;margin-top: 10px;" src="{{urlIMG}}">
        </div>

        <label for="des">Name</label>
        <div class="input-group">
            <input id="des" class="form-control" placeholder="Name..." name="name" [(ngModel)]="newName">
        </div>
        <label for="uis">Phone</label>
        <div class="input-group">
            <input id="uis" class="form-control" placeholder="Phone..." name="phone" [(ngModel)]="newPhone">
        </div>
    </div>
    <div class="modal-footer">
        <div *ngIf="!isUpdateProfile">

            <button type="button" class="btn btn-outline-dark" style="background-color: rgb(25, 216, 41);"
                (click)="saveProfile()">Save</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
        <div class="loading-full" style="height: 100px;" *ngIf="isUpdateProfile">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Please wait a sec...</p>
        </div>
    </div>
</ng-template>


<ng-template #newUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add user </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="rf1">
            <label for="email">Email</label>
            <div class="input-group">
                <input id="email" class="form-control" placeholder="Email..." name="email" formControlName="email">

            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls.email?.errors?.required&&showFormError">
                Email is required!
            </div>
            <div class="col alert alert-danger" role="alert" *ngIf="rf1.controls.email?.errors?.email&&showFormError">
                Email is not valid!
            </div>

            <label for="pass">Password</label>
            <div class="input-group">
                <input id="pass" class="form-control" placeholder="Password..." name="pass" type="password"
                    formControlName="password">
            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls.password?.errors?.required&&showFormError">
                Password is required!
            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls['password'].hasError('minlength')&&showFormError">
                Password is must be atleast 8 characters!
            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls['password'].hasError('pattern')&&showFormError">
                Password must satisfy these requirements : <br>
                Lowercase letters <br>
                Uppercase letters <br>
                Numbers <br>
                Special characters <br>
            </div>

            <label for="des">Username</label>
            <div class="input-group">
                <input id="des" class="form-control" placeholder="Username..." name="name" formControlName="username">
            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls.username?.errors?.required&&showFormError">
                Username is required!
            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls['username'].hasError('minlength')&&showFormError">
                Username is must be atleast 3 characters!
            </div>
            <label for="uis">Phone</label>
            <div class="input-group">
                <input id="uis" class="form-control" placeholder="Phone..." name="phone" type="tel"
                    formControlName="phone">
            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls.phone?.errors?.required&&showFormError">
                Phone number is required!
            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="rf1.controls['phone'].hasError('pattern')&&showFormError">
                Phone is invalid!
            </div>
            <label for="role">Role</label>
            <div class="input-group">
                <select class="form-select" formControlName="role">
                    <option value="Administrator">Administrator</option>
                    <option value="Shipper">Shipper</option>
                    <option selected value="User">User</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div *ngIf="!isCreatingUser">

            <button type="button" class="btn btn-outline-dark" style="background-color: rgb(25, 216, 41);"
                (click)="createProfile()">Save</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
        <div class="loading-full" style="height: 100px;" *ngIf="isCreatingUser">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Please wait a sec...</p>
        </div>
    </div>
</ng-template>


<ng-template #deleteUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete user </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-tron text-monospace">Delete this user?</p>
    </div>
    <div class="modal-footer">
        <div *ngIf="!isDeletingUser">

            <button type="button" class="btn btn-outline-dark" style="background-color: rgb(25, 216, 41);"
                (click)="deleteProfile()">Yes</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
        <div class="loading-full" style="height: 100px;" *ngIf="isDeletingUser">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Please wait a sec...</p>
        </div>
    </div>
</ng-template>



<ng-template #add_product let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add a product</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="rf2">
            <div class="form-group">
                <label for="name">Product Name</label>
                <p class="text-center" *ngIf="rf2.controls.name?.errors?.required&&showFormError">
                    <i class="fas fa-exclamation-triangle"></i>Product name not
                    valid!
                </p>
                <div class="input-group">
                    <input id="name" class="form-control" placeholder="name..." name="name" formControlName="name">
                </div>
                <label for="price">Price</label>
                <p class="text-center" *ngIf="rf2.controls.price?.errors?.required&&showFormError">
                    <i class="fas fa-exclamation-triangle"></i>Product price not
                    valid!
                </p>
                <p class="text-center" *ngIf="rf2.controls['price'].hasError('pattern')&&showFormError">
                    <i class="fas fa-exclamation-triangle"></i>Product price not
                    valid!
                </p>
                <div class="input-group">
                    <input id="price" class="form-control" placeholder="price..." name="price" type="number"
                        formControlName="price">
                </div>
                <label for="des">Description</label>
                <p class="text-center" *ngIf="rf2.controls.des?.errors?.required&&showFormError">
                    <i class="fas fa-exclamation-triangle"></i>Product description
                    is empty!
                </p>
                <div class="input-group">
                    <textarea id="des" class="form-control" placeholder="description..." name="des"
                        style="height: 80px;" formControlName="des" multiple></textarea>
                </div>
                <label for="uis">Unit in stock</label>
                <p class="text-center" *ngIf="rf2.controls.uis?.errors?.required&&showFormError"><i
                        class="fas fa-exclamation-triangle"></i>Product unit not
                    valid!</p>
                <div class="input-group">
                    <input id="uis" class="form-control" placeholder="unit in stock..." name="unit"
                        formControlName="uis" type="number">
                </div>
                <label for="cate">Category</label>
                <div class="input-group">
                    <select id="cate" class="form-select" placeholder="100" name="cate" formControlName="category">
                        <option value="Fruit" selected>Fruit</option>
                        <option value="Vegetable">Vegetable</option>
                        <option value="Confectionery">Confectionery</option>
                        <option value="Snack">Snack</option>
                    </select>
                </div>
                <label for="img">Product Image</label>
                <p class="text-center" *ngIf="msg"><i class="fas fa-exclamation-triangle"></i>{{msg}}</p>
                <div class="input-group">
                    <input type="file" id="img" class="form-control" placeholder="imgUrl" name="dp"
                        (change)="selectFileProduct($event)">
                </div>
                <img style="width: 100px;height: 100px;margin-top: 10px;" src="{{proImgUrl}}">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div *ngIf="!isCreatingProduct">

            <button type="button" class="btn btn-outline-dark" style="background-color: rgb(25, 216, 41);"
                (click)="addProduct()">Add</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
        <div class="loading-full" style="height: 100px;" *ngIf="isCreatingProduct">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Please wait a sec...</p>
        </div>
    </div>
</ng-template>





<ng-template #edit_product let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit a product</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="rf3">
            <div class="form-group">
                <label for="name">Product Name</label>
                <p class="text-center" *ngIf="rf3.controls.name?.errors?.required&&showFormError">
                    <i class="fas fa-exclamation-triangle"></i>Product name not
                    valid!
                </p>
                <div class="input-group">
                    <input id="name" class="form-control" placeholder="name..." name="name" formControlName="name">
                </div>
                <label for="price">Price</label>
                <p class="text-center" *ngIf="rf3.controls.price?.errors?.required&&showFormError">
                    <i class="fas fa-exclamation-triangle"></i>Product price not
                    valid!
                </p>
                <p class="text-center" *ngIf="rf3.controls['price'].hasError('pattern')&&showFormError">
                    <i class="fas fa-exclamation-triangle"></i>Product price not
                    valid!
                </p>
                <div class="input-group">
                    <input id="price" class="form-control" placeholder="price..." name="price" type="number"
                        formControlName="price">
                </div>
                <label for="des">Description</label>
                <p class="text-center" *ngIf="rf3.controls.des?.errors?.required&&showFormError">
                    <i class="fas fa-exclamation-triangle"></i>Product description
                    is empty!
                </p>
                <div class="input-group">
                    <textarea id="des" class="form-control" placeholder="description..." name="des"
                        style="height: 80px;" formControlName="des" multiple></textarea>
                </div>
                <label for="uis">Unit in stock</label>
                <p class="text-center" *ngIf="rf3.controls.uis?.errors?.required&&showFormError"><i
                        class="fas fa-exclamation-triangle"></i>Product unit not
                    valid!</p>
                <div class="input-group">
                    <input id="uis" class="form-control" placeholder="unit in stock..." name="unit"
                        formControlName="uis" type="number">
                </div>
                <label for="cate">Category</label>
                <div class="input-group">
                    <select id="cate" class="form-select" placeholder="100" name="cate" formControlName="category">
                        <option value="Fruit" selected>Fruit</option>
                        <option value="Vegetable">Vegetable</option>
                        <option value="Confectionery">Confectionery</option>
                        <option value="Snack">Snack</option>
                    </select>
                </div>
                <label for="img">Product Image</label>
                <p class="text-center" *ngIf="msg"><i class="fas fa-exclamation-triangle"></i>{{msg}}</p>
                <div class="input-group">
                    <input type="file" id="img" class="form-control" placeholder="imgUrl" name="dp"
                        (change)="selectFileProduct($event)">
                </div>
                <img style="width: 100px;height: 100px;margin-top: 10px;" src="{{proImgUrl}}">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div *ngIf="!isEditingProduct">

            <button type="button" class="btn btn-outline-dark" style="background-color: rgb(25, 216, 41);"
                (click)="tryEditProduct()">Edit</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
        <div class="loading-full" style="height: 100px;" *ngIf="isEditingProduct">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Please wait a sec...</p>
        </div>
    </div>
</ng-template>




<ng-template #deleteProductModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete product </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-tron text-monospace">Delete this product?</p>
    </div>
    <div class="modal-footer">
        <div *ngIf="!isDeletingProduct">

            <button type="button" class="btn btn-outline-dark" style="background-color: rgb(25, 216, 41);"
                (click)="deleteProduct()">Yes</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
        <div class="loading-full" style="height: 100px;" *ngIf="isDeletingProduct">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Please wait a sec...</p>
        </div>
    </div>
</ng-template>


<ng-template #order_info let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="loading-full" *ngIf="isGettingOrderDetail">
            <div class="spinner-border text-info" role="status" style="width: 4rem;height: 4rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Please wait a sec...</p>
        </div>
        <div class="table-responsive p-20" *ngIf="!isGettingOrderDetail">
            <p>Total Item : {{selectedOrder.totalItem}}</p>
            <p>Total Price : {{(selectedOrder.totalPrice).toFixed(2)}}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th class="bdwT-0">Image</th>
                        <th class="bdwT-0">Name</th>
                        <th class="bdwT-0">Price</th>
                        <th class="bdwT-0">Quantity</th>
                        <th class="bdwT-0">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let od of selectedOrder.orderDetails">
                        <td><img style="height: 40px;width: 40px;" src="{{ od.product.imgUrl }}"></td>
                        <td>{{ od.product.name }}</td>
                        <td>${{ od.product.price }}</td>
                        <td>{{ od.quantity }}</td>
                        <td>${{ (od.product.price*od.quantity).toFixed(2) }}</td>
                    </tr>
                </tbody>
            </table>
            <p>Note : {{selectedOrder.note}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>


<ng-template #edit_order let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit this order</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="rf4">
            <div class="form-group">
                <label for="status">Status</label>
                <div class="input-group">
                    <select id="status" class="form-control" placeholder="100" name="status" formControlName="status">
                        <option value="0">Not approved</option>
                        <option value="1">Approved</option>
                    </select>
                </div>
                <label for="des">Note</label>

                <div class="input-group">
                    <input id="des" class="form-control" placeholder="Note..." name="name" formControlName="note">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div *ngIf="!isEditingOrder">

            <button type="button" class="btn btn-outline-dark" style="background-color: rgb(25, 216, 41);"
                (click)="editOrder()">Edit</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
        <div class="loading-full" style="height: 100px;" *ngIf="isEditingOrder">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Please wait a sec...</p>
        </div>
    </div>
</ng-template>

<ng-template #order_delete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete this order?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <p class="text-center"><i class="fas fa-exclamation-triangle"></i>Any order and other infomation associate with
            this order will also be deleted!</p>
    </div>
    <div class="modal-footer">
        <div *ngIf="!isDeletingOrder">

            <button type="button" class="btn btn-outline-dark" style="background-color: rgb(25, 216, 41);"
                (click)="deleteOrder()">Yes</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
        <div class="loading-full" style="height: 100px;" *ngIf="isDeletingOrder">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Please wait a sec...</p>
        </div>
    </div>
</ng-template>

<ng-template #rt let-r="result" let-t="term" style="height: 400px;width: 50%;" >
    <div class="typeahead-tron">
        <img [src]="r.imgUrl" class="mr-1 typeahead-tron-img" >
        <ngb-highlight [result]="r.name" [term]="t" class="text-tron"></ngb-highlight>
    </div>

</ng-template>