<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top p-0">

    <a class="navbar-brand" routerLink="/home">
        <img src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1628192627/logo_v5ukvv.png"
            style="width: 40px;height: 40px;">Circle's Shop</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" [collapse]="isCollapsed">
        <ul class="navbar-nav  ml-auto ">
            <li class="nav-item px-2">
                <a [class.active]="active_tab=='av'" (click)="switchTab('av')" class="nav-link">Đơn hàng </a>
            </li>
            <li class="nav-item px-2">
                <a [class.active]="active_tab=='dv'" (click)="switchTab('dv')" class="nav-link">Đơn hàng đã nhận</a>
            </li>
            <li class="nav-item px-2">
                <a [class.active]="active_tab=='his'" (click)="switchTab('his')" class="nav-link">Lịch sử</a>
            </li>

        </ul>

        <ul class="navbar-nav ml-auto" >
            <li class="nav-item dropdown mr-3">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" *ngIf="!isLoading">
                    <i class="fas fa-user"></i> Xin chào {{user.displayName}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item">
                        <i class="fas fa-user-circle"></i> Profile
                    </a>
                    <a class="dropdown-item">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </div>
            </li>
            <li class="nav-item" (click)="signOut()">
                <a class="nav-link">
                    <i class="fas fa-user-times"></i> Đăng xuất
                </a>
            </li>
        </ul>
    </div>

</nav>


<!-- HEADER -->
<header id="main-header" class="py-2 bg-primary text-white" *ngIf="active_tab=='av'">
    <div class="container">
        <div class="row">
            <div class="col-md-6 " >
                <h1 class="text-tron">
                    <i class="fas fa-search"></i> Tìm đơn hàng
                </h1>

            </div>
        </div>
    </div>
</header>

<header id="main-header" class="py-2 bg-success text-white" *ngIf="active_tab=='dv'">
    <div class="container">
        <div class="row">
            <div class="col-md-6 " >
                <h1 class="text-tron">
                    <i class="fas fa-clipboard-check"></i> Đơn hàng đã nhận
                </h1>

            </div>
        </div>
    </div>
</header>


<header id="main-header" class="py-2 bg-warning text-white" *ngIf="active_tab=='his'">
    <div class="container">
        <div class="row">
            <div class="col-md-6 " >
                <h1 class="text-tron">
                    <i class="fas fa-history"></i> Lịch sử
                </h1>

            </div>
        </div>
    </div>
</header>



<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" (click)="switchTab('av')">
                    <i class="fas fa-search"></i> Tìm đơn hàng
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-success btn-block" (click)="switchTab('dv')">
                    <i class="fas fa-clipboard-check"></i> Đơn hàng đã nhận
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-warning btn-block" (click)="switchTab('his')">
                    <i class="fas fa-history"></i> Lịch sử
                </a>
            </div>
        </div>
        <hr>
    </div>
</section>

<div class="loading-full" style="height: 100px;" *ngIf="isLoading">
    <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class="text monospace">Xin chờ 1 lúc...</p>
</div>

<!-- ---------------------------------------------------------------------------------------------------------- -->
<div class="d-flex flex-wrap justify-content-around " *ngIf="!isLoading&&active_tab=='av'">

    <div class="form-group">
        <label>Sắp xếp theo: </label>
        <select class="form-select" [(ngModel)]="orderOrder" (change)="onAvailableOrderFilterChange()">
            <option value="Id" selected="true">Id</option>
            <option value="Price">Tổng giá</option>
            <option value="OrderDate">Ngày đặt</option>
        </select>
    </div>
    <div class="form-group">
        <label>Asc/Desc: </label>
        <select class="form-select" [(ngModel)]="orderDirOrder" (change)="onAvailableOrderFilterChange()">
            <option value="Asc">
                <p>Asc<i class="fas fa-sort-amount-up-alt"></i></p>
            </option>
            <option value="Desc">
                <p>Desc<i class="fas fa-sort-amount-down"></i></p>
            </option>
        </select>
    </div>
    <div class="form-group">
        <label>Hiển thị: </label>
        <select class="form-select" [(ngModel)]="pageSizeOrder" (change)="onAvailableOrderFilterChange()">
            <option value="5" selected="true">5</option>
            <option value="2">2</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </div>
</div>

<div class="container" *ngIf="!isLoading&&active_tab=='av'">
    <div class="row">
        <div class="col">
            <div class="table-responsive sh-table">
                <table class="table table-striped table-primary  ">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Thông tin liên lạc</th>
                            <th>Ngày đặt</th>
                            <th>Tổng SP</th>
                            <th>Tổng Gái</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let o of orderList,index as i">

                            <td>
                                <p class="text-monospace">{{o.id}}</p>
                            </td>
                            <td>
                                <p class=" text-monospace">{{o.contactName}}</p>
                                <p class="text-monospace">{{o.address}}</p>
                                <p class=" text-monospace">{{o.email}}</p>
                            </td>
                            <td>
                                <p class="text-monospace">{{o.orderDate}}</p>
                            </td>
                            <td>
                                <p class="text-monospace">{{o.totalItem}}</p>
                            </td>
                            <td>
                                <p class=" text-monospace">{{(o.totalPrice)| currency:'VND':''}} <span style="text-decoration: underline;">đ</span></p>
                            </td>
                            <td *ngIf="o.status==0">
                                <span class="badge bg-info text-dark">Chưa duyệt</span>
                            </td>
                            <td *ngIf="o.status==1">
                                <span class="badge bg-success">Đã duyệt</span>
                            </td>
                            <td *ngIf="o.status==2">
                                <span class="badge bg-warning text-dark">Đang giao</span>
                            </td>
                            <td *ngIf="o.status==3">
                                <span class="badge bg-danger">Hoàn thành</span>
                            </td>
                            <td *ngIf="o.status==4">
                                <span class="badge bg-secondary">Hủy</span>
                            </td>
                            <td>
                                <button class="btn btn-warning btn-sm admin-button mr-2" (click)="openOrderInfoModal(order_info,o)">
                                    <i class="fas fa-box-open"></i></button>
                                <button class="btn btn-success  btn-sm admin-button mr-2" (click)="openAcceptOrderInfoModal(order_accept,o)">
                                    <i class="fas fa-vote-yea"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center " *ngIf="!isLoading&&active_tab=='av'">
    <div class="row">
        <div class="col">
            <div id="ng-pagi">
                <ngb-pagination [(page)]="pageNumberOrder" [pageSize]="pageSizeOrder"
                    [collectionSize]="collectionSizeOrder" [maxSize]="3" [boundaryLinks]=true
                    (pageChange)="getAvailableOrder()" size="sm">
                </ngb-pagination>
            </div>

        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------------- -->


<div class="container" *ngIf="!isLoading&&active_tab=='dv'">  
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-primary  ">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Thông tin liên lạc</th>
                            <th>Ngày đặt</th>
                            <th>Tổng SP</th>
                            <th>Tổng Gái</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let o of orderList,index as i">

                            <td>
                                <p class="text-tron text-monospace">{{o.id}}</p>
                            </td>
                            <td>
                                <p class="text-tron text-monospace">{{o.contactName}}</p>
                                <p class="text-tron text-monospace">{{o.address}}</p>
                                <p class="text-tron text-monospace">{{o.email}}</p>
                            </td>
                            <td>
                                <p class="text-tron text-monospace">{{o.orderDate}}</p>
                            </td>
                            <td>
                                <p class="text-tron text-monospace">{{o.totalItem}}</p>
                            </td>
                            <td>
                                <p class="text-tron text-monospace">{{(o.totalPrice)| currency:'VND':''}} <span style="text-decoration: underline;">đ</span></p>
                            </td>
                            <td *ngIf="o.status==0">
                                <span class="badge bg-info text-dark">Chưa duyệt</span>
                            </td>
                            <td *ngIf="o.status==1">
                                <span class="badge bg-success">Đã duyệt</span>
                            </td>
                            <td *ngIf="o.status==2">
                                <span class="badge bg-warning text-dark">Đang giao</span>
                            </td>
                            <td *ngIf="o.status==3">
                                <span class="badge bg-danger">Hoàn thành</span>
                            </td>
                            <td *ngIf="o.status==4">
                                <span class="badge bg-secondary">Hủy</span>
                            </td>
                            <td>
                                <button class="btn btn-warning  btn-sm admin-button mr-2" (click)="openOrderInfoModal(order_info,o)">
                                    <i class="fas fa-box-open"></i></button>
                                <button class="btn btn-success  btn-sm admin-button mr-2" (click)="openFinishOrderInfoModal(order_finish,o)">
                                    <i class="fas fa-vote-yea"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- ---------------------------------------------------------------------------------------------------------- -->


<div class="container" *ngIf="!isLoading&&active_tab=='his'">  
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-primary  ">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Thông tin liên lạc</th>
                            <th>Ngày đặt</th>
                            <th>Tổng SP</th>
                            <th>Tổng Gái</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let o of orderList,index as i">

                            <td>
                                <p class="text-tron text-monospace">{{o.id}}</p>
                            </td>
                            <td>
                                <p class="text-tron text-monospace">{{o.contactName}}</p>
                                <p class="text-tron text-monospace">{{o.address}}</p>
                                <p class="text-tron text-monospace">{{o.email}}</p>
                            </td>
                            <td>
                                <p class="text-tron text-monospace">{{o.orderDate}}</p>
                            </td>
                            <td>
                                <p class="text-tron text-monospace">{{o.totalItem}}</p>
                            </td>
                            <td>
                                <p class="text-tron text-monospace">{{(o.totalPrice)| currency:'VND':''}} <span style="text-decoration: underline;">đ</span></p>
                            </td>
                            <td *ngIf="o.status==0">
                                <span class="badge bg-info text-dark">Chưa duyệt</span>
                            </td>
                            <td *ngIf="o.status==1">
                                <span class="badge bg-success">Đã duyệt</span>
                            </td>
                            <td *ngIf="o.status==2">
                                <span class="badge bg-warning text-dark">Đang giao</span>
                            </td>
                            <td *ngIf="o.status==3">
                                <span class="badge bg-danger">Hoàn thành</span>
                            </td>
                            <td *ngIf="o.status==4">
                                <span class="badge bg-secondary">Hủy</span>
                            </td>
                            <td>
                                <button class="btn btn-warning  btn-sm admin-button mr-2" (click)="openOrderInfoModal(order_info,o)">
                                    <i class="fas fa-box-open"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<ng-template #order_info let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="loading-full" *ngIf="isGettingOrderDetail">
            <div class="spinner-border text-info" role="status" style="width: 4rem;height: 4rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Xin chờ 1 xíu...</p>
        </div>
        <div class="table-responsive p-20" *ngIf="!isGettingOrderDetail">
            <p>Tổng SP : {{selectedOrder.totalItem}}</p>
            <p>Tổng giá : {{(selectedOrder.totalPrice)| currency:'VND':''}} <span style="text-decoration: underline;">đ</span></p>
            <table class="table">
                <thead>
                    <tr>
                        <th class="bdwT-0">SP</th>
                        <th class="bdwT-0">Tên</th>
                        <th class="bdwT-0">Giá</th>
                        <th class="bdwT-0">Số lượng</th>
                        <th class="bdwT-0">Giá lẻ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let od of selectedOrder.orderDetails">
                        <td><img style="height: 40px;width: 40px;" src="{{ od.product.imgUrl }}"></td>
                        <td>{{ od.product.name }}</td>
                        <td>${{ od.product.price | currency:'VND':''}} <span style="text-decoration: underline;">đ</span></td>
                        <td>{{ od.quantity }}</td>
                        <td>${{ (od.product.price*od.quantity)| currency:'VND':''}} <span style="text-decoration: underline;">đ</span></td>
                    </tr>
                </tbody>
            </table>
            <p>Ghi chú : {{selectedOrder.note}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Đóng</button>
    </div>
</ng-template>

<ng-template #order_accept let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nhận giao đơn hàng này?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-center"><i class="fas fa-exclamation-triangle"></i>Bạn nhận giao đơn hàng này?</p>
    </div>
    <div class="modal-footer">
        <div *ngIf="!isAcceptingOrder">

            <button type="button" class="btn btn-outline-dark" style="background-color: rgb(25, 216, 41);"
                (click)="acceptOrder()">Yes</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
        <div class="loading-full" style="height: 100px;" *ngIf="isAcceptingOrder">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Xin chờ 1 xíu...</p>
        </div>
    </div>
</ng-template>



<ng-template #order_finish let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Hoàn thành đơn hàng này?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="rf1">
            <div class="form-group">
                <label for="status">Status</label>
                <div class="input-group">
                    <select id="status" class="form-control" placeholder="100" name="status" formControlName="status">
                        <option value="3">Đã giao xong</option>
                        <option value="4">Bị hủy</option>
                    </select>
                </div>
                <label for="des">Ghi chú</label>

                <div class="input-group">
                    <input id="des" class="form-control" placeholder="Note..." name="name" formControlName="note">
                </div>
            </div>
        </form>
      
    </div>
    <div class="modal-footer">
        <div *ngIf="!isFinishingOrder">

            <button type="button" class="btn btn-outline-dark" style="background-color: rgb(25, 216, 41);"
                (click)="finishOrder()">Yes</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
        <div class="loading-full" style="height: 100px;" *ngIf="isFinishingOrder">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text monospace">Xin chờ 1 xíu...</p>
        </div>
    </div>
</ng-template>