<app-nav></app-nav>
<div class="container animate__animated animate__bounceInDown mt-2">
    <div class="row">
        <ol class="breadcrumb">
            <li routerLink="/home"><a class="breadcrumb-link">
                    Home
                </a>
            </li>
            <li><a class="breadcrumb-link"><span itemprop="name">Giỏ hàng</span></a></li>

        </ol>
        <div class="col" *ngIf="cartItems.length==0">
            <p class="lead text-center" style="margin-bottom: 500px;">
                Giỏ hàng của bạn rỗng! Hãy thêm vài sản phẩm vào giỏ hàng đi!
            </p>
        </div>
    </div>
</div>

<main class="main-container pt-3 pb-3 animate__animated animate__bounceInUp" *ngIf="cartItems.length!=0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="tabs-wrapper mb-120 brk-library-rendered" data-brk-library="component__steps">
                    <div class="steps__wrapper-main steps__wrapper-checkers">
                        <div class="steps__progress" style="width: 3.33%;background-color: royalblue;"></div>
                        <ul class="steps__wrapper tabs rendered" data-tabgroup="tab-group-5">
                            <li class="complete" style="background-color: greenyellow;">
                                <a class="active">
                                    <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                        <span class="before"></span>
                                        <span class="after"></span>
                                        1
                                    </span>
                                    <p class="font__family-montserrat font__size-15 steps__title">Giỏ hàng</p>
                                </a>
                            </li>
                            <li class="">
                                <a class="">
                                    <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                        <span class="before"></span>
                                        <span class="after"></span>
                                        2
                                    </span>
                                    <p class="font__family-montserrat font__size-15 steps__title">Đăng nhập</p>
                                </a>
                            </li>
                            <li class="">
                                <a class="">
                                    <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                        <span class="before"></span>
                                        <span class="after"></span>
                                        3
                                    </span>
                                    <p class="font__family-montserrat font__size-15 steps__title">Thanh toán</p>
                                </a>
                            </li>
                            <li class="">
                                <a class="">
                                    <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
                                        <span class="before"></span>
                                        <span class="after"></span>
                                        4
                                    </span>
                                    <p class="font__family-montserrat font__size-15 steps__title">Hoàn thành</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col  ">
                <div style="width: 100%;" class="d-flex justify-content-center">

                    <table class="table table-cart" style="margin-top: 20px;width: 100%;table-layout : fixed">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Sản phẩm</th>
                                <th>Tên</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let o of cartItems,index as i">
                                <td>
                                    <div
                                        class="d-flex flex-row justify-content-lg-start justify-content-between align-items-center">
                                        <button class="brk-cart__remove" (click)="removeFromCart(o)"></button>
                                        <img src="{{o.imgUrl}}" alt="item-alt" class="brk-cart__img lazyloaded">
                                    </div>
                                </td>
                                <td aria-label="Product">
                                    <a href="#" class="font__size-16 line-height-1-375 brk-cart__title">{{o.name}}</a>
                                </td>
                                <td aria-label="Price">
                                    <div *ngIf="!o.promoInfo">
                                        <span
                                            class="font__size-16 line__height-20 font__family-montserrat font__weight-bold">{{o.price
                                            |currency:'VND':''}} <span style="text-decoration: underline;">đ</span>
                                        </span>
                                    </div>

                                    <div *ngIf="o.promoInfo">
                                        <span *ngIf="o.promoInfo.promotionPercent!='null'"
                                            class="font__size-16 line__height-20 font__family-montserrat font__weight-bold">{{o.price-o.price*toNumber(o.promoInfo.promotionPercent)/100
                                            |currency:'VND':''}} <span class="currency-dis">đ</span><span
                                                class="badge bg-success" 
                                                ngbTooltip="{{o.promoInfo.promotion.name}}&#013;Bắt đầu : {{o.promoInfo.promotion.startDate}}&#013;Kết thúc : {{o.promoInfo.promotion.endDate}}&#013;Giảm : {{o.promoInfo.promotionPercent}}%&#013;Giá gốc : {{o.price| currency:'VND':''}} đ" placement="auto"
                                                data-html="true">-{{o.promoInfo.promotionPercent}}%</span>
                                        </span>

                                        <span *ngIf="o.promoInfo.promotionAmount!='null'"
                                            class="font__size-16 line__height-20 font__family-montserrat font__weight-bold">{{o.price-toNumber(o.promoInfo.promotionAmount)
                                            |currency:'VND':''}} <span class="currency-dis">đ</span><span
                                                class="badge bg-danger" ngbTooltip="{{o.promoInfo.promotion.name}}&#013;Bắt đầu : {{o.promoInfo.promotion.startDate}}&#013;Kết thúc : {{o.promoInfo.promotion.endDate}}&#013;Giảm : {{o.promoInfo.promotionAmount}}VND&#013;Giá gốc : {{o.price| currency:'VND':''}} đ&#013;" placement="auto"
                                                data-html="true">-{{o.promoInfo.promotionAmount| currency:'VND':''}}
                                                <span class="currency-dis">đ</span></span>
                                        </span>
                                    </div>
                                </td>
                                <td class="d-flex justify-content-center">


                                    <p class="text-monospace"><i class="fas fa-angle-double-left"
                                            (click)="removeOneFromCart(o)"></i> {{cartItemsQuantity[i]}}
                                        <i class="fas fa-angle-double-right" (click)="addOneToCart(o)"></i>
                                    </p>



                                </td>
                                <td aria-label="Total">
                                    <div *ngIf="!o.promoInfo">
                                        <span
                                            class="font__size-16 line-height-1-5 font__family-montserrat font__weight-bold">{{(cartItemsQuantity[i]*o.price)
                                            |currency:'VND':''}} <span class="currency-dis">đ</span>
                                        </span>
                                    </div>
                                    <div *ngIf="o.promoInfo">
                                        <span *ngIf="o.promoInfo.promotionPercent!='null'"
                                            class="font__size-16 line-height-1-5 font__family-montserrat font__weight-bold">{{(cartItemsQuantity[i]*(o.price-o.price*toNumber(o.promoInfo.promotionPercent)/100))
                                            |currency:'VND':''}} <span class="currency-dis">đ</span>
                                        </span>
                                        <span *ngIf="o.promoInfo.promotionAmount!='null'"
                                            class="font__size-16 line-height-1-5 font__family-montserrat font__weight-bold">{{(cartItemsQuantity[i]*(o.price-toNumber(o.promoInfo.promotionAmount)))
                                            |currency:'VND':''}} <span class="currency-dis">đ</span>
                                        </span>
                                    </div>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="brk-cart__footer">
                    <div class="brk-cart__footer-coupon">

                        <button type="button" class="btn btn-success" (click)="checkOut()">Thanh toán <i
                                class="fas fa-dollar-sign"></i></button>
                        <button type="button" class="btn btn-warning" routerLink="/search">Tiếp tục Shopping <i
                                class="fas fa-shopping-cart"></i></button>

                    </div>
                    <div class="brk-cart__footer-total">
                        <div class="brk-cart__footer-total-item font__family-montserrat">
                            <div class="font__size-sm-14 font__size-13 line-height-1-5">Tổng SP : </div>
                            <div class="font__size-16 line-height-1-25 font__weight-bold brk-base-font-color">
                                {{totalItem}}
                            </div>
                        </div>
                        <div class="brk-cart__footer-total-item font__family-montserrat">
                            <div class="font__size-sm-14 font__size-13 line-height-1-5">Tổng tiền : </div>
                            <div class="font__size-14 line-height-1-5 font__weight-bold">{{(totalPrice)
                                |currency:'VND':''}} <span style="text-decoration: underline;">đ</span>
                            </div>
                        </div>
                        <div class="brk-cart__footer-total-item font__family-montserrat" *ngIf="totalPrice>=200000">
                            <div class="font__size-sm-14 font__size-13 line-height-1-5">Giao hàng và vận chuyển</div>
                            <div class="font__size-14 line-height-1-5 font__weight-bold">Free</div>
                        </div>
                        <div class="brk-cart__footer-total-item font__family-montserrat" *ngIf="totalPrice<200000">
                            <div class="font__size-sm-14 font__size-13 line-height-1-5">Giao hàng và vận chuyển</div>
                            <div class="font__size-14 line-height-1-5 font__weight-bold">{{(shippingFee)
                                |currency:'VND':''}} <span style="text-decoration: underline;">đ</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>





<ng-template #loginModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Login</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="rf1">
            <div class="form-group">
                <div class="input-group">
                    <label for="email">Email :</label>

                    <div class="input-group">
                        <input id="email" class="form-control" placeholder="Email..." name="email"
                            formControlName="email">
                    </div>
                    <div class="input-group" *ngIf="rf1.controls.email?.errors?.required&&showFormError">
                        <p class="text-center d-block">
                            Email is required! <i class="fas fa-exclamation-triangle"></i></p>
                    </div>
                    <div class="input-group" *ngIf="rf1.controls.email?.errors?.email&&showFormError">
                        <p class="text-center d-block">
                            Email not valid! <i class="fas fa-exclamation-triangle"></i></p>
                    </div>
                    <label for="password" c>Password :</label>
                    <div class="input-group ">
                        <input id="password" class="form-control" placeholder="Password..." name="password"
                            type="password" formControlName="password">
                    </div>
                    <div class="input-group" *ngIf="rf1.controls.password?.errors?.required&&showFormError">
                        <p class="text-center d-block">
                            Password is required! <i class="fas fa-exclamation-triangle"></i></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="isLoadingLogin" class="div-center-content">
        <div class="spinner-border text-primary" role="status">

        </div>
        <p style="color: rgb(8, 8, 8);"> Please wait a sec ...</p>
    </div>
    <div class="modal-footer">

        <button *ngIf="!isLoadingLogin" type="button" class="btn btn-outline-dark" (click)="tryLogin()">Login</button>
    </div>
</ng-template>